[2022-01-27 21:41] libbyhopfauf commented on #363
@dericed @ElderOrb last i checked, this was resolved, yeah?

[2022-01-27 21:43] libbyhopfauf commented on #277
@ElderOrb would it be possible to replace the DVRescue logo in the GUI with this file: https://github.com/mipops/dvrescue/blob/main/Source/GUI/dvrescue/dvrescue/icons/logo-inverse.png ?

[2022-02-01 20:37] privatezero opened #436 "GUI build problems Ubuntu 20.04"
Hi - just updated to DVRescue v.0.21.11.20220129 and the GUI appears broken. I've tested on two separate machines, so I don't think it is a local problem.

On attempting to open `dvrescue-gui` I get the following errors:

[2022-02-01 23:34] Gionidelaparis opened #437 "No dv data stream coming through DVRescue when capturing"
Hello everyone,

Since last year, I am working on a project, in Chiapas (Mexico), which consists in preserving the video archive of a political collective. With the help of the documentation, available here and on Vrecord Github (and special input from Dave Rice for the Digital8 tape), we transfered around 800 MiniDV and Digital 8 tapes – using Vrecord DVcapture.
I just came back here in San Crist

[2022-02-03 15:55] dericed opened #438 "transfer ui scaling and arrangement"
Here's the ui when 3 decks are attached:

![image](https://user-images.githubusercontent.com/762604/152378527-d20a2d6c-ada9-4c31-af2d-3ae1063cc87e.png)

They are vertically stacked, but I suggest, that the arrangement is first 1x1, then 2x1, then 2x2, then 3x2. Rather than 1x3 as this is.

Also when I reduce the width of the screen, the transfer windows are get squished like this.
![image](https:/

[2022-02-06 21:56] dericed opened #439 "frame filter option"
I suggest a method to allow certain types of frames to be filtered out when processed with dvrescue.

For example:
- filter out frames where the speed and direction are not standard playback speed, such as when direction!=1 and speed!=(31 or 32)
- filter out frames that contain full audio and full video concealment

[2022-02-06 23:03] dericed opened #440 "dv loupe play interface"
This is a plan for a new interface for advanced DV frame analysis. It uses the results of the commands `dvplay` and `dvloupe`.

I suggest to the layout appears as a modal window when you click a magnifying lens icon on the frame table. Each record in the frame table should add in the magnifying lens button. The button should be greyed out / disabled if there is no DV open (such as when you open th

[2022-02-08 00:56] dericed commented on #437
Hey @Gionidelaparis, thanks so much for testing things and reporting all this info back. So in this part in the log is:

[code]

- Just to rule it out, could you please retry the capture but set the destination to a place without a space in the file path or file name.
- Also could you try the CLI directly, like:
- `/Applications/dvrescue.app/Contents/Helpers/dvrescue device://0 -m "/Users/jonathan

[2022-02-08 01:06] iamdamosuzuki commented on #430
The update did in fact fix this! the latest versions also properly track audio errors from the DSR-1500, which is such good news.

[2022-02-08 01:06] #430 closed

[2022-02-08 01:10] dericed commented on #435
IIUC, part2_01.dv mixes 32k and 48k audio, so dvpackager will by default resample to 48k. Then part2_02.dv is all 32k so dvpackager leaves that sample rate as is. So then then you have two file at different sample rates so concatenating after packaging wouldn't work well since the audio sample rates don't match.

Currently we only resample the audio if we need to represent a single dv file with va

[2022-02-08 01:13] dericed commented on #430
yay, thx for reporting and testing @iamdamosuzuki

[2022-02-08 01:21] Gionidelaparis commented on #437
Hi @dericed thanks for coming back to my issue. I really appreciate it
So
. Running the CLI directly (exactly the one you sent me) works perfectly,
. but with the GUI, I tried, and it crashed again, even with renaming the destination (without spaces in file name and path)

Here the commands log:
/Applications/dvrescue.app/Contents/Helpers/dvrescue device://0 -m /Users/jonathanlarcher/essaidvrescue

[2022-02-08 01:34] dericed commented on #426
@libbyhopfauf, hmmm, I guess we need to think brainstorm more with @JeromeMartinez to know what buttons we'd need. Perhaps it's worth setting a retry limit, like try to read damaged tape 2x or 3x, etc. But ya this might not be a boolean on/off, but something that requires a value to say how much to retry.

[2022-02-08 01:34] dericed commented on #423
almost done :D

[2022-02-08 01:42] dericed commented on #400
closing cuz it's there and it works :D

[2022-02-08 01:42] #400 closed

[2022-02-08 01:47] dericed commented on #398
Will close as the design is done. Just waiting on https://github.com/mipops/dvrescue/issues/423 for the functionality.

[2022-02-08 01:47] #398 closed

[2022-02-08 01:56] dericed commented on #356
Hey @iamdamosuzuki @libbyhopfauf @privatezero, it's been a while since discussing, but is the current state working for everyone or should we split up and support a short list of naming strategies?

[2022-02-08 02:17] dericed commented on #375
@ElderOrb, I can recreate this, if I switch to dark mode in system preferences and then restart the app. Can we place a white opaque rectangle behind the plotted components or set the graph background in PlotsView.qml.

[2022-02-08 02:18] dericed commented on #374
Closing because it's there and works.

[2022-02-08 02:18] #374 closed

[2022-02-08 02:19] dericed commented on #364
closing as fixed

[2022-02-08 02:19] #364 closed

[2022-02-08 02:21] dericed commented on #353
Retested with `v.0.21.11.20220205` and still get

`<frames count="3" pts="00:00:00.567233" end_pts="00:00:00.667333" size="720x480"
video_rate="30000/1001" chroma_subsampling="4:1:1" aspect_ratio="4/3"
audio_rate="48000" channels="4">`

[2022-02-08 02:25] dericed commented on #352
Still open. Here's how dvloupe shows the audio of the second frame:

[code]

This should be noted somewhere in the xml as a reread or merge to better blocks would be helpful.

[2022-02-08 02:48] dericed commented on #357
This value is already in mediainfo:

[code]

For invalid stype, I suggest we sync with ffmpeg (https://github.com/FFmpeg/FFmpeg/blob/2b787ef766941a7565ac143f52d2f5954b9db6e9/libavformat/dv.c#L245-L258), and report frames with invalid stype with a new attribute:

`<frame n="1" pos="120000" pts="00:00:00.033366" abst="341859" tc="01:15:20;28" rdt="2000-08-08 00:58:04;08" rdt_nc="1" seqn="2" audio-st

[2022-02-08 02:48] dericed commented on #363
Yes, resolved :D

[2022-02-08 02:48] #363 closed

[2022-02-08 02:55] dericed commented on #350
Comparing by matching timestamps might be tricky. Currently the x-axis is one tick per frame, so drop outs and timestamp gaps don't stretch out the graph. It's also not always possible to know how much a timestamp gap should be, like if you go from 01:00:00;00 to 00:00:00;08, maybe there were dropped frames but it's not easy to know how many.

Maybe we could align by timecode and timecode break an

[2022-02-08 02:56] dericed commented on #348
I think this was fixed, but also don't have access to a 10.14.6 machine anymore. For anyone finding this, please reopen if an issue.

[2022-02-08 02:56] #348 closed

[2022-02-08 03:03] dericed commented on #346
@elderorb, can we test the player on the analysis tab with this filter:

`-vf "drawtext=text=%{pts\\\:hms}:x=(w-text_w)/2:y=(h-text_h)*(4/5):box=1:boxcolor=gray@0.5:fontsize=36"`

[2022-02-08 03:19] dericed commented on #437
This is an older version of the gui. Can you retry with the most recent development builds:
https://mediaarea.net/download/snapshots/binary/dvrescue
and
https://mediaarea.net/download/snapshots/binary/dvrescue-gui/

and report back

[2022-02-08 03:51] dericed commented on #423
@JeromeMartinez, the sample at https://github.com/mipops/dvrescue/issues/328 is relevant for speed/direction tests too.

[2022-02-08 03:52] dericed commented on #301
@libbyhopfauf, closing as it's in the documentation now

[2022-02-08 03:52] #301 closed

[2022-02-08 03:53] dericed commented on #291
Nudge to @libbyhopfauf, where should we have this link to?

[2022-02-08 03:53] dericed commented on #286
Will close, though comments on the packaging interface are welcome.

[2022-02-08 03:53] #286 closed

[2022-02-08 03:54] dericed commented on #279
:D

[2022-02-08 03:54] #279 closed

[2022-02-08 03:55] dericed commented on #220
@privatezero, still the case?

[2022-02-08 03:55] dericed commented on #177
Closing as this is handled via dvrescue now.

[2022-02-08 03:55] #177 closed

[2022-02-08 03:56] dericed commented on #119
resolved. :)

[2022-02-08 03:56] #119 closed

[2022-02-08 05:58] privatezero commented on #220
Not sure! See https://github.com/mipops/dvrescue/issues/436

[2022-02-08 06:08] privatezero commented on #356
Current state doesn't have the leading zero, which I agree it probably should have. Also, in my use case at least, would be preferable to not have any `_part` suffix in instances when there is only a single part. Not sure about other's naming schemes, but in ours having a `_part` or `_side` suffix always implies the existence of other parts, and with files labeled `_part01` with no `_part02` this

[2022-02-08 15:13] Gionidelaparis commented on #437
Thanks @dericed I just did install the last builds.
But still, the GUI does not display anything (no image/no TC) when I got the tape running
And when recording it creates two (empty) files (0ko), a dv stream + an xml.

Really sorry to report again / I will install on another machine to be sure.

Here are the logs:
/Applications/dvrescue.app/Contents/Helpers/avfctl -cmd play -device 0
2022-02-08 0

[2022-02-08 18:40] kelleycoyne commented on #435
That would be really great, thank you!

[2022-02-08 18:40] #435 closed

[2022-02-08 20:11] JeromeMartinez commented on #436
@privatezero please test [this build](https://mediaarea.net/download/snapshots/binary/mediaconch-gui/20220208-2/).

[2022-02-08 20:33] privatezero commented on #436
@JeromeMartinez, did you mean [this build](https://mediaarea.net/download/snapshots/binary/dvrescue-gui/20220208-3/)? I just tried the build I linked and it was successful on Ubuntu 20.04.

[2022-02-08 20:34] JeromeMartinez commented on #436
Oops, right, wrong copy paste.

[2022-02-08 20:34] #436 closed

[2022-02-08 23:31] belak1 commented on #416
I just came to report what sounds like similar issue encountered with dvmerge. I tried merging two transfers of the same tape and ended with a merged file that seems to interpolate and repeat different parts of the source files. The merged file contains the first 20 minutes of the tape normally, but then starts to jump around repeating some segments of footage to the end (30 minutes total). It's n

[2022-02-08 23:32] JeromeMartinez commented on #416
@belak1 is it possible that we get the files (in private if needed) for debugging?

[2022-02-09 01:15] libbyhopfauf commented on #440
I'll get started on the button for the frame to frame

[2022-02-09 02:12] libbyhopfauf commented on #291
I really like the idea of having it go to a tabbed window like QCTools. @privatezero would that be a separate thing to work into the documentation website or would it work the same way?

[2022-02-09 02:20] libbyhopfauf commented on #356
I agree with @privatezero that I still think this would be the best option and with the leading zero (I spent too much of one of my day last week check and fixing files to make this consistent). I also agree that not having the `_part` suffix for a single part would be preferable.

And I hear the issue with having to check the XML for all and renaming for those who want to keep it as part of the n

[2022-02-09 02:24] libbyhopfauf commented on #350
Would it be helpful if I put together a few other mock-up options based on feedback from @dericed and @iamdamosuzuki ?

[2022-02-09 02:26] libbyhopfauf commented on #375
@ElderOrb @dericed would it better to force it to dark mode, just to make everything look clear/consistent across the GUI?

[2022-02-09 02:28] libbyhopfauf commented on #426
I'd love to do a brainstorm sesh with you and @JeromeMartinez! Ready to create more buttons :)

[2022-02-10 03:33] Kenkoman opened #445 "Capture not detecting camcorder"
hi, I'm trying to use dvrescue-gui (0.21.11.20220209) on a windows 7 pc with firewire to capture dv and my camcorder is not appearing whatsoever in the "transfer" tab. every time I open the software, it asks for the path to a "avfctl" tool that didnt appear to come with the software and I'm unsure where to get it, and on the "status logs" section of the debug tab the message "incorrectly typed com

[2022-02-11 16:16] jbbenoit73 opened #446 "No device found - avfctl path"
Hello. I try to use dvrescue-gui on a Ubuntu 20.04 with firewire to capture dv. Dvrescue don't find my device (Sony DES-25 or Camcoder Sony DCR-VX1000E).
In the settings part, dvrescue asks me "Please specify tool locations" ... "avfctl path" in gray. What can i do.
Differents commands in Terminal :
numerisation@numerisation:~$ sudo dvgrab -i
[sudo] Mot de passe de numerisation :
Error: no camera

[2022-02-11 17:26] privatezero commented on #220
Hi @dericed just confirmed that this is still an issue

[2022-02-12 17:12] Gionidelaparis commented on #437
Hi, a short notice.
I have the same issue with all the three computers we use for capturing. Brew upgraded, everything works fine with DVcapture through Vrecord, but even with the correct GUI interface, I do not have any stream entering.

[2022-02-14 00:04] #417 closed

[2022-02-15 00:41] belak1 opened #447 "dvmerge --increased audio errors in merged file"
I attempted to merge two transfers of the same DVCAM tape and created a file with fewer video block errors but significantly greater audio block errors.

![Screen Shot 2022-02-14 at 16 30 50](https://user-images.githubusercontent.com/60083346/153970003-4a360230-ed2a-4ba4-875b-13150d95133a.png)

This was on macOS 11.6, DVRescue v.0.21.11.20220214. I can share files privately for testing, that would

[2022-02-15 04:41] dericed commented on #447
That's interesting. Sharing the XMLs might give good clues. Can you paste them in gist.github.com and paste links here.

[2022-02-15 08:19] JeromeMartinez commented on #447
And also files, please ( jerome@mediaarea.net ).

[2022-02-15 17:04] belak1 commented on #447
Here are the three XML...

https://gist.github.com/belak1/954f17a0cdcf1c7243ce9ce1855110e1

https://gist.github.com/belak1/90224f460e4ae5a9d07033416c0f53a8

https://gist.github.com/belak1/2a893376422751ea7390d4f3cca793be

...and I will email a download link for the files now.

[2022-02-28 03:28] dericed commented on #438
fixed in https://github.com/mipops/dvrescue/pull/448

[2022-02-28 03:28] #438 closed

[2022-03-07 20:45] dericed opened #452 "dvrescue xml: add input file timestamps to `<media>`"
I realize that after the dv is re-packaged to a container that the timestamps of the initial dv are lost. Let's store these in the xml.

[2022-03-16 03:32] dericed commented on #440
@ElderOrb, with https://github.com/mipops/dvrescue/pull/453, now the dvplay command should be:

`dvplay -O $TEMP_OUTPUT.jpg -b $OFFSET -M $MEDIAINFO_PATH -F $FFMPEG_PATH -X $XMLSTARLET_PATH -d $DVRESCUE_XML_PATH $DV_FILE`
for example, in my env: `./dvplay -b 2040000 -O test8.jpg -F /usr/local/bin/ffmpeg -M /usr/local/bin/mediainfo -X /usr/local/bin/xmlstarlet -d samples/MDV00495_onemin.dv.dvrescue

[2022-03-29 19:29] dericed opened #459 "support pipe out from dvplay"

[2022-04-05 15:40] lem7931 opened #463 "issues setting up DVRescue on Catalina"
Hey there!

 I am helping the NYU Media Lab setup DVRescue but we have run into a few problems and were wondering anyone had any recommendations we could try.

What has worked:
-MacPro Catalina 6.1
-Sony DVCAM DSR-1500A is recognized and GUI (version 0.21.11) loads but image doesn't show/won't capture in the GUI
-Very similar to this issue filed on Github https://github.com/mipops/dvrescue/issues/

[2022-04-05 15:43] dericed commented on #463
Heya @lem7931, can you retry this with the latest version at https://mediaarea.net/download/snapshots/binary/dvrescue and https://mediaarea.net/download/snapshots/binary/dvrescue-gui. Getting capture to play and capture in the gui is a pretty recent development of us.

[2022-04-13 17:22] privatezero opened #464 "Linux dv capture via FFmpeg"
Tested commands for adding support for capture on linux - the following seems to work well.
This is focused only on capture from a single device and will use the default detected DV device. In testing this has been the same default device used by `dvcont` so would seem to be successful for control and capture of a single deck.

`ffmpeg -f iec61883 -i auto -map 0:v -c:v copy -f rawvideo -dvbuffer 1

[2022-04-15 20:49] 3pimz3 commented on #437
Same issue here, running Catalina on a 2012 MBP Retina. Camera control, yes, incoming stream, no. Tried everything I can think of. Can't get anything in the GUI to do anything, sadly. So far, I have not consulted the official documentation, so I'm probably overlooking something silly in the Package window (but loading clips (segments of one transfer) and hitting "package" does nothing at all).

I

[2022-04-22 20:32] dericed opened #468 "use shuttle ff/rew while in play mode"
This request builds upon https://github.com/mipops/dvrescue/pull/458 and https://github.com/mipops/dvrescue/pull/467.

When in the capture ui is actively playing (not capturing), if the user clicks rew or ff, let's have the play command continue but add `avfctl` with `-cmd rewp` or `-cmd ffp`. This should show the video of the tape and the metadata while shuttling the tape. If the user then clicks

[2022-04-22 20:38] dericed opened #469 "after capture, add file to the file table"
For example, if you capture, `file.dv` in the capture tab, then when the capture is complete `file.dv` should be already listed in the table if you switch to the analysis or packaging tab.

[2022-04-22 20:48] dericed opened #470 "add error per frame and tally to csv output"
Currently the capture csv is:

|          |       |        |         |             |      |       |             |       |        |           |         |      |        |                                                |             |            |
|----------|-------|--------|---------|-------------|------|-------|-------------|-------|--------|-----------|---------|------|--------|------------------

[2022-04-27 19:16] privatezero opened #471 "DirectShow DV Device contol in Windows"
Microsoft has this page about using Direct Show to control a DV device: https://docs.microsoft.com/en-us/windows/win32/directshow/controlling-a-dv-camcorder.

Possibly of use when investigating deck control on the Windows side

[2022-05-06 17:46] George-SunsetMediaPres opened #473 "DVCPRO Support?"
Hello dvrescue contributors!

I love this software!

Is it possibe to expand capture capabilities to DVCPRO? I've had amazing success with DV SP/LP, but have not been able to capture anything from DVCPRO tapes.

Maybe I'm missing something?

Thanks!

[2022-05-10 19:01] lem7931 commented on #463
Hello hello,

Just an update - we are still running into issues trying to run/install.  We tried the newest version on Monterey (update from 5-7-2022) but the deck is still not linking.

We have a few options from here including trying on Windows computer and also going back to Catalina.  I was just wondering if anyone else has ran into issues with Monterey.

-Lindsay

[2022-05-11 15:15] dericed commented on #473
Hmmm, good question. Are you able to see the content in QuickTime X when you pick `File > New Movie Recording` and set the drop down selector by the record button to your DV deck. Or @libbyhopfauf, any hints?

[2022-05-12 15:38] lem7931 commented on #463
Hiya

Here is what the terminal said when we tried avfctl -list_devices:

`2022-05-12` 10:24:02.468 avfctl[55589:707518]

Error loading /Library/CoreMediaIO/Plug-Ins/DAL/DeckLinkCMIO.plugin/Contents/MacOS/DeckLinkCMIO:  dlopen(/Library/CoreMediaIO/Plug-Ins/DAL/DeckLinkCMIO.plugin/Contents/MacOS/DeckLinkCMIO, 0x0106): tried: '/Library/CoreMediaIO/Plug-Ins/DAL/DeckLinkCMIO.plugin/Contents/MacOS/Deck

[2022-05-12 15:41] dericed commented on #463
Hmm, I have it running on a trashcan Mac Pro with Big Sur 11.6.2. @libbyhopfauf this sounds similar to your situation.

[2022-05-12 17:39] George-SunsetMediaPres commented on #473
I don't currently have any DVC in house, so I'll have to scrounge something up. Will get back to this ASAP, thanks!

[2022-05-12 17:47] dericed commented on #463
Oh that's a super old GUI. Can you retry after updating to the latest builds mentioned in https://github.com/mipops/dvrescue/issues/463#issuecomment-1088892673.

[2022-05-12 18:46] lem7931 commented on #463
Just updated to the new GUI and while the deck is connected, we get this error:
![Screen Shot 2022-05-12 at 2 43 10 PM](https://user-images.githubusercontent.com/74999102/168146581-773c4e22-2b29-4ba9-a1c9-ae743928982f.png)

Already went and checked that all permissions were given (Camera, Disk Access, etc.)

[2022-05-12 18:50] dericed commented on #463
hit record :)

[2022-05-17 19:17] #280 closed

[2022-05-17 19:23] dericed commented on #277
@libbyhopfauf we have https://github.com/mipops/dvrescue/blob/main/Source/GUI/dvrescue/dvrescue/dvrescue.png and https://github.com/mipops/dvrescue/blob/main/Source/GUI/dvrescue/dvrescue/icons/logo-inverse.png. But could we make this into an alpha background svg logo that could work with either light or dark mode?

[2022-05-18 16:29] belak1 commented on #463
I'm having a similar issue attempting to capture in the DVRescue GUI. I'm using a trash can Mac Pro with Catalina 10.15.17 and upgraded to the latest builds of both the GUI and CLI (v.0.21.11.20220518). DVRescue through vrecord continues to work well.

GUI recognizes the deck and deck control buttons work, but no capture. Using HDV-VCR (Sony HVR-M35U)

Status log:

Command log:

[2022-05-18 19:56] libbyhopfauf commented on #463
@belak1 This sounds really similar to the issues that Jen was having. We just put together the troubleshooting steps that she took to resolve the issue. It has to do with the 3rd party extensions being allowed to communicate with macOS. The troubleshooting starts on [page 8 of the DVRescue draft documentation for troubleshooting set-up](https://docs.google.com/document/d/1FaEWZIf9boTq80uTvKT0nK9MQ

[2022-05-18 20:01] libbyhopfauf commented on #473
I have been transferring DVCPro tapes with a few different decks using vrecord and the dvrescue GUI. As long as your deck has a Firewire connection and is compatible with DVCPro tapes, it should work normally. But let me know if it works or not with your set up!

[2022-05-18 20:08] libbyhopfauf commented on #277
@dericed I'm not exactly sure what you're asking. Is that just a different setting for exporting the SVG or do you mean you just need me to export both as SVGs? I might have to rebuild the logo entirely to make a "real" SVG, but just let me know which you mean and I can get going on that.

[2022-05-19 16:25] belak1 commented on #463
@libbyhopfauf Thanks so much for the detailed documentation. I reinstalled the Blackmagic drivers as described on page 10 and checked all permissions. However, I don't have the option to change the security policy apparently because the Mac Pro I'm using is from before the T2 Security Chip was installed. The only option I see when booting the Startup Security Utility is to set a firmware password

[2022-05-19 18:48] libbyhopfauf commented on #463
@belak1 thank you! That is super helpful! I'll add this note into the documentation. Thank you for sharing!

I apologize, I meant to note that on page of that documentation, there are instructions for changing the permissions for older Macs. It's mostly just disabling the SIP to fix the same issue (apparently the security chip is supposed to add another layer? IDK why Apple makes it so hard). Hope

[2022-05-19 20:04] belak1 commented on #463
@libbyhopfauf Ah, thank you for the clarification! Unfortunately disabling SIP does not appear to have fixed the issue on the 2013 Mac Pro. I also tried reinstalling the DVRescue GUI afterwards, in case that would reestablish any needed permissions, and still nothing. As before, the GUI sees the deck but immediately crashes when trying to record.

I'll keep trying!

[2022-05-19 22:50] libbyhopfauf opened #476 "suggestion: update to dvpackager interface design"
Right now, I still feel like the rules selection section is confusing for users. Also, the drop-down menu for "aspect ratio changes" is overlapping with the title for the rule. Here's an idea for a slight re-design that I think will help with those issues:

<img width="1792" alt="dvpackager_interfaced_update_suggestion" src="https://user-images.githubusercontent.com/13877631/169416909-083425bc-b5b

[2022-05-19 23:02] libbyhopfauf commented on #476
Also, maybe we should make the "add files" and the "recent" buttons look the same as the "reset" and "apply" ones for both this interface and the dvanalysis one, just to make it more clear that they are buttons and to be consistent with the design. @dericed @privatezero thoughts?

[2022-05-20 01:39] libbyhopfauf opened #477 "GUI: dvmerge design"
@privatezero @dericed here's my first stab at a design for the merge interface. Let me know what you two think. Thank you!

I was thinking maybe if it's possible to include the info in the summary in the output table, that would be cool! Also, I was just photoshopping a screenshot, so the "package into same folder" would be "merge into same folder." I'm also working off of the assumption that a lo

[2022-05-20 15:57] lem7931 commented on #463
Popping back in to say that we are facing similar issues with the GUI.  I just disabled the SIP using recovery mode but capture is still not working.

[2022-05-25 21:54] dmarcuswalker commented on #463
Here at Smithsonian CFCH, we're experiencing the same issue after following all of the suggestions in this thread. We're running on an Intel Mac mini (2018), Big Sur (11.6.5). DVCapture in vRecord works, but capturing in DVRescue leads to the process crashing a few seconds after hitting record and typing in the file name. Will check back in to see if anyone finds a work around.

Below is the outpu

[2022-05-26 17:25] dericed commented on #463
![image](https://user-images.githubusercontent.com/762604/170542022-0809da00-77f4-4159-8a23-c1cf05e18ffb.png)

Hmmm, I'm trying it on Big Sur 11.6.2 and it works well. Will try to find a Catalina machine.

[2022-05-26 18:39] dericed opened #478 "support reading and reporting csv without merging"
Related to https://github.com/mipops/dvrescue/pull/458 (where I hope to present the video, even when in play/rew/ff modes), sometimes I want to play video to the gui, which currently uses:

`/Applications/dvrescue.app/Contents/Helpers/dvrescue device://0 -m - --verbosity 9 --csv` but skips writing the output to a file (just plays it from the buffer). I would like it to play even when rewinding and

[2022-05-27 21:33] libbyhopfauf commented on #463
@belak1 any luck? I'm really curious to figure out what the difference in there with Catalina.

@lem7931 can you confirm the Mac model and year you're using, as well as the macOS version currently running on that computer?

[2022-05-27 21:48] libbyhopfauf commented on #463
@lem7931 can you confirm the following:

- Mac model and year you're using
- the macOS version currently running on that computer
- the version of the DVRescue CLI and GUI

[2022-05-27 21:50] libbyhopfauf commented on #463
UPDATE - a couple issues I am having with the set-up detailed above:

- DVRescue doesn't seem to be able to communicate anymore with my DSR-1500A via deck control (I need to manually push the play button on the deck ASAP after entering the identifier and clicking save). The deck control communication with my DSR-25 is operating successfully.
- Also, whenever I close out of the DVRescue GUI by just

[2022-05-27 21:55] libbyhopfauf commented on #463
@lem7931 just to confirm, it looks like you established a connection (see below), did you try hitting record like @dericed  said? The "no signal" image just means nothing is playing, but it looks like it was communicating with your deck since it was listed at the top of the capture window. Just wondering if it was working and now it is not?

[2022-06-02 17:32] dericed commented on #477
I think we could turn the lower right part into something more visual; for instance, if we parse @JeromeMartinez's output here and put it into a table.

[2022-06-08 01:36] jfeakes opened #479 "dvplay issue"
Fresh install of dvrescue through homebrew. All ffmpeg text is piped out but then receiving the following error and an exit when running `dvplay` command on known good PAL .dv file. This error also occurs on dvrescue's sample files.

`[Parsed_tile_2 @ 0x7f35b00a7e40] Option 'init_padding' not found0
Error initializing filter 'tile' with args 'layout=8x4:init_padding=31:overlap=31:padding=1'`

Any

[2022-06-09 18:25] libbyhopfauf commented on #479
@jfeakes were dvplay commands working for you with a previous version?

[2022-06-09 18:28] libbyhopfauf commented on #477
Oh for sure! I think it would be better to have a more comprehensive summary for users. I was just using a screenshot of the running dvmerge with the CLI to illustrate what information generated could go where in the GUI.

[2022-06-10 00:48] jfeakes commented on #479
Hi. I've had it working on other setups in the past which I imagine were earlier versions. This is a fresh 18.04 Ubuntu install so no previous versions have been used on this system.

[2022-06-10 02:39] privatezero commented on #479
@jfeakes does it make a difference if you install from the latest Ubuntu release from [MediaArea](https://mediaarea.net/DVRescue/Download/Ubuntu) (as opposed to the Homebrew install)

[2022-06-10 03:25] jfeakes commented on #479
Unfortunately not. Removed homebrew install and installed from MediaArea along with dependencies. Exact same error shows when attempting dvplay again.

[2022-06-10 16:23] privatezero commented on #479
I can't say for certain as I don't have a machine running 18.04 and don't have time today to dive super deep, but this looks to me like possibly an FFmpeg version issue.

Is your version of FFmpeg still one of the 3.x.x versions? I think you should be able to get up to one of the version 4s via `snap install ffmpeg` - might be worth a shot!

[2022-06-10 17:33] dericed commented on #479
@jfeakes Are you seeing this warning in the terminal output when you run that command?

https://github.com/mipops/dvrescue/blob/main/tools/dvplay#L128-L129

Could you send me an ffmpeg output for the version you're running so I could compare to the requirements.

[2022-06-10 23:53] libbyhopfauf opened #480 "dvcapture GUI - multiple captures crash if one deck is switched off"
If I have two captures going and one finishes if I turn off that deck, DVRescue crashes and ends the other capture that is still going. I receive the same error then as well. So I have to completely redo the capture for the one that was still playing/recording. Also, whenever I close out of the DVRescue GUI (either by just clicking the red x or going to the menu and clicking "Quit DVRescue"), I ge

[2022-06-10 23:55] libbyhopfauf opened #481 "dvcapture GUI - deck control inconsistencies"
DVRescue doesn't seem to be able to communicate anymore with my DSR-1500A via deck control (I need to manually push the play button on the deck ASAP after entering the identifier and clicking save). The deck control communication with my DSR-25 is operating successfully.

[2022-06-13 01:58] jfeakes commented on #479
Hi, no can't see that error. Here is full ffmpeg output for the command:

`bitcurator@DEP52081:~/Documents$ dvplay MA452.dv
ffplay version 3.4.11-0ubuntu0.1ffmpeg version 3.4.11-0ubuntu0.1 Copyright (c) 2003-2022 the FFmpeg developers Copyright (c) 2000-2022 the FFmpeg developers

  built with gcc 7 (Ubuntu 7.5.0-3ubuntu1~18.04)
  built with gcc 7 (Ubuntu 7.5.0-3ubuntu1~18.04)
  configuration: --p

[2022-06-15 20:12] dericed opened #483 "update ffmpeg in dvrescue gui bundle"
Currently with the latest daily builds, dvrescue includes ffmpeg 4.4.1

[code]

We require libavformat 59.19.100 or higher, could we switch to include a more up-to-date version?

[2022-06-15 20:29] dericed opened #484 "dvloupe ui: add dif block filter"
can you add a ui to filter the DIF blocks

label: "Show DV DIF block types: "
set to boolean buttons: [ Header, Subcode, Vaux, Audio, Video ]
if enabled, they should add -H -S -X -A -V to the dvloupe command (in that order)
I picture this as a ui like this image shows, https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyPUDutb_p1OXPfmkFq3v_DDygBgTCgwVAig&usqp=CAU, where several boolean buttons

[2022-06-16 10:17] JeromeMartinez commented on #483
59.19.100 is not in official releases.
Please test [20220616-3 snapshot](https://mediaarea.net/download/snapshots/binary/dvrescue-gui/20220616-3/dvrescue_GUI_0.21.11.20220616_Mac.dmg), made with FFmpeg Git.

[2022-06-21 16:57] dericed opened #486 "correlate click on dvplay image with highlight in dvloupe display"
If user clicks on the dvplay image, gather `cX,cY` of the click. Then find the corresponding dvloupe row according to the loc value. The format of the loc value is:

`"loc": "w:h:x:y"`

Find the row where `x <= cX < (x+w) and y <= cY < (y+h)` and highlight that row (refresh dvplay image) and center the highlighted dvloupe row in the visible display. This should let the user correlate a block in th

[2022-06-21 17:03] dericed commented on #484
done in https://github.com/mipops/dvrescue/pull/485

[2022-06-21 17:03] #484 closed

[2022-06-21 17:05] dericed commented on #440
I think this is complete :)

[2022-06-23 18:17] dericed commented on #483
With that snapshot I get:

[code]

I tested in the 20220620 version and got:

[code]

`/Users/jerome`?

[2022-06-27 09:20] JeromeMartinez commented on #478
What is the difference with `-m /dev/nul`?

[2022-06-27 10:39] #483 closed

[2022-06-27 22:31] dericed opened #493 "divide by zero error and inaccurate frame counting"
With two single frame inputs: `dvrescue -v 7 1frame_a.dv 1frame_b.dv -m output.dv`

[code]

A single frame input is summarized to `0 frames in total`, off by one and the used for division later resulting in `inf%`.

[2022-06-28 18:12] #493 closed

[2022-06-30 18:43] dericed opened #496 "deck control behaviors"
# error transitioning from playing-ff to play

If I open the transfer tab and press play, then the metadata updates and video shows.
From here, I press fast-forward and then metadata and video shows as if it's fast forwarding.
From here, I want to return to play mode (currently in ff), so I press play, but the play press is not acknowledged and it says in ff mode.

# record mode should disable all

[2022-06-30 19:13] dericed opened #498 "error with packaged ffmpeg in gui"
[code]

[2022-06-30 21:10] dericed commented on #498
Also with mediainfo:
[code]

[2022-06-30 21:52] dericed opened #499 "add list_devices to dvrescue cli"
currently `dvrescue -h` doesn't list -list_devices

[2022-06-30 22:03] dericed opened #500 "output filename error with dvrescue xml during capture"
When setting the input capture to `no_ext` the outputs are:

- dv = `no_ext.dv`
- xml = `no_ext.dv.dv.dvrescue.xml`

when setting the input to `with_ext.dv` the outputs in capture are:
- dv = `with_ex.dv`
- xml = `with_ex.dv.dv.dvrescue.xml`

The xml files should be `no_ext.dv.dvrescue.xml` and `with_ex.dv.dvrescue.xml`.

[2022-06-30 22:10] dericed opened #501 "adjust discrepancy between xml during capture and after"
The [xml during capture](https://gist.github.com/dericed/42fdf8e606fd9f9b8c411da153fab565) and the [xml after capture](https://gist.github.com/dericed/2ddc1f0cf2fdcc3b714784642e57ee73) are substantially different. During capture gives no `media/@ref` and has a different frame count than after capture. Lots of error differences too.

[2022-06-30 23:22] dericed commented on #481
Noting that running the gui via double-click on the gui still has this issue; however, the issue is not present if launching the gui by calling it via command line. cc @JeromeMartinez

[2022-06-30 23:22] dericed commented on #480
resolved in 2022-0630 version

[2022-06-30 23:22] #480 closed

[2022-06-30 23:23] dericed commented on #433
still an issue. Help us @ElderOrb :D

[2022-06-30 23:26] privatezero opened #502 "Version display for GUI"
Would be helpful if there was a way to easily verify what version of DVRescue GUI is being used (could be a menu option, in the window name etc.)

[2022-06-30 23:47] dericed opened #503 "add BlockErrors_Even to csv output during capture"
with BlockErrors this could then help differentiate between head clog (errors unevenly distributed between odd and even dif sequences) or tape damage (more even distribution between odd and even dif sequences)

[2022-06-30 23:51] dericed opened #504 "add feedback-speed icon in dv capture gui"
To the right of the deck control buttons (like `<< < > [] ()`), add an icon that depicts the `FrameSpeed` value of the CSV.

If the value is `<=-50` then `rewind`
If the value is `-33...-49` then `fast backwards play`
If the value is `-31 or -32` then `backwards play`
If the value is `<0 and >-31` then `slow rewind`
If the value is `0` show the `stop` icon,
If the value is `>0 and <31` then show `

[2022-07-01 23:01] libbyhopfauf opened #505 "simple / advanced toggle for the file table in analysis and packaging tabs"
For the table view in the dvpackager tab, add an option to switch the table to a "simple" view which would look the same, but only include the following columns:

- frame #
- timestamp
- timecode
- recording time
- video error %
- audio error %
- video/audio

[2022-07-01 23:25] libbyhopfauf opened #506 "dvcapture - disc capacity warning"
Continue brainstorming this concept:

Prior to starting a capture, include a disc capacity warning to alert the user as to how much disc space they have left. Could be a counter that is running during capture to calculate/count down the amount of disc space remaining. Could possibly include conditionals to determine size based on video format or capture specs. Could be a warning or could be more l

[2022-07-01 23:35] libbyhopfauf commented on #506
@bturkus @iamdamosuzuki thoughts?

[2022-07-02 00:22] libbyhopfauf opened #507 "GUI: replace "add file" and "recent file" icons"
Replace the current "add file" and "recent file" icons with these images and add a tool tip for each when they are hovered over. This would apply to the dvanalysis, dvpackager, and dvmerge (once created) tabs.

![new-file-icon-example](https://user-images.githubusercontent.com/13877631/176979648-4f6fc7d5-189a-452f-926c-df49d852305e.png)

![add-file](https://user-images.githubusercontent.com/138776

[2022-07-02 00:23] libbyhopfauf commented on #507
@dericed @privatezero thoughts?

[2022-07-02 00:38] libbyhopfauf opened #508 "GUI: replace "transfer" with "capture""
For the dvcapture tab, replace the "transfer" button with this "capture" button.

![new-file-icon-example-capture](https://user-images.githubusercontent.com/13877631/176980217-d4327767-ff2d-452e-8547-d29c270ca1a9.png)

![menu-capture](https://user-images.githubusercontent.com/13877631/176980232-5c028e25-42e2-419e-a9e4-b942679ef6e7.svg)

[2022-07-03 14:57] g-maxime commented on #498
Please test with [this snapshot](https://mediaarea.net/download/snapshots/binary/dvrescue-gui/20220703-2/dvrescue_GUI_0.21.11.20220703_Mac.dmg)

[2022-07-05 03:50] dericed commented on #498
@g-maxime that works for me :D

[2022-07-06 15:09] dericed commented on #506
Seems fine. We need some sort of icon, like a disk glowing red and then mouseover can be like "you only got 10 MB free. Ben, are you sure you want to do this?"

[2022-07-06 15:12] dericed commented on #502
@libbyhopfauf, would you mind mocking about an "About this" display for the gui. It can include the logo, version, links to resources, and date.

[2022-07-06 15:15] dericed commented on #498
Can I close this one?

[2022-07-06 15:22] g-maxime commented on #498
Yes, fixed in build script.

I'll make it more robust and commit it later.

[2022-07-10 11:56] ElderOrb commented on #433
as I can see - the only place where we have horizontal scrollbar - is this table:

![image](https://user-images.githubusercontent.com/23638/178143819-58600adc-dd02-4772-8408-66209abd5e2f.png)

frame table & segment table doesn't seem to even have horizontal scrolling capabilities atm.

do you want to add it here?

also not sure about 'zoom in/out', any examples of where we have such a functionalit

[2022-07-10 12:35] ElderOrb commented on #375
Specified 'cornsilk' as background for plots. This way UI is more consistent with QCTools

[2022-07-11 17:05] dericed opened #511 "advice user on permissions with capture issue in gui"
Under some circumstances, when I play or capture in the gui (where the gui would play the incoming video), the process failed and the debug screen says "process crashed". I was able to fix this by going to Mac System Preferences / Security and unchecking and rechecking the camera permission for the app.

Perhaps during this event we could give some dialog or link to a help page. @libbyhopfauf?

[2022-07-12 14:19] geskalney commented on #476
A progress bar would be a nice addition too.

[2022-07-12 14:19] geskalney commented on #476
When you package a .dv file, is it referencing the capture log and embedding that data in the .mov stream?

[2022-07-12 14:19] geskalney commented on #476
A "watch folder" functionality would also be nice.

[2022-07-13 14:01] dericed commented on #476
Hi @geskalney, the capture log isn't referenced in the output container file, though it does contain the timecode, captions (if available), and chapters based on recording time markers. A log could be stored in Matroska easily as an attachment, but am wondering if there's a suitable place, accessible with ffmpeg's mov muxer, to store that in Quicktime.

[2022-07-24 16:04] ElderOrb commented on #496
@dericed looks like something fixed in wip branch

[2022-07-27 21:59] privatezero opened #512 "Issue w/ snapshots for Ubuntu"
I'm tapping the [MediaArea repository](https://mediaarea.net/en/Repos) and my install of dvrescue and dvrescue-gui appear to be stalled out on the build from 20220604. It doesn't look like snapshot builds are being made for Ubuntu post that date.

[2022-07-28 17:45] dericed opened #513 "csv writing error"
The columns are off in the csv.

I'm running 20220723 (as the most recent builds don't show the mac one) and using: `dvrescue device://0 -capture -cmd play -m - --verbosity 9 --csv`

The output starts like:

[code]

Rows 1-28 are out of alignment with those after and the csv is not valid for variable column count.

[2022-07-28 18:35] privatezero opened #514 "Firewire permissions issue in Ubuntu 22.04"
Haven't been able to test across multiple machines, but post upgrading to 22.04 there was a change in levels of permission on my machine that disabled Firewire devices for my user. This blocked dvrescue components such as dvcont and FFmpeg from communicating with the deck. Adding fix here for more testing and in case other users have same problem.

The fix in  [this post](https://superuser.com/que

[2022-07-28 19:53] privatezero commented on #514
I suppose this might be related to https://github.com/mipops/dvrescue/issues/511 in terms of possibly adding to documentation if necessary

[2022-07-29 13:03] g-maxime commented on #512
Fixed

[2022-07-31 15:54] ElderOrb commented on #468
not relevant anymore due to changed approach. @dericed ?

[2022-08-04 01:35] jfeakes opened #516 ""no frame received" Ubuntu 18.04"
[code]

Using bitcurator, I imagine related to issues I've also been experiencing with dvplay which outputs following:
[code]

[2022-08-04 09:55] JeromeMartinez commented on #516
@jfeakes please share the file (a small sample should be enough), with link to my email address if it can not be public.

[2022-08-04 19:11] #512 closed

[2022-08-05 01:01] jfeakes commented on #516
Link to an 8'' clip of the same tape:
https://drive.google.com/file/d/1UPivxy7GcSzUcIz37Jly2kM-9KuEEWP8/view?usp=sharing

[2022-08-05 11:17] JeromeMartinez commented on #516
Tested on Ubuntu 18.04 :

[code]

Seems fine.

Note: we stopped to release DVRescue build for Ubuntu 18.04 due to too old Qt library for the GUI, but we'll do a specific build with the CLI only.

[2022-08-05 17:10] #513 closed

[2022-08-06 16:26] dericed opened #522 "add scrolling error plot during capture"
Here's an example of the csv during capture:

[code]

I propose adding a thin graph between the player and the control buttons, very a shorter version of the analysis graph, where `BlockErrors` is plotted over time. I suggest if the x axis is in a range from `0 ... n` that the `BlockErrors` of the current frame is plotted at `n`, the  `BlockErrors` of previous frame is `n-1` and so on, so that you

[2022-08-06 19:21] #499 closed

[2022-08-06 19:25] #503 closed

[2022-08-06 19:26] dericed commented on #522
@ElderOrb, note that now both BlockErrors and BlockErrors_Even are available in the csv output via https://github.com/mipops/dvrescue/pull/523/files.

[2022-08-06 19:44] dericed opened #526 "use conditional jumpImage icons"
In places where `alert-non-continuous-jump.svg` is used (such as `jumpImage`) when detecting a `rdt_nc` attribute value, can you change the behavior to this:

If `rdt_nc="1"` use `alert-non-continuous-jump-ahead.svg`
if `rdt_nc="2"` use `alert-non-continuous-jump-back.svg`
else if `rdt_nc` is set use `alert-non-continuous-jump.svg`

If `tc_nc="1"` use `alert-non-continuous-jump-ahead.svg`
if `tc_n

[2022-08-06 19:47] dericed commented on #508
@libbyhopfauf, the font on the icon attached doesn't seem to match and the "capture" svg you attached is the type with an embedded base64 encoded png rather than svg drawn image. Could you match the 'VCR OSD Mono' font of the others?

[2022-08-06 19:49] dericed commented on #28
@privatezero, we have the documentation at https://github.com/mipops/dvrescue/blob/main/tools/dvrescue.xsd, are you interested in making some sort of process to 'make' a user-friendly doc from the xsd in case users really want to understand the dvrescue xml content?

[2022-08-06 19:51] dericed commented on #34
Hi Tom, we've done substantial work on this since this issue was written, could you try a `dvrescue device://0 -m OUTPUT.dv --verbosity 9 --csv` and let us know if the issue is still relevant?

[2022-08-06 19:53] dericed commented on #40
Noting the current state:

[code]

I suggest we could add a quick abstract about what this is for (capturing and analyzing dv) and provide a few examples, at least for querying decks, capturing dv, and analyzing dv.

[2022-08-06 19:56] #94 closed

[2022-08-06 20:00] dericed commented on #346
@iamdamosuzuki, this will be in the next daily build. Please test and reopen or comment any impressions. Thanks. :D

[2022-08-06 20:00] #346 closed

[2022-08-06 20:02] dericed commented on #328
Nudge to @JeromeMartinez as this relates to recent speed and direction work. :)

[2022-08-06 20:02] dericed commented on #212
Retried this one. dvrescue stalls on frame #6 for a long time before crashing.

[code]

[2022-08-06 20:03] dericed commented on #469
Thanks @ElderOrb

[2022-08-06 20:03] #469 closed

[2022-08-06 20:03] #498 closed

[2022-08-06 20:04] dericed commented on #507
Nice, @ElderOrb can you try swapping out "add file" and "recent file" with the ones attached here.

[2022-08-06 20:05] dericed commented on #504
Looks so great :D

[2022-08-06 20:05] #504 closed

[2022-08-06 20:16] dericed commented on #500
Looks good, thx @ElderOrb

[2022-08-06 20:16] #500 closed

[2022-08-06 20:18] dericed commented on #496
I merged WIP into main but still have this issue. Putting the control into some non-play modes (ff for instance) need the play mode disabled. But at least now I can click stop and then am able to hit play.

[2022-08-06 20:19] #478 closed

[2022-08-06 20:20] #468 closed

[2022-08-06 20:22] dericed commented on #439
@jeromemartinez, this is still relevant since it's possible the user can change speed during capture. I'd like an option to ignore scrambled, non-play frames.

[2022-08-06 20:22] dericed commented on #382
superseded by https://github.com/mipops/dvrescue/issues/526

[2022-08-06 20:22] #382 closed

[2022-08-07 00:57] tomackroyd commented on #34
Great news, Dave. My original tests were carried out during the first COVID-19 lockdown here in NZ, when I had time to set up Mac Pro/Snow Leopard and the iMac with my deck and various cable converters. These setups have been retired but I have two options to progress this:
1. Set the iMac back up and repeat the process. Honestly the various alternate ffmpeg and decklink installs confused me and m

[2022-08-07 01:18] privatezero commented on #28
Cool, yeah - I'm on it!

[2022-08-07 01:26] tomackroyd commented on #34
But fwiw this is from the iMac High Sierra partition
iMac:~ GPT1$ dvrescue device://0 -m OUTPUT.dv --verbosity 9 --csv
<?xml version="1.0" encoding="UTF-8"?>
<dvrescue xmlns="https://mediaarea.net/dvrescue" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://mediaarea.net/dvrescue https://mediaarea.net/dvrescue/dvrescue.xsd" version="1.1">
	<creator>
		<program>dvresc

[2022-08-07 20:51] JeromeMartinez commented on #328
Is it important to differentiate? I feel it is too many attributes for only one thing, so I suggest `@speed` either negative or positive e.g. "-32" for reverse playback.

[2022-08-07 20:54] dericed commented on #328
It's not. It can be one value. I'd consider non-playback speed frames in a captured file to be an error in most instances. So would like the xml to depict it and dvrescue merge to have an option to filter them out.

[2022-08-07 21:07] JeromeMartinez commented on #439
Following https://github.com/mipops/dvrescue/issues/328#issuecomment-1207483662, I wonder what should be the default : filter (option for keeping all) or keep all (option for filter)?

[2022-08-07 21:14] dericed commented on #439
The default should be to filter non playback frames (to be used in record mode) but we need a flag to disable filter so we can see these frames in playback, rewind, and ff.

[2022-08-09 23:34] #28 closed

[2022-08-10 18:06] heath42 commented on #437
Wondering if anyone every got resolution here.  I am experiencing similar issues (can capture no problem using vrecord, but get nothing on preview screen and crash when using GUI).

Using Mac Trashcan running 11.6.8

Thanks for any input!

[2022-08-10 20:30] heath42 commented on #437
I just tried capturing with DVRescue CLI and was successful--in fact, I can capture from 2 different SONY HVR-M35U decks at the same time using 2 different terminal windows and the CLI command.

When I use the GUI, however, I get no deck control, no preview, and the debug shows crash when trying to initiate a transfer.

I installed the latest GUI build for my testing (dated 8/10/2022)

The CLI res

[2022-08-10 20:49] JeromeMartinez commented on #437
The GUI uses the CLI for the capture, issue there is that it seems that different versions of macOS or whatever require different tweaks of the security related config (the terminal has more rights by default, but macOS complains sometimes if we try to disable all security features without "a good reason").

It seems that our latest tries make things worse, please try [this snapshot](https://media

[2022-08-10 21:27] libbyhopfauf opened #530 "GUI - Help tab"
Currently the "Help" tab doesn't do anything in the GUI. Could we have it link to the documentation site, please?

[2022-08-10 22:16] libbyhopfauf commented on #508
Okay, how about this one
![new-file-icon-example-capture](https://user-images.githubusercontent.com/13877631/184030013-9c186dd6-57dd-4a8a-ba0c-3ded109e5b59.png)
?

[2022-08-11 12:46] heath42 commented on #437
Thanks Jerome!  I installed dvrescue_GUI_0.21.11.20220810_Mac.dmg from the link you provided, but am seeing the same behavior.  After the install, I double checked that SIP was disabled and it was.  I am unable to allow DVRescue control of the camera in the permissions tab - I do not have a + button to add applications there.  So I confirmed that Terminal has that permission, and then double check

[2022-08-11 12:56] JeromeMartinez commented on #437
Argh... We may have to create a version of the tool with debug logs in order to catch the crash on this specific machine...

This is actually good news, it means that the deck is reachable, and that the "only" issue is to catch the source of the crash.
I'll prepare a version of the tool with a first shot of debug logs, you'll have to be involved as you'll have to send back the log file, and I'll s

[2022-08-11 13:25] dericed commented on #437
At one point the GUI would request Camera access (as that's how the screen input is treated). It's a regression that the gui no longer makes this request, so the process crashes for all controls that include the use of the dv input (all but stop). I have it working on my computer but only because a previous build did prompt for camera access.

[2022-08-11 13:25] g-maxime commented on #437
Sandboxing should works better in 20220811 snapshot, but capture still doesn't work. I'm working on it.

[2022-08-11 15:53] heath42 commented on #437
Happy to help in way possible if you need my feedback.  Just let me know.

Thanks again to all!

[2022-08-11 22:04] libbyhopfauf opened #531 "Documentation - Format Guide Updates"
Here is the [information](https://docs.google.com/document/d/14JOZ0QA85jORfquSK3atHbvJjpcVDBXorkmIsHohDEU/edit?usp=sharing) that needs to be reviewed and then, once approved, added to the format guide on the website. It will also be added to a spreadsheet in the Google Drive [here](https://docs.google.com/spreadsheets/d/1BO6N3JvnISaY_x7_nk4U0WBkGpMOO8Y5oROwVM6Jl50/edit?usp=sharing). Thank you!

[2022-08-12 00:40] libbyhopfauf opened #532 "documentation - dvpackager GUI"
The current working draft of the documentation for using dvpackager in the GUI is [here](https://docs.google.com/document/d/1d1esgk036uSy_iPy_QWz9Oz-FXszjnIK652wdUJM5Zo/edit?usp=sharing). Just waiting for final design changes and ability for testing across platforms to take final screenshots and update instructions.

[2022-08-12 01:33] libbyhopfauf opened #533 "dvanalysis GUI issues"
When files that are longer than 30 seconds are loading, it almost looks like nothing is happening. Maybe we could add some kind of status to let the user know the file is still loading vs. the tool isn't working? Also, when I toggle on the "TC" button, the video won't play. Videos will play in the viewer if the "TC" is toggled off.

Computer = Mac Mini 2012
macOS = Catalina 10.15.7
dvrescue CLI +

[2022-08-12 10:36] g-maxime commented on #437
Does the capture works when the output is set to ~/Library/Containers/net.MediaArea.dvrescue.mac-gui/Data/ ?

[2022-08-12 16:14] heath42 commented on #437
Pardon my ignorance, as I'm not primarily a Mac guy, but that directory does not seem to exist on my system--should I create it?

[2022-08-12 16:18] g-maxime commented on #437
This is supposed to be the sandbox-writable directory, so no, I'll look for another way to test

[2022-08-12 19:06] g-maxime commented on #437
Latest [snapshot](https://mediaarea.net/download/snapshots/binary/dvrescue-gui/20220812/) should works with user's home or download directory as output.

But dues to the sandbox, we should rework the way "sidecar" files (.dvrescue.xml and .scc) are handled by the GUI.

[2022-08-15 18:16] heath42 commented on #437
Wanted to add - Aside from the captures working properly, I had full deck control and preview capability when utilizing the on-screen transport controls.

[2022-08-15 20:08] libbyhopfauf commented on #531
The spreadsheet has been fulled updated, including new links for the images. It's ready for review!

[2022-08-15 20:09] libbyhopfauf opened #534 "documentation - dvanalysis GUI"
The working draft of the instructions and documentation for dvanalysis is [here](https://docs.google.com/document/d/1QH4Qx6FY0S0ssQ0drbShnpzurNOC-7fiNUTDNno6Zcw/edit?usp=sharing).

[2022-08-15 20:55] libbyhopfauf commented on #477
@privatezero @dericed

Okay! Here is the new design based on our brainstorm. Let me know what you think!

![dvmerge_design-02](https://user-images.githubusercontent.com/13877631/184716641-17ca3471-25b3-492c-8ff5-e94a2aff673f.png)

[2022-08-15 20:58] libbyhopfauf commented on #477
Or alternatively, the new table could replace the "Activity Log" section all together. Also, the design could be simplified for the "Summary" and be a similar style? I can make a mock-up if that's the direction we want to go.

[2022-08-15 21:04] libbyhopfauf commented on #277
Yes, the GUI logo still needs to be replaced with this one that has white text and no background, please and thank you!

 https://github.com/mipops/dvrescue/blob/main/Source/GUI/dvrescue/dvrescue/icons/logo-inverse.png

[2022-08-15 21:10] libbyhopfauf commented on #477
Also, here is the SVG for the "Merge" tab:

![menu-merge](https://user-images.githubusercontent.com/13877631/184719090-72db6146-e74e-4d91-93bb-fd83e87b9591.svg)

[2022-08-15 22:33] libbyhopfauf commented on #481
Just wanted to note that this is still an issue with the DSR-1500A (using the latest version 20220813), but is still working normally with other decks tested (DSR-15 and DSR-2000).

[2022-08-15 22:42] libbyhopfauf commented on #533
This is still an issue with version 20220813. In case this continues to be a problem with older computers loading even the smallest files (10+ seconds), I propose we add the following two additions (see corresponding numbers in image for details):

1.) In the mock-up below, I also point to the other two buttons that we need to have added (for toggle captions and dvplay filters on and off), as well

[2022-08-15 23:14] libbyhopfauf commented on #511
@dericed that sounds great to me! I can make the image/compile the screenshots for a help page. Then we could have the dialog in the GUI display the link?

[2022-08-15 23:16] libbyhopfauf commented on #514
I think similarly to #511 we could have the GUI display a link to the specific troubleshooting tip on the docs site. And on the docs site, we could just have a page for each with the steps to fix it and some screenshots, yeah?

[2022-08-15 23:30] libbyhopfauf commented on #502
@dericed @privatezero how about this:

![dvrescue_about](https://user-images.githubusercontent.com/13877631/184743455-ef65886d-499d-4d5a-8918-06d5ea12a4de.png)

[2022-08-15 23:36] libbyhopfauf commented on #372
@ElderOrb @dericed @privatezero Alternatively, we could do a simple table like we were thinking for dvpackager (see #505).

[2022-08-15 23:52] libbyhopfauf opened #535 "dvcapture GUI - additional suggestions"
Using the image below as a guide (numbers + arrows correspond to the numbered list), how do you feel about these changes:

![dvcapture_updates](https://user-images.githubusercontent.com/13877631/184748364-5371130b-47b3-460e-ab2b-1148d0da59d1.png)

**1. Add file name -** I think this would be helpful so that you know which deck is capturing which tape when using multi-capture.
**2. Make highlight f

[2022-08-15 23:52] libbyhopfauf commented on #277
Also see #535 for additional suggested changes to the dvcapture GUI layout.

[2022-08-16 00:47] libbyhopfauf commented on #535
UPDATE: it seems like that is not actually the case, play doesn't need to be pressed after starting the capture, the current display in the GUI just doesn't seem to be responding correctly to what is actually happening. See #437

[2022-08-16 01:11] libbyhopfauf commented on #437
I can confirm that with the latest version (20220813) that I can capture (including multiple captures), as long as I am saving to the Downloads directory and the XML saves in the same location successfully as well. I could create a directory within Downloads to save files, but the root needed to be Downloads.

However, it seems like the GUI is displaying the incorrect. Before I realized that the o

[2022-08-16 01:33] libbyhopfauf opened #536 "documentation - dvcapture GUI"
[Here](https://docs.google.com/document/d/1z_eWOSoZQMm5HPnUngwN2AyuDKFSDrgXwRLAqxEaSow/edit?usp=sharing) is the working document for the dvcapture GUI documentation/instructions. Will continue updating text, but will wait to update images until most recent requests for additions and design changes are incorporated into the GUI.

[2022-08-16 01:55] libbyhopfauf opened #537 "GUI - dvpackager not working"
I have been trying to use dvpackager (with the most recent version 20220813) in the GUI and it doesn't seem to be doing anything. I'm not sure if this is more of a segmenting issue, since it doesn't seem to register changes in recording time in analysis either.

For example, the [file I am trying to package](https://drive.google.com/file/d/11VvxyTvM4S3GqlyBNmjoHUmQQxhTmDql/view?usp=sharing) is a c

[2022-08-16 01:56] libbyhopfauf commented on #537
XML for file used in example above:

<?xml version="1.0" encoding="UTF-8"?>
<dvrescue xmlns="https://mediaarea.net/dvrescue" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://mediaarea.net/dvrescue https://mediaarea.net/dvrescue/dvrescue.xsd" version="1.2.1">
	<creator>
		<program>dvrescue</program>
		<version>0.21.11.20220813</version>
		<library version="22.06">Me

[2022-08-16 01:59] libbyhopfauf commented on #537
@privatezero is this similar to the issues you have been encountering with packager?

[2022-08-16 02:39] libbyhopfauf opened #538 "dvanalysis GUI - table view = buggy"
Within the table view of the analysis GUI, when you click on a line in the table, the following things happen as expected:

- the line in the table is highlighted in purple
- the graph and the player respond by going to that frame

However, if you press play in the player or click to another line in the table, the highlighting disappears. It will scroll along the table for a little bit (highlighti

[2022-08-16 19:08] dericed commented on #437
Hey @libbyhopfauf, yay these are great comments. The little "capturing..." / "stopping..." thing should probably be removed altogeter and replaced with lighting up the associated buttons or showing the status in that sorta feedback icon on the right end of the row. In that case "capturing" refers to that dvrescue is capturing from the input so that it can play it even if it's not writing the outpu

[2022-08-16 19:08] dericed commented on #437
@g-maxime is there an associated pull request for this?

[2022-08-17 00:39] libbyhopfauf commented on #437
Yay! So glad it was helpful! I definitely added the light-up buttons to my recent suggested updates for the capture GUI (see #535).

[2022-08-17 08:33] JeromeMartinez commented on #437
It is WIP at https://github.com/g-maxime/dvrescue/commits/gui-player

Issue is that permissions are limited to home and download directory, is it fine enough for a first PR and then we see how we do for a more long term solution?

[2022-08-17 13:25] dericed commented on #530
Sure. Are you interested in mocking this up in HTML?

[2022-08-17 14:41] dericed commented on #502
wonderful. @JeromeMartinez, @ElderOrb interested in implementing this for the about page?

[2022-08-17 21:48] privatezero commented on #502
Love it!

[2022-08-18 12:46] ablwr commented on #502
BYOOTIFULLLL

[2022-08-18 16:20] ElderOrb commented on #507
@dericed Just tried and... for some reasons it doesn't render correctly - all I see is white part without black cross or shaped arrow. Will export to png and use pngs for now. @libbyhopfauf what tool are you using for svg creation? Maybe it uses advances svg features which are not supported by Qt...

[2022-08-18 16:29] ElderOrb commented on #507
![image](https://user-images.githubusercontent.com/23638/185446778-645b4d0a-9fe3-408c-9429-2278a64fe411.png)

[2022-08-18 16:52] ElderOrb commented on #507
looks good on analyse page:

![image](https://user-images.githubusercontent.com/23638/185451164-db90450c-d5bb-4a24-aa65-f2268317396f.png)

but a bit weird on package:

![image](https://user-images.githubusercontent.com/23638/185451236-11253828-3225-42e4-b508-91665c738a2c.png)

[2022-08-18 23:31] #328 closed

[2022-08-19 15:42] dericed commented on #535
Hey @libbyhopfauf for #2, there is no longer a selected deck. For each deck connected it shows in a player, so within the player there's no deck selection as it's such a label of the deck of that player.

[2022-08-19 23:26] privatezero opened #542 "dv deck control buggy and sporadic"
Testing latest snapshot on macOS 12.4 and still having odd behavior where the deck control/preview will work in a buggy manner for a short period of time, and then ultimately stop being able to control the deck. See attached video - note how often the status "Transfer" displays for non-transfer commands

https://user-images.githubusercontent.com/12941699/185718903-226a88ce-7734-4c3f-941b-92e737a86

[2022-08-20 00:22] libbyhopfauf commented on #542
I've always kind of had issues with playback in vrecord for dvcapture, so kind of forgot to test it. I wonder though if this is related to my issue with vrecord being able to use deck control for the DSR-1500A when it is in remote, but nothing happens in the DVRescue GUI (so I have to keep the deck in local and manually push play immediately after initiating a capture like you would with analog de

[2022-08-22 17:29] libbyhopfauf commented on #535
@dericed okay! that makes sense! So basically, as long as you are using the buttons with the player that has the title of the deck you are wanting to control, you should be good to go. In that case, disregard #2

[2022-08-22 18:07] libbyhopfauf commented on #542
I'm definitely having some similar issues (see screen recording for details):

- The operating descriptions are incorrect as discussed in #437 and #481.
- The GUI seems to have a really long lag when trying to step back.
- There is no display when in REW mode (there is for FF mode, but the player displays a freeze frame when in REW mode.

https://user-images.githubusercontent.com/13877631/18598918

[2022-08-22 18:31] libbyhopfauf commented on #542
I'm definitely having some similar issues (see screen recording for details):

**All decks tested:**
- The operating descriptions are incorrect as discussed in #437 and #481.
- There is no display when in REW mode (there is for FF mode, but the player displays a freeze frame when in REW mode.
- FF and REW modes are both REALLY slow. In the middle of the video, I switch the DSR-1500A to Local mode

[2022-08-22 18:43] libbyhopfauf commented on #542
As a follow up, it seems like the way that the GUI handles widescreen is misleading. The player stretches out the image during playback and capture. The dimensions of the resulting file is correct, but it would be more helpful if the display was accurate. See video below for example and comparison for GUI player display vs. captured file dimensions:

https://user-images.githubusercontent.com/13877

[2022-08-22 19:38] libbyhopfauf commented on #538
Using dvrescue version 20220820 the dvanalysis tab is still really buggy. Similarly to issues I've experienced with dvcapture in the GUI, the table interaction seems to start out fine for the first 4-5 selections made in the table, then becomes slightly inconsistent (notice in the video below how on the 6th click, there is no response and then a severe lag for the 7th) and after about 10 clicks be

[2022-08-22 19:51] libbyhopfauf opened #543 "GUI - adjustable/scalable window dimensions"
It would be really helpful if the dvrescue GUI overall could either detect the user's screen dimensions and adjust accordingly OR allowed the user to manual scale the window to ensure all data/buttons/displays were viewable. Here are a few screenshots to illustrate the issue in various views (full screen vs. not and various manually scaled sizes):

![Screen Shot 2022-08-22 at 12 45 06 PM](https://

[2022-08-22 22:03] libbyhopfauf commented on #537
Here's another example:

This [video](https://drive.google.com/file/d/1sdVH64dtL0thcXM-B7IsAU2eBkkoxBDp/view?usp=sharing) clearly has audio changes, aspect ratio changes and multiple recording stop markers. However, dvpackager will not do anything when any of the segmenting rules are applied. dvanalysis also will not segment the video. However, it does work in the CLI version for the same file, us

[2022-08-27 11:31] #507 closed

[2022-08-27 11:36] ElderOrb commented on #508
![image](https://user-images.githubusercontent.com/23638/187028449-3aadebdf-c4e2-4436-af00-247bf5169944.png)

[2022-08-27 11:37] #526 closed

[2022-08-27 14:00] ElderOrb commented on #543
as I understand the issue is related to 'dvloupe view' - all other places are resizable, right? I've optimized dvloupe viewer & added possibility to resize and move (by dragging image area).

![image](https://user-images.githubusercontent.com/23638/187033520-7bfab0b1-9eee-4587-afed-98d85968e933.png)

[2022-08-27 19:34] ElderOrb commented on #508
@libbyhopfauf ^^ something is still wrong with the last image

[2022-08-27 19:35] ElderOrb commented on #496
hmm, not sure I understand the issue. Can you please clarify?

[2022-08-27 20:00] ElderOrb commented on #496
is it reproducible with the latest main?

[2022-08-27 20:08] ElderOrb commented on #375
does 'cornsilk' solve the issue? can it be closed if yes?

[2022-08-27 20:08] ElderOrb commented on #375
@dericed @libbyhopfauf ^^

[2022-08-31 23:09] libbyhopfauf commented on #508
@ElderOrb oh no! How about this one?

![menu-capture](https://user-images.githubusercontent.com/13877631/187800498-69a56921-adfc-458e-bcbc-39dbcc2f5879.svg)

[2022-08-31 23:10] libbyhopfauf commented on #508
![menu-capture_NEW](https://user-images.githubusercontent.com/13877631/187800575-b796b6dd-bd37-476a-b8ac-777956564d4f.svg)

[2022-08-31 23:16] libbyhopfauf commented on #375
Yep! That solves it for me :) Thank you!

[2022-08-31 23:17] libbyhopfauf commented on #543
awesome! Thank you!

[2022-08-31 23:24] libbyhopfauf commented on #530
@dericed you mean the code that would trigger the button to open the [docs site](https://mipops.github.io/dvrescue/) in the users default browser?

[2022-08-31 23:28] libbyhopfauf commented on #502
@dericed @ElderOrb should I make an "About" button image (like the other ones along the side)?

[2022-08-31 23:33] libbyhopfauf commented on #477
@dericed @privatezero any thoughts on this or ideas I should adjust/incorporate?

[2022-09-01 16:09] privatezero commented on #531
I've got most of the text in over [here](https://github.com/mipops/dvrescue/blob/documentation/docs/_sections/dv_formats.md) (note this is not what it looks like on the website since this is just github processing the raw markdown - the images actually render in the web version).

The images in there are the old images still - do we have web sized versions of the new images somewhere?

[2022-09-01 17:27] privatezero commented on #502
If feasible, I think this probably would be best to trigger via the dropdown menu to avoid cluttering up the main interface with infrequently used tasks.

[2022-09-01 17:44] privatezero commented on #356
Just wanted to draw attention back to this issue as it still is throwing a (very small but persistent) monkey wrench into our workflows. A majority of our tapes recently are only being packaged into a single file and we have to manually edit each filename post packaging to remove the extraneous `_part1` suffix. I suspect this is a common issue for other users as well

[2022-09-01 20:10] libbyhopfauf commented on #502
@privatezero I agree!

[2022-09-01 20:16] libbyhopfauf commented on #531
@privatezero this looks so great!!! Yep, the new images are all linked in the spreadsheet for each format!

[2022-09-01 21:17] privatezero commented on #531
Those images are huge! I resized them to work better with our web theme as needed - see https://github.com/mipops/dvrescue/pull/548 for PR

[2022-09-01 21:22] libbyhopfauf commented on #531
Oh shoot sorry!!! I meant to link to the resized files!!! My bad! Thank you.

[2022-09-02 20:47] #531 closed

[2022-09-02 20:56] #375 closed

[2022-09-05 23:49] libbyhopfauf commented on #477
Awesome! That’s what I was aiming for! Thanks so much!

On Thu, Sep 1, 2022 at 9:06 AM Andrew Weaver ***@***.***>
wrote:

--
Sent from Gmail Mobile

[2022-09-06 14:03] JeromeMartinez commented on #437
[DVCPro is indicated to work](https://github.com/mipops/dvrescue/issues/473#issuecomment-1130480501), but maybe we broke something in the meanwhile, we need to double check DVCPro support.

[2022-09-07 00:23] libbyhopfauf commented on #437
I’ve been able to capture DVCPRO (25 with the yellow cassette door) using a
DSR-1500A via the latest DVRescue GUI build. It seems like deck control for
this is sporadic, but if I start playing the tape manually right as I start
the capture, it’s been working fine. Have you been using the same deck you
used to capture other tapes successfully in the DVRescue GUI?

On Tue, Sep 6, 2022 at 7:03 AM Jér

[2022-09-11 22:37] ElderOrb commented on #538
@libbyhopfauf can you please check https://github.com/mipops/dvrescue/pull/551 ?

[2022-09-12 18:51] libbyhopfauf commented on #538
@ElderOrb when I checked this version, nothing is generated in the table or graph view in the dvanalyser tab. The video will play, but even after letting the file load for 30 minutes, nothing appears in the table or the graph. It also seems like I can't click through to a specific point in the video.

<img width="1792" alt="Screen Shot 2022-09-12 at 11 49 04 AM" src="https://user-images.githubuser

[2022-09-13 16:07] ElderOrb commented on #538
@libbyhopfauf  What version of Qt have you used? Also, can you share video so I can try on my side?

[2022-09-13 16:33] libbyhopfauf commented on #538
@ElderOrb I've tried versions 6.3.1_2 and 6.3.1_3 for qt on a 2012 Mac Mini (running Catalina 10.15.7) and 6.3.1_3 for qt on a 2019 Macbook Pro (running Big Sur 11.6.7) and I've been able to get some XML and DV files to load, but for anything with a lot of errors, the DVRescue GUI crashes. And the segmenting rules are still not working for any files in both the analysis and packager tabs.

Here's

[2022-09-13 16:39] libbyhopfauf commented on #538
@ElderOrb also the buggy sporadic navigation within the table view is still present.

[2022-09-13 16:49] libbyhopfauf opened #552 "dvplay HTML question - LP vs. SP"
@dericed @privatezero For the HTML that is created when you run dvplay -x, is the video rate referring to the speed (SP vs. LP) or something else? I was thinking this would be helpful information to have somewhere, both for capture and for analysis to mark speed changes if they occur. For reference, these are screenshots of the HTML for two files, the top on is LP and the bottom on is SP, but they

[2022-09-13 20:06] libbyhopfauf opened #553 "documentation - transfer station set-up & software installation"
This is an updated version of the documentation on transfer station set-up and software installation for the DVRescue website. They are all ready for proof-reading and (once approved) posting to the docs site. The Linux/Windows Software Installation probably needs the most heavy revisions/review since I don't have experience with the installation on Linux/Windows. The others have been reviewed and

[2022-09-13 20:50] libbyhopfauf commented on #530
@dericed I was just thinking it would as simple as inserting the URL into the code for what action to do when you click on that Help button.

[2022-09-14 19:50] dericed commented on #538
Hey @libbyhopfauf I tested and merged, so this should be reviewable in the next daily build. Reopen if needed.

[2022-09-14 19:50] #538 closed

[2022-09-14 20:33] dericed commented on #537
It looks like the bundled xmlstarlet in the gui doesn't run:

bundled
[code]

local
[code]

@g-maxime, @JeromeMartinez can you please check on the bundled xmlstarlet?

[2022-09-14 20:40] ElderOrb commented on #502
yes please.

[2022-09-14 20:55] dericed commented on #508
@libbyhopfauf this one is still embedding text and referring an unincluded font so doesn't look the same as the others. In a text editor you can see the word CAPTURE and the font at the bottom whereas the others have the drawing instructions.

[2022-09-14 22:44] libbyhopfauf commented on #508
Okay, I think I figured out the step I was missing. How about these ones:

![menu-capture_2022-09-14](https://user-images.githubusercontent.com/13877631/190274783-999afc6a-b3cd-43b6-bdfc-d837dd216caa.svg)

![menu-merge_2022-09-14](https://user-images.githubusercontent.com/13877631/190275779-4ce26c1d-2a2c-40b2-867f-c1afdf2cd2a1.svg)

[2022-09-15 01:13] libbyhopfauf commented on #508
@dericed hmmmmm okay, I mean the [original ones](https://github.com/mipops/dvrescue/blob/main/Source/GUI/dvrescue/dvrescue/icons/menu-transfer.svg?short_path=f02dc73) have that too?

So what about these?

![menu-capture_2022-09-14](https://user-images.githubusercontent.com/13877631/190290283-102d78c2-1540-4b65-b70e-07dbec167a58.svg)

![menu-merge_2022-09-14](https://user-images.githubusercontent.c

[2022-09-16 10:54] JeromeMartinez commented on #537
If we understand correctly the macOS rules, you can't launch binaries in the .app due to security of the sandbox in the packages for distribution.

@g-maxime is checking all issues with the new builds.

[2022-09-16 13:19] #470 closed

[2022-09-16 16:08] dericed commented on #536
I reviewed and commented there. thx

[2022-09-16 16:22] dericed commented on #516
I think this used a version of dvplay before there was an ffmpeg version check. That now happens in https://github.com/mipops/dvrescue/commit/c6ca2da164deea041c576e89d0a0cafde0ee2ad9. Since the dvrescue project contributed to dv improvements in ffmpeg, we need a rather recent build on ffmpeg and the version you're using it too old to contain the features we need.

[2022-09-16 16:22] #516 closed

[2022-09-16 16:52] dericed commented on #508
Hi @libbyhopfauf, I tried working with this, but the font looks a bit off.
![image](https://user-images.githubusercontent.com/762604/190689253-378af671-3583-483f-ba08-118d62598e82.png)

In the ones you sent before (looking at the package.svg now), the structure is a `<g/>` (glyph) and a few `<path>` elements next into another `<g/>`. For the capture one that you pasted above, there's a few `<path>

[2022-09-16 17:53] dericed commented on #463
Closing as (I think) this is resolved. Please feel welcome to test latest daily builds at https://mediaarea.net/download/snapshots/binary/dvrescue and https://mediaarea.net/download/snapshots/binary/dvrescue-gui and re-open if still an issue.

[2022-09-16 17:53] #463 closed

[2022-09-16 17:54] dericed commented on #459
I resolved this a long time ago :)

[2022-09-16 17:54] #459 closed

[2022-09-16 18:02] #530 closed

[2022-09-16 18:02] dericed commented on #40
closing as the current `-h` output is good

[2022-09-16 18:03] #291 closed

[2022-09-16 18:04] dericed commented on #313
who's got this one? @privatezero @libbyhopfauf

[2022-09-16 18:12] #313 closed

[2022-09-16 18:13] dericed commented on #277
Closing as much is out of date and I think the last piece is solved in https://github.com/mipops/dvrescue/pull/557.

[2022-09-16 18:13] #277 closed

[2022-09-16 18:35] dericed commented on #476
@ElderOrb can you adjust the labels for "SEGMENTING RULES" and "ASPECT RATIO CHANGES" like in https://github.com/mipops/dvrescue/blob/3c572b65871ea67ce53da741fcd28d9226b96512/Source/GUI/dvrescue/dvrescue/SegmentDataViewWithToolbar.qml#L43-L48 as Libby suggests in the image in https://github.com/mipops/dvrescue/issues/476#issue-1242406443.

[2022-09-16 18:37] dericed commented on #476
@ElderOrb can you also move the `(extension selection, output directory options, and "PACKAGE" button)` to a new row between the segment table and file output table. I think that makes more sense to have the button to start the output process under the segment table.

[2022-09-16 18:38] dericed commented on #34
will close, but please reopen if you find more dropped frames. :)

[2022-09-16 18:38] #34 closed

[2022-09-16 18:39] #124 closed

[2022-09-16 18:40] dericed commented on #217
@libbyhopfauf perhaps we should have a samples doc in the documentation that points to known files that show various issues.

[2022-09-16 18:44] dericed commented on #222
@ElderOrb, as the first value of the progress bar output for `dvrescue file.dv` is the frame number, could you make a progress bar (from that as the numerator and the frame count as the denominator) to replace the spinner with a progress bar in the gui?

[2022-09-16 18:46] dericed commented on #222
alternatively for @jerome, if the progress bar had (frame number analyzed / total frame count) in the progress bar then we'd have num/den in the same place. Or since the frame count may change as the file is read (like if the standard changes) then we could include a ratio of the byte offset over the file size to guide progress bars.

[2022-09-16 18:47] dericed commented on #373
@libbyhopfauf how is this issue in the daily bulids after 2022-09-15?

[2022-09-16 18:49] dericed commented on #325
maybe out of scope

[2022-09-16 18:49] #325 closed

[2022-09-16 19:36] dericed commented on #437
closing this one as appears all resolved, thx everyone :D

[2022-09-16 19:36] #437 closed

[2022-09-16 21:05] libbyhopfauf commented on #508
mmmmmmkay how about these ones?

![menu-capture_2022-09-15](https://user-images.githubusercontent.com/13877631/190743966-5dda3309-6f7a-4300-a091-b173a88f52a9.svg)

![menu-merge_2022-09-15](https://user-images.githubusercontent.com/13877631/190743993-06d45afb-8c1e-4a36-a0ed-a5b127008cbf.svg)

[2022-09-19 04:15] privatezero opened #559 "mistake in cli input can be destructive"
minor mistakes in the CLI input can be destructive with the input file getting overwritten with an empty file. (tested in v.0.21.11.20220918). This seems dangerous!

One example is running `dvrescue -x myfile.dv myfile.xml` (so placing the -x flag in the wrong location) will destroy the input.

Current warning of `Error: in order to avoid mistakes, provide output file names after input file names.

[2022-09-19 16:38] privatezero opened #560 "Issue with GUI daily builds - Ubuntu 22.04"
I'm on Ubuntu 22.04, but need to use the releases for Ubuntu 20.04 for an executable install of the GUI . When attempting to load the GUI when installed via builds for Ubuntu 22.04 it crashes with error
[code]

[2022-09-19 16:54] dericed commented on #535
@libbyhopfauf #1 was completed with https://github.com/mipops/dvrescue/pull/558. Any of these left?

[2022-09-19 17:01] dericed commented on #508
These worked great. :D Resolved in https://github.com/mipops/dvrescue/pull/554

[2022-09-19 19:27] libbyhopfauf commented on #552
@dericed good to know! Would it make more sense to change "video rate" to "frame rate" and then include the incrementation patterns of the abst values? I just feel like that could be really helpful for a tape that has parts recorded in both LP and SP modes, especially if it was/is being transferred using a deck that can't do LP.

[2022-09-19 19:40] libbyhopfauf commented on #537
@dericed @JeromeMartinez it seems like this is still an issue with the most recent daily build (20220919-2). I tried using both the bundled xmlstarlet (/Applications/dvrescue.app/Contents/Helpers/xmlstarlet) and the usr one  (/usr/local/bin/xmlstarlet). Neither is working for the segmentation rules (in both the analysis and package tabs).

For this version, nothing is showing up in the table or gr

[2022-09-19 19:54] libbyhopfauf commented on #537
This is what I get in the debug log if I try to apply segmenting rules in packager using `/Applications/dvrescue.app/Contents/Helpers/xmlstarlet`:

[code]

[2022-09-19 19:58] libbyhopfauf commented on #537
And then if I try to switch to using ffmpeg at `/usr/local/bin/ffmpeg` I get this:

Error: The ffmpeg needed at /usr/local/bin/ffmpeg is not executable.

[2022-09-19 20:21] g-maxime commented on #537
Removing signature on dvrescue.app """fixes""" the problem, so its come from the sandboxing. I'm working on it, but no clues now.

Also, there is probably permissions issues with output directory other than ~/Movies, the UI needs to be reworked to use specifyPathDialog and get the permissions.

[2022-09-19 20:44] libbyhopfauf commented on #535
@dericed awesome! Yep, these two still haven't been added in, at least not in the daily build from today:

4. Add highlights for selected playback buttons - similarly to the other players/buttons in the analysis and packager GUI tabs, I think it would be helpful to have those little pink highlights for the buttons that are currently "on" (especially now that you need to click play after clicking t

[2022-09-20 11:29] g-maxime commented on #537
Added a temporary permission to read/write on /dev/fd/* to the [latest snapshot]https://mediaarea.net/download/snapshots/binary/dvrescue-gui/20220920-2/dvrescue_GUI_0.21.11.20220920_Mac.dmgl); Should works.

For a full compatibility with the macos sandbox, we needs to remove uses of  process substitution '<()' in the scripts

[2022-09-20 19:23] #559 closed

[2022-09-20 19:24] dericed commented on #559
Hey, @privatezero the build listed in https://github.com/mipops/dvrescue/pull/561 should show this new feature.

[2022-09-21 13:07] g-maxime commented on #560
Wich are the version of the following packages on your system ?
- libqt5quickcontrols2-5 `apt info libqt5quickcontrols2-5`
- qml-module-qtquick-controls2 `apt info qml-module-qtquick-controls2`

Added a version constraint on the [latest snapshot](https://mediaarea.net/download/snapshots/binary/dvrescue-gui/20220921-2/dvrescue-gui_0.21.11.20220921-1_amd64.xUbuntu_22.04.deb), please test

[2022-09-21 15:46] privatezero commented on #559
Just tested - works well on my end

[2022-09-21 15:56] privatezero commented on #560
Versions:
* libqt5quickcontrols2-5 : 5.15.3+dfsg-1
* qml-module-qtquick-controls2 : 5.15.3+dfsg-1

That build still appears to not be happy on my end

[code]

[2022-09-21 20:09] dericed opened #564 "give error if loading a file from Open Recent menu that is since deleted"
- open file in dvrescue to analyze
- quit app
- delete file
- open app and select file from Open Recent
- here we should give an error rather than show empty records everywhere

[2022-09-21 20:22] dericed opened #565 "expand SETTINGS panel"
I suggest expanding the SETTINGS panel into tabs (potentially we'll add more later):
- Capture
- Advanced

Move the current "Please specify tool locations" to the Advanced tab.

Under the Capture tab. Add these options:

[code]

Default to Ignore for speed and keep for concealed.
For speed=ignore, add `--merge-ignore-speed` to capture commands.
For speed=keep, add `--merge-output-speed` to capture

[2022-09-22 08:44] g-maxime commented on #560
Works fine on a fresh install...

Anything from qt outdated on your system? `dpkg -l | grep 5.12 `

[2022-09-22 15:40] #486 closed

[2022-09-22 16:49] dericed opened #569 "support capture interface on linux"
translation of commands is available at https://docs.google.com/spreadsheets/d/1ohqYzMat9Vfdmx9eSEW4VEMlFf7WLII6mX4acMWJnY8/edit?usp=sharing

[2022-09-22 17:15] dericed commented on #542
@libbyhopfauf thanks for the example in https://github.com/mipops/dvrescue/issues/542#issuecomment-1222772602. @ElderOrb can you adjust qtavplayer to use the aspect ratio of the frame rather than setting the player to 4/3. That could be 640x480 for 4/3 or 854x480 for 16/9 (default to 4/3 if no aspect ratio or aspect ratio is anything but 16/9)

[2022-09-22 17:18] dericed commented on #565
Also in the Capture tab, let's add a boolean to save a log during capture. Default to no and if yes then add `--merge-log $VALUE` where the value is the output dv file with a `.capture.log` suffix.

[code]

[2022-09-22 17:22] dericed opened #570 "document simulator"
From a chat with @JeromeMartinez

[code]

[2022-09-22 17:37] dericed commented on #479
Might say #wontfix on this as ffmpeg at that age wouldn't be ideal for handling dv. I do wonder why the version check didn't work though. @jfeakes could you give the output of `ffmpeg -version` on your machine. I'm guessing this ffmpeg is also too old to support the `-version` command.

[2022-09-22 17:41] dericed commented on #496
fixed in latest. Thx @ElderOrb

[2022-09-22 17:41] #496 closed

[2022-09-22 17:42] dericed commented on #511
@libbyhopfauf that sounds good, let me know when you have a link to that troubleshooting page

[2022-09-23 15:47] dericed opened #572 "Fix issue when dvrescue xml is present but contains no frames"

[2022-09-23 23:27] dericed commented on #535
4 is resolved by https://github.com/mipops/dvrescue/pull/567
6 is resolved by https://github.com/mipops/dvrescue/pull/573
So I think this issue is resolved. Please comment or reopen if there was anything missing.

[2022-09-23 23:27] #535 closed

[2022-09-24 22:40] dericed opened #575 "can not open xml for writing"
I'm testing https://mediaarea.net/download/snapshots/binary/dvrescue-gui/20220924-2/ as a release candidate.

When I open a file in the analysis tab I get:

[code]

[2022-09-25 12:17] JeromeMartinez commented on #575
Main issue is that we need to have strong permission management [if we want to have access to the camera feature](https://developer.apple.com/documentation/bundleresources/entitlements/com_apple_security_device_camera). And the GUI automates a lot of sidecar file writes, which is not appreciated by the OS.

It may be not enough to have an "Hardened Runtime" app on later versions of macOS. We have

[2022-09-26 13:23] dericed commented on #575
[This](https://github.com/mipops/dvrescue/pull/576) works, but:
1. I drag in file to gui (on analysis page)
2. A select folder dialog appears loaded to folder of the file in step 1.
3. I click ok
4. the xml is generated in the selected folder

Are steps 2/3 necessary if we presume the xml will be next to the source file?

[2022-09-26 13:27] JeromeMartinez commented on #575
The security of the "App sandbox" forbids to write at any place (except dedicated temp folder), so we need to ask the user an explicit authorization to do so. Maybe a message for indicating the issue and the expected user behavior? if so, indicate the message.
See https://github.com/mipops/dvrescue/issues/575#issuecomment-1257181922 for pros and cons of the 2 possibilities we have.

[2022-09-26 13:27] dericed commented on #575
Possibly related issue:
Test 1:
- I start with dv and sidecar xml but skip use of analysis tab when I open the app.
- I open packager tab and open the dv.
- No metadata is loaded from xml.

Test 2:
- I reopen app and start by opening file in analysis tab. It asks for folder again and then shows data from xml which was pregenerated.
- Then I go to package tab and data from xml is there.

Scenario 2

[2022-09-26 13:35] dericed opened #577 "dvpackager status icons not updating"
When I run package it goes from the grey-not-running icon to the blue-3-dot icon and the processing-arrow and finished icon are not seen. I checked my log https://gist.github.com/dericed/59be980be9230e7508a1e8856decabd1 and the status notes are there such as
[code]

[2022-09-26 13:35] JeromeMartinez commented on #575
What do you want?
1/ display of analysis of the DV, without automatic export but doable manually
2/ display of analysis of the DV, with automatic export

For 1/, @ElderOrb needs to use an authorized temp dir, and add a "Export" button which opens the save file API with pre-filled XML file name.
For 2/, it is forbidden now with macOS "App Sandbox", you must use  "Hardened Runtime" but in that case

[2022-09-27 15:31] dericed commented on #575
fixed by https://github.com/mipops/dvrescue/pull/578

[2022-09-27 15:31] #575 closed

[2022-09-28 06:53] g-maxime commented on #220
Fixed in latest snapshot (added qtmultimedia-plugins as dependency)

[2022-10-02 22:19] dericed commented on #565
Also in `Advanced` tab, add a checkbox "Enable Debug View". Default to off. If on, then show the "DEBUG" link in the left-side toolbar, else hide it.

[2022-10-02 22:24] dericed opened #585 "need permissions request on Open Recent button"
If I drag a file into the ANALYSIS view, then I get the "Please authorize..." popup and it loads the sidecar xml. But if I quit and reopen and select the same file from the Open Recent selector in the ANALYSIS view then there's no authorization request and the sidecar xml isn't read.

[2022-10-03 10:35] #585 closed

[2022-10-03 13:51] dericed commented on #577
fixed in https://github.com/mipops/dvrescue/pull/583

[2022-10-03 13:51] #577 closed

[2022-10-03 13:53] dericed commented on #552
Leaving open as the `ABST Frame Rate` needs some review in practice to determine how/if it correlates to SP vs LP.

[2022-10-03 23:20] privatezero commented on #560
Still no good on my end - this was not a fresh install but was an upgrade from 20.04. I haven't yet upgraded my other Ubuntu machine, so can't yet cross-test on that one.

Grepping for `5.12` gives me only results for libxpm4. It looks like 5.12 is the most up to date version available via the standard package manager in 22.04.

[2022-10-04 02:47] dericed commented on #212
updated to latest

[code]

[2022-10-04 02:51] dericed opened #592 "dv merge output header mismatches the table"
The header says

[code]

but the output table is

[code]

- The `SS;FF` format is no longer used as the entire timecode is expressed.
- For the 3rd value, the header references it at `S` but the table header row says `U`.
- The `St` and `Comments` columns are undefined.

IMHO, we could drop the upper part of the header and simply title the expressed format, something like `DVRescue Merge Report, v

[2022-10-04 06:44] JeromeMartinez commented on #592
OK, I let you document that.

No versioning, except the DVRescue version number

Because:

Text output is for humans.
Automatic parsing should use the CSV output (isn't it already the case?).

[2022-10-06 16:51] privatezero opened #594 "Issues with segmentation and packaging in Windows"
Testing version 20221003-3 on Windows 10 and segmentation doesn't appear to be working. Log shows the following error:

Path or permissions issue?

[2022-10-06 17:41] dericed commented on #594
Thanks. Does test001.dv.dvrescue.xml and test001.dv exist? If so, can you provide the terminal output when you run the command or paste the full log into gist.

[2022-10-06 21:23] privatezero commented on #594
Yes - test001.dv exists and test001.dv.dvrescue.xml is generated correctly (so also exists).

See [here](https://gist.github.com/privatezero/d84f132defd2671e2514ed7188bc4b9f) for gist of log.

Terminal (cmd) output of running that command (with quoting paths) is:

[2022-10-07 14:21] g-maxime commented on #560
I'm unable to reproduce this, even in a migrated system from 20.04...

Can you share a list of all installed packages? (`apt list --installed`)

[2022-10-07 16:20] g-maxime commented on #594
Same on macOS with spaces in install path...

Script paths passed as bash arguments seems no quoted.
(Same for paths passed as arguments for scripts)

[2022-10-08 16:17] g-maxime commented on #594
Fixed for macOS with [this snapshot](https://mediaarea.net/download/snapshots/binary/dvrescue-gui/20221008-2), please try Windows version.

The added patch: https://github.com/g-maxime/dvrescue/commit/c87b43709fdfa3f2375db5b708d58c6e10d80687

[2022-10-09 18:23] ElderOrb commented on #502
![image](https://user-images.githubusercontent.com/23638/194773198-2ca4293e-8ac0-401a-b149-665c58a51603.png)

[2022-10-10 18:03] privatezero commented on #594
I've just tested version 20221008-2  on Windows 10 and it looks like there is still an issue with spaces in the path. When I install dvrescue-gui via the installer, which places it into `Program FIles` segmentation still is broken. The log just displays the command with no exit status or obvious error.

If I download the GUI ZIP archive and run it in a directory with no spaces in the path segmenta

[2022-10-10 18:55] JeromeMartinez commented on #594
I installed in a directory without spaces and packaging works for "part1" then fails.

[code]

[2022-10-10 19:34] privatezero commented on #560
See this file for the long list of installed packages: [list-installed.txt](https://github.com/mipops/dvrescue/files/9748479/list-installed.txt)

[2022-10-10 20:48] JeromeMartinez commented on #594
[The fail with install dir without space is fixed](https://github.com/mipops/dvrescue/pull/598), so issue is "only" with install dir with space.

[2022-10-10 20:55] dericed commented on #594
Not sure where to look next. I think I'd need a new log from windows after https://github.com/mipops/dvrescue/pull/598 was applied.

[2022-10-10 21:14] JeromeMartinez commented on #594
Setup: installed in `C:\Program files\dvrescue` then `C:\Program files\dvrescue` copied to `C:\Temp\dvrescue`

If:
- Launched from `C:\Program files\dvrescue` and configured with `C:\Program files\dvrescue`
- Launched from `C:\Program files\dvrescue` and configured with `C:\Temp\dvrescue`

[code]
(first command on a single line normal?)

If:
- Launched from `C:\Temp\dvrescue` and configured with `

[2022-10-12 12:46] dericed opened #603 "diagnose gray frames in dvrescue input"
These gray frames are added to the beginning and end of my transfer with dvrescue (though not with dv tape capture via QuickTime X or avfctl).
Is dvrescue introducing these?
[gray.zip](https://github.com/mipops/dvrescue/files/9764927/gray.zip)

[2022-10-12 13:55] #594 closed

[2022-10-12 19:06] #592 closed

[2022-10-12 19:06] dericed opened #607 "document dvrescue csv"
per https://github.com/mipops/dvrescue/pull/593/files

[2022-10-12 19:23] dericed opened #608 "capture scenario causing csv misalignment"
[hvr_m15u_deck_in_stop_and_dvrescue_cli_capture.dv.zip](https://github.com/mipops/dvrescue/files/9768092/hvr_m15u_deck_in_stop_and_dvrescue_cli_capture.dv.zip)

Capture with csv misalignment.

here's a capture https://gist.github.com/dericed/71dc8829a4fcb1950432ed1409f41e7a
this https://gist.github.com/dericed/71dc8829a4fcb1950432ed1409f41e7a#file-gistfile1-txt-L10-L54 corresponds to moving deck f

[2022-10-12 19:24] JeromeMartinez commented on #608
I don't see misalignment, only last commas not appended when not needed.

[2022-10-12 21:20] dericed opened #610 "testing merge-ignore filters"
Here's a [csv output](https://gist.github.com/dericed/533309fbf42afe012edc86011f7fe950) from:

`$ dvrescue -y device://0 -x ignore_test.dvrescue.xml -m ignore_test.dv --verbosity 9 --csv --merge-ignore-speed --merge-ignore-concealed`

The output appears to include non-standard playback speed frames. When I press ff on the deck the csv transitions like

[code]

when the tape plays and I press rewin

[2022-10-12 21:37] g-maxime commented on #560
Thank, some diffs with a new installation, but I don't see anything that can cause the bug https://gist.github.com/g-maxime/a40cd909772e556c6b7d17f3de55ae19

Any qt installation outside the package manager on the system?

[2022-10-12 21:49] dericed opened #611 "add details to capture log"
Currently the capture log appears like:

[code]

On one hand, I'd like to remove the input list, so that the capture log could truly be a csv, but I'd also like to store other context about the capture. Curious of thoughts?

Could we add the device name of the input to the capture log as well. I suppose @deviceName could be relevant in `<media>` as well.

[2022-10-12 22:30] privatezero commented on #560
Oops! responed to wrong window - copying here:

I'll check around - I don't think so, but it is always possible that Homebrew has left something in the system (I try to avoid homebrew on linux precisely because it causes issues). I'll take a look

[2022-10-13 08:16] JeromeMartinez commented on #611
Bug fixed with https://github.com/mipops/dvrescue/pull/612.

Proposal in https://github.com/mipops/dvrescue/pull/612.

[code]

Prefer currently (for test purpose, not automation) the text output, it has more explicit information (but not 1 line per frame) and was more tested, I see several issues with the CSV output, I'll fix that.

With CSV output you get info about a rewind with the count of rew

[2022-10-13 14:26] libbyhopfauf commented on #603
I tested version 20221012 with Sony DSR-25 and DSR-1500A and no gray frames are sent at beginning or end of capture. There is a brief lag/freeze at the start of the capture, but it’s not recorded as part of the file (similar to something vrecord does a lot, but it’s an issues) and the capture display seems to be a second or so behind the viewer on the deck, but again not an issue and does not affe

[2022-10-13 14:30] JeromeMartinez commented on #603
Good to know that this is very specific (deck type?).

Weird and sad to lose some frames, but here we rely on the OS API, nothing we can do.
By curiosity, does it mean that we lose the first frames of a DV tape if the tape is at the beginning? If it is the case, actually I don't really see how we can change that. Would be curious to know if another tool get more frames than us from the beginning o

[2022-10-13 14:39] JeromeMartinez commented on #603
phew, I was afraid that frames are lost! Thank you for the clarification.

Wondering if the lag comes from before the OS API (we can't do anything) or after the OS API (on our side), but for later :).

[2022-10-13 15:23] libbyhopfauf commented on #603
Sorry for the false alarm! Yes, all the frames are there! I only mentioned it in case it had something to do with what Dave was experiencing.

Definitely seems to be really common for vrecord too. It might also just be the slower computers I'm using. Let me know if there's anything in the future that I could test that would be helpful in determining that!

[2022-10-14 15:30] dericed opened #615 "catch control-c to finalize xml"
With `dvrescue -y device://1 -m test.dv -x test.xml` we need a way to stop. With control-c the test.xml will be empty, so stopping this process by stopping deck for now. With control-c, ideally dv would be frame aligned and xml would sync with dv and not be empty.

[2022-10-14 15:53] dericed opened #616 "support option to override media/@ref and @fromCapture"
This is for the case where the output of dvrescue is a pipe, but we know the output filename down the pipe and want to document in the xml. Also maybe `@deviceModelName` and get the name that avfctl provides for the device.

[2022-10-14 19:27] dericed commented on #505
@ElderOrb, can you add this to the SETTINGS tab. Start a like Analysis tab between Capture and Advanced with a label for "Frame Table display" with the options for "Simple" (as @libbyhopfauf itemized) and "Advanced" with all fields.

@libbyhopfauf should we default to simple?

[2022-10-14 20:18] libbyhopfauf commented on #445
@Kenkoman I apologize for no one responding to this previously! Would you mind downloading the latest builds of the [CLI](https://mediaarea.net/download/snapshots/binary/dvrescue/20221014/) and [GUI](https://mediaarea.net/download/snapshots/binary/dvrescue-gui/20221014/) and let us know if you are still experiencing this issue?

[2022-10-14 20:30] libbyhopfauf commented on #505
I think the simple view would be the most helpful and user friendly. Those seems to be the ones I use the most and that others reference the most for using to make packaging decisions and to stream line the QC process.

[2022-10-14 20:36] dericed commented on #445
Hi @Kenkoman, windows 7 is in the plan, but it's not in the gui yet unfortunately. The gui should still be able to analyze and package dv though on windows.

[2022-10-14 20:38] dericed commented on #505
@libbyhopfauf, do you prefer `simple/advanced` or a list of columns with checkboxes? I've been thinking that in the settings I'd like to put a `?` button next to components that links out to the documentation, so with either they could get linked out to descriptions.

[2022-10-14 20:50] libbyhopfauf commented on #603
I can confirm that using a HVR-M15U I am not experiencing the same issues as Dave of capturing gray frames.

[2022-10-14 20:58] libbyhopfauf commented on #505
A list of columns with checkboxes sounds good, plus linking out to the documentation would be great. I'll work with this newest version of the GUI to fill more that in now that it's working.

[2022-10-14 22:27] libbyhopfauf opened #617 "dvpackager GUI issues"
In version 2022-10-12 of the GUI, if you have a file loaded into packager and have begun packaging, if you import a new file to analysis or packager and then select the second file, the packing in process cancels and the segmenting rules reset for both files.

![Screen Shot 2022-10-14 at 3 22 20 PM](https://user-images.githubusercontent.com/13877631/195952871-2943ef7e-c466-4c62-90ba-234938eb8606.p

[2022-10-14 22:37] libbyhopfauf opened #618 "dvanalysis + dvpackager cannot load large files"
Files over 4GB seem to make the GUI crash when attempting to load into either dvpackager or dvanalysis. I've had to force quit for anything larger than 4GB when using version 20221012.

[2022-10-15 15:41] ElderOrb commented on #564
disabled not-existing menu items:
![image](https://user-images.githubusercontent.com/23638/195995304-8275989f-6b07-4822-bc73-a4efa2a6b8ff.png)

[2022-10-17 00:22] dericed commented on #564
resolved in https://github.com/mipops/dvrescue/pull/619

[2022-10-17 00:22] #564 closed

[2022-10-17 14:17] dericed commented on #603
@libbyhopfauf, so weird, I tested my HVR-M15U again and they are there. Maybe it relates to a setting but I don't have a monitor attached to really see the menu. I saw this same thing in one of Morgan's clips too. https://github.com/mipops/dvrescue/pull/614#issuecomment-1280116684

[2022-10-17 20:06] dmdunham opened #620 "Unable to Package [to .mov] using 20221017/ Mac"
David Dunham from OHC of UCBerkeley here. We were able to capture an 0:08:45 MiniDV tape using 20221017/ Mac today, but unable to execute Package to .mov. Maybe I am not seeing the execute button? User error certainly possible. File is under 2 GB. Screenshot attached.

<img width="1874" alt="DVRescue_Package_how do we make it go_OHCUCB_10172022" src="https://user-images.githubusercontent.com/11603

[2022-10-18 16:26] dericed commented on #537
Hey @libbyhopfauf, can you review and close if resolved

[2022-10-18 16:26] dericed commented on #617
Good catch, just thinking this through, what do you think should happen instead?

[2022-10-18 16:28] dericed commented on #620
Hi @dmdunham, thanks for contributing an issue. @libbyhopfauf also started a related issue about redesigning the interface a bit to make it more intuitive. The 'execute' button is the gray/black "PACKAGE" button in the top, to the left of the mov/mkv selection. Not great placement, we know. Let us know if this works otherwise for you. :)

[2022-10-18 16:54] privatezero commented on #618
fwiw I just tested on v. 20221017 on Ubuntu, and it did not crash with a 4.3 GB file, so possibly a mac only issue

[2022-10-18 17:17] dericed commented on #618
I'm on an M1 Macbook Air with Big Sur and the 1017 build processed an 11GB file of my really fast. I just ran it through packaging and all good there too. @libbyhopfauf, when the gui crashed, did you still get an xml output? If you run `dvrescue bigfile.dv > hey.xml` does it crash? @JeromeMartinez any ideas?

[2022-10-19 17:35] dericed opened #622 "show something in capture tab when no decks are detected"
This could just be a text of `No DV devices detected` or an animated gif or image. whaddaya think @libbyhopfauf

[2022-10-19 19:12] dmdunham commented on #620
Thanks for clarifying the PACKAGE button. Got it now. However, our 8m45s file has been in process > 3 hours. I'm hoping it should be faster than this, and I think this was the same indefinite cycle Georgia experienced in testing last week with previous versions of DVRescue. We are no using the most recent 20221017 version. Attaching screenshot in case that adds any info. Let me know if you have an

[2022-10-19 19:19] dericed commented on #620
Hi David, ooo I thought that had been fixed since the 2022-10-11 build. Can you check and see if the output mov file and see if it plays and seems complete? Normally when the GUI gets ffmpeg to start packaging then it changes from the gray system to the arrow and then it runs and a pass or fail is returned so that it changes to a green checkmark (done) or red x (error). Seems like the process isn'

[2022-10-19 20:23] GeorgiamMiraeC commented on #620
Hi Dave,
   I tried to package again and now I'm getting the 3 blue dots.
I hit DEBUG and this is what I got:

beginning commands log
/bin/bash /Applications/dvrescue.app/Contents/Helpers/dvpackager -v -X /Applications/dvrescue.app/Contents/Helpers/xmlstarlet -a n -T /Users/oralhistorycenter/Desktop/_DVrescue tests/flapan_02_test1.dv.dvrescue.xml /Users/oralhistorycenter/Desktop/_DVrescue tests/fl

[2022-10-19 20:32] GeorgiamMiraeC commented on #620
Hi Dave,
  I tried to package the clip again and ow I'm getting the three blue dots symbol.
I hit DEBUG and this is what I got:
beginning commands log
/bin/bash /Applications/dvrescue.app/Contents/Helpers/dvpackager -v -X /Applications/dvrescue.app/Contents/Helpers/xmlstarlet -a n -T /Users/oralhistorycenter/Desktop/_DVrescue tests/flapan_02_test1.dv.dvrescue.xml /Users/oralhistorycenter/Desktop/_

[2022-10-19 20:43] GeorgiamMiraeC commented on #620
Okay wait, after looking at the code I realized we needed to click the segment options. After I clicked all of the segment options except for audio setting change, exporting the file to .mov completely worked. So just to clarify, the segment options are necessary and we need to use them.

[2022-10-20 16:23] GeorgiamMiraeC commented on #620
Hi Dave,
  Alright from my experience, sometimes the software will work and I can export the file to .mov and other times I will just get an indefinite spinning orange circle. I thought selecting the segments was a factor, but it doesn't seem to make a difference. Also, I left a tape to be captured overnight and all I have is a page of code and no video. This has never happened before though and t

[2022-10-20 19:03] dericed commented on #620
Hi @GeorgiamMiraeC I'm grateful for your work on troubleshooting this. Could you email me the dvrescue xml files for these files or zip them and drop them in a message here. That may help me recreate the issue better.

[2022-10-20 19:27] libbyhopfauf commented on #617
@dericed I think that the files that are already added to the queue should stay there and continue processing, sort of like the queue in Handbrake, so that you can load more files in, package them and add them to the queue. Maybe if you click back into a file that is packaging, it should just show what you have in the queue?

[2022-10-20 19:32] libbyhopfauf commented on #618
@dericed nope, no XML output when it crashes or I have to force quit. I can test that command when I have access to decks later today. I was using a 2012 Mac Mini which is running Catalina 10.15.7. I'll test on a new computer and see if it's a Mac issue in general or maybe just old computer one.

[2022-10-20 19:33] libbyhopfauf commented on #622
I agree. I think that would be more clear than nothing showing up. I'll put together a design.

[2022-10-20 19:35] dericed commented on #617
I agree Handbrake is a good example of that. I had been thinking of merging the segment table in the middle with the queue output file list at the bottom but i think this discussion shows that keeping them separately focused might be better.

[2022-10-20 19:36] dericed commented on #618
Oh I think I found this crash too and it was related to what was fixed in https://github.com/mipops/dvrescue/pull/621/commits/927223e3fcc3c62993c45035a7fb8a6ae3791f63. Can you retest with the 2022-10-20 option for the crash scenario?

[2022-10-20 19:37] libbyhopfauf commented on #617
Yeah I think that makes sense, that way there is some indicator that the files processing are still going and where they are at.

[2022-10-20 19:38] libbyhopfauf commented on #618
Yep, will do once I have access to decks.

[2022-10-20 20:12] libbyhopfauf commented on #618
Tested this on a 2014 Mac Mini also running Catalina 10.15.7, as well as a 2019 MacBook Pro running Big Sur 11.6.7 and am still getting the same result as with the older computer. Both analysis and package cannot handle the larger files created at MIPoPS that we need to package according to the audio rate changes. We're just getting endless spinning pink wheel.

[2022-10-20 20:15] dericed commented on #618
yikes, what if you dig the command to generate the xml from the debug window and just run that in terminal directly?

[2022-10-20 20:51] libbyhopfauf commented on #618
There's no problem using the XML and the CLI to package. I just can't analysis or package in the GUI with larger files. It also seems like sometimes it will segment and sometimes it won't. CLIs consistently accurately package according to the segmenting rules specified in the command.

[2022-10-21 13:15] dericed commented on #618
hmmm, by `will segment` do you mean outputting segmenting movs or just displaying the table of what the outputs would be? in either case, could you share the xml and some steps and I can try to recreate.

[2022-11-02 22:55] GeorgiamMiraeC commented on #620
Hi @dericed I just wanted to update you. I downloaded the most recent version of dvrescue which has the date 10/29/2022. I was able to capture a video, although it came out slightly short. I'm still having some trouble with the packaging, I just get an orange spinning arrow. Let me know if you'd like me to send you anything or you need anything else. Thank you!

[2022-11-03 19:24] GeorgiamMiraeC commented on #620
Hello,
  I was able to package two videos to .mov files, one that is 12 minutes and one that is a half hour long. The packaging for both worked after I restarted the computer. However, when I restarted the computer for a third time and tried to package a third video I just received the orange spinning arrow. I'm testing the capturing and so far it successfully captured a short 12 minute video. Tha

[2022-11-10 18:14] GeorgiamMiraeC commented on #620
Hello,
  I hope you're doing well!
  I shared a google drive folder that has xml files and a spreadsheet detailing our experience with DvRescue. From my experience the primary issue we're having is that it's not consistently capturing and packaging the videos. Usually when I try to package a video I receive the orange spinning arrow. Occasionally if I restart the computer the packaging will work.

[2022-11-10 18:27] ElderOrb commented on #221
@privatezero can you please try the latest version? Looks like this for me:

<img width="959" alt="image" src="https://user-images.githubusercontent.com/23638/201176979-bebc9e62-6972-47e8-8601-7db92dea010d.png">

[2022-11-10 18:32] ElderOrb commented on #222
@JeromeMartinez does dvrescue output progress during report generation?

[2022-11-10 18:34] ElderOrb commented on #373
@libbyhopfauf @dericed still an issue ?

[2022-11-10 18:37] libbyhopfauf commented on #373
It’s still been really buggy for me even with the most recent builds on a
variety of computers. Mostly the sporadic jumping around between rows or
occasionally pushing the table back up to the top even if you didn’t click
on it.

On Thu, Nov 10, 2022 at 10:34 AM elderorb ***@***.***> wrote:

--
Sent from Gmail Mobile

[2022-11-10 18:40] dericed commented on #220
Will close based on @g-maxime's review. @privatezero please reopen if not the case.

[2022-11-10 18:40] #220 closed

[2022-11-10 18:42] dericed commented on #372
@libbyhopfauf, can we close this one in favor of https://github.com/mipops/dvrescue/issues/372?

[2022-11-10 18:48] libbyhopfauf commented on #372
@dericed which one?

[2022-11-10 18:48] dericed commented on #433
@ElderOrb yes i think that's right that the frame table and segment table could benefit from having horizontal scroll capabilities. Currently I can move vertically in these tables via the touchpad but not horizontally.

For zoom in/out, I presume this references a two-finger pinch or unpinch gesture on the touchpad, which could be relevant for components with the zoom in/out option (the graph)

[2022-11-10 18:48] dericed commented on #502
close as complete

[2022-11-10 18:48] #502 closed

[2022-11-10 18:51] dericed commented on #372
@libbyhopfauf sorry, i meant https://github.com/mipops/dvrescue/issues/505

[2022-11-10 19:08] libbyhopfauf commented on #372
@dericed sure. Should I move this image in there or no?

[2022-11-10 19:10] libbyhopfauf commented on #433
@ElderOrb @dericed I agree! That would horizontal scroll capabilities would be super helpful!

[2022-11-10 19:19] dericed commented on #372
I'd suggest not since the two issues are about different things. The image makes sense if moving forward with an alternate layout design, but issue https://github.com/mipops/dvrescue/issues/505 is about adding a setting to set which columns are visible in the frame table.

[2022-11-10 20:50] libbyhopfauf opened #624 "dvpackager - rec start markers vs. rec stop markers"
Would it be possible to have this segmenting rule package files based on the recording stop markers as well or alternatively? For example, this file has both start and stop markers, but dvpackager will only split it by rec start markers.

<img width="1792" alt="Screen Shot 2022-11-10 at 12 46 25 PM" src="https://user-images.githubusercontent.com/13877631/201203057-d46ff37e-db3d-4278-9820-028c455d4

[2022-11-10 20:54] libbyhopfauf opened #625 "dvanalysis GUI - segmenting rules aren't working"
For DVRescue version 20221105 of the GUI, the dvanalysis tab's segmenting rules aren't working. They are working in the dvpackager tab.

<img width="1792" alt="Screen Shot 2022-11-10 at 12 46 25 PM" src="https://user-images.githubusercontent.com/13877631/201203616-46f90b06-02c2-4385-9d35-ee971535771e.png">

<img width="1792" alt="Screen Shot 2022-11-10 at 12 47 24 PM" src="https://user-images.gith

[2022-11-10 21:21] dericed commented on #625
@libbyhopfauf The segment table looks like it's hidden at the moment. Could you drag the top edge of the frame table downward to confirm the contents of the segment table aren't correct.

[2022-11-10 22:26] libbyhopfauf commented on #622
How about this?

![no-deck-detected_small](https://user-images.githubusercontent.com/13877631/201219239-099ed818-a706-45bc-a4e8-13b539923348.gif)

[2022-11-10 22:31] dericed commented on #622
Epic!!!
@ElderOrb can you center this on the capture tab if no decks are found

[2022-11-10 22:36] privatezero commented on #622
@libbyhopfauf dude that is straight cyberpunk

[2022-11-10 22:39] privatezero commented on #220
Will test again - I believe I already confirmed it was working on my end (and then neglected to report)

[2022-11-10 22:43] libbyhopfauf commented on #505
@dericed this was what we were talking about when you were in town, just a simplified version of the table view so you can select which columns you want to see so you don't have to scroll back and forth when you're checking for various errors.

<img width="1792" alt="dvanalysis-simple-table-view_example" src="https://user-images.githubusercontent.com/13877631/201221533-8b3d923c-2447-4721-84d4-4cec

[2022-11-10 23:25] libbyhopfauf opened #626 "404 page GIF"
@privatezero how about this for the 404 page?

https://user-images.githubusercontent.com/13877631/201226904-d03ac4c9-1746-4298-ae27-4ff36345ca50.mp4

[2022-11-11 00:06] privatezero commented on #626
Looks good to me!

[2022-11-11 00:22] libbyhopfauf commented on #536
@privatezero when you have a chance, this is ready for review and adding to the site. Thanks for your suggestions!

[2022-11-11 00:24] libbyhopfauf commented on #626
I made a GIF too, but it was huge for some reason. It's [here](https://drive.google.com/drive/folders/1vlCpmmIq2uOWg_2tuXpwZ4uNQWDmozJZ?usp=share_link) if you wanna check it out.

[2022-11-11 00:26] libbyhopfauf commented on #625
@dericed OH! That's so weird that it's hidden like that. Okay, yes, it's there.

[2022-11-11 00:26] #625 closed

[2022-11-11 02:09] libbyhopfauf commented on #372
no worries, i added a new image to #505

[2022-11-11 02:09] #372 closed

[2022-11-11 19:43] dericed opened #627 "dvrescue: say if no devices are found"
with avfctl there's some feedback:

[code]

but dvrescue is silent:
[code]

also can we silent the unrelated avfoundation messages?

[2022-11-14 22:28] libbyhopfauf opened #629 "dvanalysis GUI - navigation buggy"
When you try to go to a specific line of the table and then press play in the player, it jumps to the next line on the graph. By clicking on the line again it immediately does the same thing. Navigation within the graph does not seem to work.

GUI + CLI version = 20221112
macOS = Catalina 10.15.7

https://user-images.githubusercontent.com/13877631/201781403-184f5338-1e36-4bf7-aeff-2b31c600f3b2.mp4

[2022-11-14 22:46] libbyhopfauf opened #630 "capturing Digital8"
**Regarding capturing Digital8 tapes:**
- vrecord: dvcapture seems to be working great, including deck control.
- DVRescue GUI: deck control and capture are working, however audio is not consistently captured when using the GUI to capture Digital8

**Capture specs:**
- vrecord version = 2022-02-28
- dvrescue CLI + GUI version = 2022-11-12
- macOS = Catalina 10.15.7
- computer = Mac mini (late 2014

[2022-11-14 23:16] privatezero commented on #536
@libbyhopfauf the branch here https://github.com/mipops/dvrescue/tree/iframe-testing will embed all the existing doc pages, so this can go in with the others all at once.

Let me know when you want me to flip the switch on that and kick all the pages live!

[2022-11-14 23:24] libbyhopfauf commented on #536
Oh! I see! I thought they went in one at a time. I suppose now is fine and
we'll just keep updating them as we can?

Sincerely,
Libby S. Hopfauf *(she/her/hers)*
Co-Executive Director
Moving Image Preservation of Puget Sound ***@***.***> (MIPoPS)
***@***.*** ***@***.***>
206-496-9436

On Mon, Nov 14, 2022 at 3:16 PM Andrew Weaver ***@***.***>
wrote:

[2022-11-14 23:29] privatezero commented on #536
Sweet - I'll put a PR up for that!

[2022-11-15 16:35] #626 closed

[2022-11-15 17:44] belak1 opened #634 "dvcapture: GUI controls confuse multiple decks of same model"
I'm conducting simultaneous capture using the Capture tab of the GUI but sometimes the controls either aren't clear or change which deck is being controlled. At the top of each preview, the GUI prints the deck name, but for two decks of the same model, this is identical.

Computer: Mac Pro (Late 2013) running macOS Monterey 12.6.1
DVRescue: Version 0.22.10
Deck: Sony HVR-M35U (x2) connected with T

[2022-11-15 21:43] dmdunham commented on #620
@dericed Wanted to see if you have had a chance to review the Google Drive folder with spreadsheet and xml files to help troubleshoot our experiences with DVRescue thus far.

Also, Georgia and I should be able to join your DVRescue workshop tomorrow. We may have to sit together at our DVRescue setup. Do we need two tickets to the workshop or is one okay?

What do you recommend for a cleaning tape?

[2022-11-15 22:18] dericed commented on #620
Oh, glad you're coming. We have a pull request finalizing soon which may help the situation you mentioned. See you soon. :)

[2022-11-15 22:40] dericed opened #635 "clarify statusl or fix typo"
`dvresuce -h` says:

[code]

but
[code]

Is `statusl` a thing or just a typo?

[2022-11-15 22:42] dericed opened #636 "loss of deck control via cli"
Here's my terminal command history:
[code]

The first play worked but then the subsequent commands didn't do anything.

[2022-11-15 22:50] dericed commented on #636
rebooted and got deck control again and repeating the steps did not make me lose deck control

[2022-11-15 22:52] dericed opened #637 "offer error output of unapplied deck control command"
Currently there's no feedback if an error:

[code]

[2022-11-17 17:46] libbyhopfauf commented on #620
@dmdunham this was the [cleaning tape](https://www.amazon.com/Panasonic-AY-DVMCLWW-Digital-Video-Cleaner/dp/B003YVLTEI/ref=sr_1_1?crid=1TRSXRA2S1QT5&keywords=dv+cleaning+tape&qid=1668707038&sprefix=dv+cleaning+tape%2Caps%2C199&sr=8-1) I mentioned in the workshop yesterday. There are other brands out there and I am sure they work fine, I just haven't had any experience with them because these ones

[2022-11-17 18:31] libbyhopfauf commented on #620
@dmdunham @GeorgiamMiraeC here are a few more additional thoughts I had after testing out one of the files you sent and reviewing the comments in your spreadsheet:

* The image being out of sync in the DVRescue GUI player vs. the display on your deck during capture is normal and should not affect the capture, it’s just the delay between what is playing and it being captured which is common for mos

[2022-11-17 21:56] dericed commented on #630
Hey @libbyhopfauf, I suspect the audio is captured but just not in the first frame of your capture, thus some players would presume there's no audio from the first frame and not play it. Does the audio return if you run the file through dvpackager?

[2022-11-18 00:51] #537 closed

[2022-11-18 01:26] dericed opened #640 "segment table defaults to hidden"
When opening the "analysis" tab, the Segment table is hidden. To replicate:

- open gui to analysis tab, open `mix.dv`, then go to "Segment" table

The gui then looks like this:
<img width="1552" alt="image" src="https://user-images.githubusercontent.com/762604/202594967-f24b0efa-7c0d-4148-9b71-0f46561eca8d.png">

- from here if I select "Timecode Break" as a method to segment then it looks like:

[2022-11-18 21:30] dericed opened #641 "capture chart labelling"
![image](https://user-images.githubusercontent.com/762604/202805908-1098bf54-76b6-4efb-b072-7dad5dd1c9e0.png)

On the capture chart can you label the x-axis. For instance in this screenshot the right-most sample on the graph is 5,371 so can you label the frames accordingly. This can be similar to the x-axis label in qctools which looks like:

![image](https://user-images.githubusercontent.com/7626

[2022-11-18 21:43] dericed opened #642 "reset player between record/play"
![image](https://user-images.githubusercontent.com/762604/202807742-c8fd4fa7-8170-4d46-b255-7d6e7bb99612.png)

When I capture and then click stop, sometimes I get a blank xml and a non-frame-aligned dv.

[code]

From here, the player then shows a mis-aligned decoding of DV. So this is partly due to https://github.com/mipops/dvrescue/issues/615 but also the player should be cleared at the start of

[2022-11-18 21:44] dericed commented on #642
Noting for @JeromeMartinez that this is based on the gui using the 20221116 cli.

[2022-11-19 04:06] #315 closed

[2022-11-19 05:27] dericed commented on #477
Some comments to starting adding this in. These comments are based on the above image.

- In the upper right file table, add a checkbox to each row. I think we need some clarity that selecting means that the file will be an input to the merge so maybe it needs a banner above the file table, like "Select Files to Merge Into an Output".
   - This iteration of the file table (maybe of iterations of i

[2022-11-19 17:26] dericed commented on #223
Closing as this is defined in the csv document now.

[2022-11-19 17:26] #223 closed

[2022-11-19 17:27] dericed commented on #221
Will close, as the ui has undergone a lot of development since this issue was open. @privatezero please reopen if still an issue.

[2022-11-19 17:27] #221 closed

[2022-11-19 17:28] dericed commented on #120
Uncertain if it's worthwhile to continue development of this option. It was a prototyping tool helpful before the gui was more developed. Is this vtt still helpful now? @libbyhopfauf @privatezero

[2022-11-19 18:42] dericed opened #646 "enable drawtext filter in bundled ffmpeg"
The gui uses the drawtext filter, but the bundled ffmpeg is not built with it:

[code]

Can we add --enable-libfreetype and --enable-libfontconfig to this configuration?

[2022-11-20 02:13] privatezero commented on #120
Not sure - can't say I've used it in an applied context though

[2022-11-20 02:14] privatezero commented on #221
This was still in fact an issue in the most recent build I tested on Windows, but is mainly a problem on my laptop so maybe not worth focusing a ton of energy on right now

[2022-11-21 20:34] libbyhopfauf opened #647 "wishlist - button in dvpackager GUI to view file"
Totally not an urgent thing, but I think it would be helpful to have a "view in finder"/"view in folder directory" button in the dvpackager GUI for when files are done packaging. Similarly to how Handbrake has one in their queue window.

[2022-11-21 20:36] libbyhopfauf opened #648 "dvpackager queue?"
I have been trying to figure out how to queue up multiple files to package in the dvpackager GUI. Is this not an option currently, or am I just missing something? To clarify, I mean open a file, add it to the file output list and then move onto another file, add it to the file output list, etc. through multiple files so that you can queue up a few to run at a time (with differing segmentation rule

[2022-11-21 20:37] libbyhopfauf commented on #120
I also cannot say that I have used it, so maybe not needed any more?

[2022-11-28 19:42] dericed opened #657 "apply timeout option to device inputs"
Currently the timeout option only applies to piped inputs:

[code]

Can you please apply this to device inputs as well (such as when the content of a tape ends and the tape is only moving over blank portions).

[2022-11-29 15:00] retokromer commented on #646
+1

[2022-11-29 20:57] dericed opened #659 "add xml attribute for partial xml creation"
As discussed at https://github.com/mipops/dvrescue/pull/650#issuecomment-1329482080

[2022-11-29 23:22] #657 closed

[2022-11-30 01:37] libbyhopfauf commented on #634
We have some identical decks at MIPoPS. I'll do some testing and see if I experience the same thing.