[2019-11-13 20:56] dericed opened #9 "dvpackager needs a verification step"
The frame count of the total outputs should equal that of the frame count of the input or be reported.

[2019-11-14 21:05] ablwr opened #10 "Needs a real license"
Right now we have "The Unlicense" listed as the license for this project, but now that the project has released its first beta release, we should consider a standard license.

[2019-11-14 21:09] ablwr opened #11 "Running `dvrescue --Help` runs the program"
Running `dvrescue --Help` shows the brief help page and then prints an empty XML to the screen.

Here is the output I get, testing snapshot v.0.0.0.20191113 on Ubuntu 18.04:

[code]

(This is also true if I just run `dvrescue` alone)

[2019-11-14 21:10] JeromeMartinez commented on #10
I thought it was wanted.
Unlicense is a standard license and relevant.  Else bsd 2-clause?

[2019-11-14 21:15] ablwr commented on #10
I put it up there temporarily until we were in a closer state of release. That's fine with me. If we can get someone from MIPoPS to confirm, I can make the change.

[2019-11-15 21:52] henryborchers opened #17 "Support for CMake"
CMake is a meta-build system that generates many different build systems, including GNU Makefiles, Visual Studio projects, Ninja, Xcode projects. CMake has become the de facto standard for C and C++ projects because it much easier to build across the various platforms.

It also includes built-in support for packaging tools. (such as Wix Toolset aka .msi files , Nullsoft installers, DNG, RPM, Debia

[2019-11-16 18:03] henryborchers commented on #17
@JeromeMartinez, if you need any help. CMake is something that I've spent a lot of time with.

[2019-11-17 14:55] JeromeMartinez commented on #17
@henryborchers project dependencies [already have CMake project files](https://github.com/MediaArea/MediaInfoLib/tree/master/Project/CMake), we'll provide a basic `CMakeList.txt` for this project and it will be up to you to improve it.

One important "feature" I like with autotools is the ability to provide a "source" (not exactly source as we have to build some files) package without too much ext

[2019-11-17 19:02] ablwr commented on #17
I'm compiling on Linux and it's working great for me.

[2019-11-17 19:46] dericed opened #18 "document installation"
There's the direct download but also installation via homebrew, such as https://github.com/MediaArea/homebrew-mediaarea/pull/51#issuecomment-554311387

[2019-11-18 14:21] #17 closed

[2019-11-18 14:36] #11 closed

[2019-11-18 14:37] dericed commented on #10
@ablwr resolved?

[2019-11-18 14:41] ablwr commented on #10
Closed via #19

[2019-11-18 14:41] #10 closed

[2019-11-18 14:45] dericed opened #21 "remove the sct layer from the xsd"
The contents of sct are valid contents of the parent element of sct and it's not needed or used in the current output.

[2019-11-18 16:05] #21 closed

[2019-11-30 23:12] henryborchers opened #26 "Linker error if libzen isn't built with zlib"
When building dvrescue, if libzen isn't built with zlib, I get a linker error.

`
../../.local/lib64/libzen.so.0.4.37: undefined reference to `pthread_create'
`
Tested with  Centos 7, Centos 8, Fedora 31, Ubuntu 16.04, and Ubuntu 18.04

[2019-12-01 11:20] g-maxime commented on #26
Do you build ZenLib with autotools or CMake?

If you build with CMake, can you try with this patch? MediaArea/ZenLib#103

[2019-12-09 19:57] #26 closed

[2019-12-09 19:58] ablwr opened #27 "Needs HTML report script"
For easy viewing, for those who don't want to view raw XML and JPGs

[2019-12-09 19:59] ablwr opened #28 "Docs: Define XML parameters"
Need to draft documentation around XML parameters for users

[2019-12-10 03:05] henryborchers commented on #26
Why closed? It’s still an issue

[2019-12-10 10:12] JeromeMartinez commented on #26
We didn't have feedback from https://github.com/MediaArea/ZenLib/pull/103#issuecomment-560132661.

[2019-12-10 14:06] dericed commented on #28
Maybe worth keeping that documentation in sync with what is in https://github.com/mipops/dvrescue/blob/master/tools/dvrescue.xsd. Although the HTML report may use very different terms since it is derived from the xml.

[2019-12-10 15:28] henryborchers commented on #26
Sorry, I'm working on dockerfiles to make it easier to explain. I had a busy week coming back from work from Thanksgiving. I'll have them shortly.

[2019-12-10 15:45] henryborchers commented on #26
My mistake, it's not zlib. It's CURL. If libcurl isn't installed, then I get linker errors.

@JeromeMartinez I have build logs on my Jenkins server to prove it. Can I PM you a link?

[2019-12-10 15:49] JeromeMartinez commented on #26
@g-maxime would handle that, his email address is on the PR/commit previously linked.

[2019-12-10 15:50] henryborchers commented on #26
Sure thing!

[2019-12-10 20:36] ablwr commented on #28
Oh yesss yes, thank you.

[2019-12-11 02:53] dericed opened #29 "detect frame size and chroma subsampling discontinuity"
This sample should provide a demonstration (you may need to update the path to a fixed-width font file):

[code]

Presently with 0.19.11.20191114 (as 1129 doesn't have a Mac build), the `mix.dv` output gives:

[code]

The first changes in frame characteristics are detected, but not the last three, 00:00:00.667, 00:00:00.834, and 00:00:01.001. Also all frames data is chroma_subsampling=4:1:1 (even

[2019-12-11 03:27] JeromeMartinez commented on #29
Please push sample files to the sample repo so we can add non regression tests on it.

[2019-12-11 13:41] dericed opened #30 "accept piped input"
such as
[code]

[2019-12-11 13:44] dericed commented on #29
Since the file is synthetically generated by ffmpeg, I suggest we remake it as the test. On my machine it only takes about a second to make `mix.dv`, perhaps possible to skip the intermediate file and pipe the concatenated output to dvrescue directly if https://github.com/mipops/dvrescue/issues/30 is added.

[2019-12-16 14:07] #29 closed

[2019-12-16 14:59] JeromeMartinez commented on #29
Note that https://github.com/MediaArea/MediaInfoLib/pull/1200 adds also the support of DV100.

[2019-12-17 03:10] ablwr opened #31 "dvplay -x mode not creating XML/images (directory)"
I'm getting an error when running `dvplay -x`.

Here is the output:
[code]

The bottom error on line 66 can be averted by my changing `xml` to `xmlstarlet`. However I haven't figured out what's up with line 63 -- it seems to not be creating this folder.

I'm on Linux Ubuntu 18.04, which may be the issue, assuming this was written for and on a Mac!

[2019-12-17 03:11] ablwr commented on #31
Line 63 is `dvrescue "${DVFILE}" > "${DVRESCUE_XML}"`

[2019-12-17 03:17] ablwr commented on #31
Got it! On Line 63, I added `mkdir "${SIDECAR_DIR}"`

[2019-12-21 04:23] tomackroyd opened #34 "Dropped frames"
I am setting up a home DV archiving project and am experimenting with vrecord and dvrescue.

I recently ran five continuous DV captures using iMovie, Final Cut Pro 7, vrecord, and QuickTime Player 7’s “New Movie Recording” function. I wanted to compare results.
These were from the start of the same miniDV tape, of approximately the same duration, 9m36s. All captures were from a Sony DSR-40P (PAL),

[2019-12-21 09:55] kieranjol commented on #34
Woah, excellent report!

[2019-12-21 15:57] dericed commented on #34
Thanks, this report is so helpful. So far I found two issues:
- vrecord used -f dv rather than -f rawvideo when handling the dv stream so rather than simply moving it along it was remuxed.
- we set `-metadata creation_time=now` which with decklink is helpful since we record when we digitize, however this data is already digital and we intend to sustain it as-is. I've added a condition to drop this

[2019-12-21 17:05] dericed commented on #31
fixed via https://github.com/mipops/dvrescue/commit/94143fc46f065416c50de80d00b29ff2badcd818 https://github.com/mipops/dvrescue/commit/63c04826dcf693ef67847ba2bf0d303d35a6c60a

[2019-12-21 17:05] #31 closed

[2019-12-21 17:45] dericed opened #35 "missed change in frame specifications"
although mix.dv works, this real-world example doesn't https://archive.org/download/hey9_20191221/hey9.dv

[2019-12-21 17:46] dericed commented on #35
I was using `xxd -c 80 -ps hey9.dv  | grep ^5 | grep -o "ff61[0-9a-f][0-9a-f][0-9a-f][0-9a-f]" | sort | uniq -c` as a quick way to tally aspect ratio of the video source pack (aspect ratio is the last few bits of the returned values

[2019-12-21 17:47] ablwr commented on #31
Cool thanks for testing on a Mac and patching!

[2019-12-21 18:13] dericed commented on #35
Also in this sample `//frames[1]/@count` = 451; however, the element contains <frame> elements with the exceed 451.

[2019-12-21 22:04] ablwr commented on #34
Thanks for sharing this @tomackroyd !

[2019-12-21 22:36] tomackroyd commented on #34
@dericed Sorry, but I will need help testing from that branch, I don't know how to compile. Using macOS Sierra Terminal.
Tom

[2019-12-30 15:44] #35 closed

[2019-12-31 00:07] dericed opened #39 "need a logo"

[2019-12-31 00:59] ablwr commented on #39
:eyes:  :eye:   :crystal_ball:

[2020-01-02 14:21] #18 closed

[2020-01-04 21:59] tomackroyd commented on #34
Could still do with a little help running this, when you have a minute. Or does it need to approved and merged before I test? - Tom

[2020-01-04 22:14] dericed commented on #34
Hi @tomackroyd, thanks for offering, could you try this:

[code]

Then run vrecord prefixed with a `./` such as `./vrecord -e`

[2020-01-04 23:53] tomackroyd commented on #34
Thanks, @dericed. Have run another test from that branch.

Struggling with this tape - playing from the beginning now causes complete head clogs after around 10" playback. Used a cleaning tape.

Started take 3 about 20" in. This time only one capture break - frames 5871 and 5872 were dropped. Worth noting that all the vrecord dropped frames differ from take to take.

When capturing is finished, QC

[2020-01-08 19:23] alavigne12 commented on #39
Just an idea!
![Screen Shot 2020-01-08 at 11 22 58 AM](https://user-images.githubusercontent.com/32525121/72008691-427ffd00-3209-11ea-81fe-8108747f7675.png)

[2020-01-08 19:31] ablwr commented on #39
omg I love the _action italics_!!!

[2020-01-08 19:36] ablwr commented on #39
I think this is a great candidate, and I like the balance between DV and the medical symbol, maybe just a slight increase in the medical symbol to match the baseline of the D (but like how it wraps well and fits under the curvature of the V's cap). As mentioned, big fan of the italics but I think the typeface could be one better suited to being slanted, this one feels like its a bit confused about

[2020-01-08 19:39] bturkus commented on #39
similar color scheme....

[image: Screen Shot 2020-01-08 at 1.47.36 PM.png]

On Wed, Jan 8, 2020 at 2:36 PM Ashley <notifications@github.com> wrote:

--
Benjamin Turkus

Assistant Manager, Audio and Moving Image Preservation

Digital Collections Services

The New York Public Library

40 Lincoln Center Plaza, New York, NY 10023

212.870.1609 | x21609

nypl.org

[2020-01-08 19:45] ablwr commented on #39
@bturkus

[2020-01-08 19:48] dericed commented on #39
are the fonts used open?

[2020-01-08 19:50] bturkus commented on #39
take 2 of bad joke
<img width="656" alt="Screen Shot 2020-01-08 at 1 47 36 PM" src="https://user-images.githubusercontent.com/8987230/72010615-2d659700-3226-11ea-8fde-6851e89742e9.png">

[2020-01-08 19:56] ablwr commented on #39
@dericed is your concern from a supporting-OSS-ethos standpoint or a legal standpoint? Using open fonts is nice but not a requirement, logos are copyright as shapes and the final product is delivered not as a font but as vector shapes, so proprietary fonts can be used in the making of a logo and the logo becomes its own thing. The only concern is using a potentially trademarked logo inside of our

[2020-01-08 19:59] dericed commented on #39
I guess rather than copyright, I'm worried that the visual of the letters DV might be trademarked. Just a hunch, but we should be diligent to make sure the imagery is clear.

[2020-01-08 20:36] alavigne12 commented on #39
The logo is trademarked: http://tmsearch.uspto.gov/bin/gate.exe?f=doc&state=4803:x7qdz8.3.620
Womp, womp

[2020-01-08 20:37] alavigne12 commented on #39
BUT THIS VERSION IS NOT! http://tmsearch.uspto.gov/bin/gate.exe?f=doc&state=4803:x7qdz8.3.689

[2020-01-08 20:38] ablwr commented on #39
Oh man, amazing. And it looks hurt -- needs some help!

[2020-01-08 20:55] alavigne12 commented on #39
![Screen Shot 2020-01-08 at 12 50 28 PM](https://user-images.githubusercontent.com/32525121/72014821-811bb480-3215-11ea-8875-cb2be2535926.png)

[2020-01-08 20:56] alavigne12 commented on #39
Somehow it looks like Baywatch. Also happy to go in another direction if we want to avoid the DV.

[2020-01-08 20:57] ablwr commented on #39
:100: :100: :100: :100: :100: :100: :100:

[2020-01-08 20:59] dericed commented on #39
cc @ddennedy, are you familiar with DV trademark representations enough to know if we can get away with https://github.com/mipops/dvrescue/issues/39#issuecomment-572252662

[2020-01-08 21:02] ablwr commented on #39
Panasonic has bigger fish to fry

[2020-01-08 21:26] tomackroyd commented on #39
Is it me or is the circle not circular?

[2020-01-08 21:28] dericed commented on #39
ya it's like an 11/12 dar ¯\\_(ツ)_/¯

[2020-01-08 21:31] ablwr commented on #39
Yes @tomackroyd I feel the same, the circle is imperfect

[2020-01-08 21:36] alavigne12 commented on #39
![Screen Shot 2020-01-08 at 1 36 03 PM](https://user-images.githubusercontent.com/32525121/72018098-dfe42c80-321b-11ea-8969-9e1b05ba6d11.png)

[2020-01-09 00:40] privatezero commented on #39
I just wanna say the more Baywatch-ish the better

[2020-01-09 01:42] tomackroyd commented on #39
Agh now I can’t stop seeing DV RĚSCUE. Also can someone add◾️dropouts to the headclog 🤣

[2020-01-09 06:19] todrobbins commented on #39
I love them both, but prefer the one on the left. May need to make a cute mascot based on the red circle+cross 🤗

[2020-01-09 19:00] dericed commented on #34
Hi @tomackroyd, can you try with this alternate ffmpeg and see if it has an impact on dropped frames.

[code]

[2020-01-10 08:16] tomackroyd commented on #34
@dericed Cheers. I ran P09 take 4 through this alternate. Longer take (13m48s), dropped frames persist (all single, interestingly), see QCTools report at end of terminal output log, spoiler:

Logs here:
[DV_CAPTURE_P09_LOGS_TAKE_4_2019-01-10.zip](https://github.com/mipops/dvrescue/files/4044557/DV_CAPTURE_P09_LOGS_TAKE_4_2019-01-10.zip)
 - Tom

[2020-01-10 08:18] tomackroyd commented on #34
@dericed PS Just to show my working, here's the install log:
[dericed_alternate_ffmpeglink_install_2020-01-10.txt](https://github.com/mipops/dvrescue/files/4044571/dericed_alternate_ffmpeglink_install_2020-01-10.txt)

[2020-01-10 15:59] dericed commented on #34
Hi @tomackroyd take 4, uses the prior version of vrecord before https://github.com/mipops/dvrescue/issues/34#issuecomment-570824444. Could you now rerun with the comment there and the revised ffmpegdecklink?
btw the notice of dropped frames is derived from the framemd5 report rather than qctools.

[2020-01-10 21:04] tomackroyd commented on #34
Hi @dericed Cannot install:
`GPT1:~ GPT1$ cd /usr/local/Cellar/vrecord
GPT1:vrecord GPT1$ ls
2019-11-14
GPT1:vrecord GPT1$ git clone --branch dv-fixes https://github.com/amiaopensource/vrecord.git vrecord-dv-fixes
Cloning into 'vrecord-dv-fixes'...
fatal: Remote branch dv-fixes not found in upstream origin
`

[2020-01-10 21:32] tomackroyd commented on #34
Thanks @dericed. That version must have been deleted in the alt ffmpegdecklink install process, could not reinstall:
`GPT1:~ GPT1$ cd /usr/local/Cellar/vrecord
GPT1:vrecord GPT1$ ls
2019-11-14
GPT1:vrecord GPT1$ git clone --branch dv-fixes https://github.com/amiaopensource/vrecord.git vrecord-dv-fixes
Cloning into 'vrecord-dv-fixes'...
fatal: Remote branch dv-fixes not found in upstream origin`
so

[2020-01-10 21:39] dericed commented on #34
ooops, this is because dv-fixes were merged. hmmm, could you try with `Unfiltered` playback, that would make the processing much simpler

[2020-01-10 21:40] tomackroyd commented on #34
Also of interest to this project, I ran AVCVideoCap successfully the other day on the same bit of tape, here's a dvrescue file:
[P09_AVCVideoCap_2020-01-07_dvrescue.txt](https://github.com/mipops/dvrescue/files/4048117/P09_AVCVideoCap_2020-01-07_dvrescue.txt)

This seems to be the only way on my configuration other than vrecord to capture a .dv stream. FCP7 dv capture crashes, QuickTime 7 captures

[2020-01-10 21:41] tomackroyd commented on #34
How do I do that?

[2020-01-10 21:42] dericed commented on #34
in `./vrecord -e` change "Full Range Visual" to "Unfiltered"

[2020-01-10 21:43] dericed commented on #34
when quicktime 7 captures to mov, you can extract the dv with ffmpeg via:
`ffmpeg -i IMOVIE.mov -c:v copy -map 0:v:0 -f rawvideo extracted.dv`

[2020-01-10 22:07] tomackroyd commented on #34
Done. Finger trouble means take 6 turned into take 56. Dropped frames persist, two quite large, I saw one happen - 7 frames dropped.
[DV_CAPTURE_P09_LOGS_TAKE_6_2019-01-11.zip](https://github.com/mipops/dvrescue/files/4048256/DV_CAPTURE_P09_LOGS_TAKE_6_2019-01-11.zip)

[2020-01-10 22:29] tomackroyd commented on #34
Is there any data or metadata loss in this process?

[2020-01-10 22:33] tomackroyd commented on #34
Hi @dericed. Out of interest, what differs with this version of ffmpegdecklink?

[2020-01-13 13:40] dericed commented on #34
@tomackroyd see the bottom of the referenced patch. It changes an avfoundation flag, setAlwaysDiscardsLateVideoFrames:NO.

[2020-01-13 13:48] dericed commented on #34
@tomackroyd with the copy of vrecord that you downloaded, could you try:
`./vrecord -I '-thread_queue_size 512'`

[2020-01-14 08:30] tomackroyd commented on #34
Done. Dropped frames persist, one block right at the start: `[…] timestamp discontinuities in the file's frame MD5s for these frame ranges: 2-8 799-800 8657-8657 […]` (I saw the playback freeze at one point for what looked like 10 frames but that didn't end up in dropped frames in the resulting file.)
Logs:
[P09_take_7_thread_512_logs.zip](https://github.com/mipops/dvrescue/files/4058090/P09_take_

[2020-01-14 16:52] richardpl commented on #34
What about capturing without playback filters active?

[2020-01-15 07:46] tomackroyd commented on #34
Do you mean without seeing the recording as it's being captured? How do I turn that off?
Tom

[2020-01-15 16:30] dericed commented on #34
Hi @tomackroyd, I think the simplest command in your case would be:

[code]

This simply reads from the avfoundation input and writes the file and the framemd5s. After you end that recording, you could test the framemd5 for pts discontinuity (dropped frames) like this:

[code]

Feasibly you could also remove the framemd5 output and just do:
[code]

but in that case, I think you'd need dvrescue rep

[2020-01-16 06:31] tomackroyd commented on #34
Thanks. Test completed. (I went and had dinner so this is a long capture :-)
Multiple dropped frames:
[P09_raw_2020-01-16_dvrescue.log](https://github.com/mipops/dvrescue/files/4069654/P09_raw_2020-01-16_dvrescue.log)
[P09_raw_2020-01-16_Terminal_Saved_Output.txt](https://github.com/mipops/dvrescue/files/4069655/P09_raw_2020-01-16_Terminal_Saved_Output.txt)

[2020-01-16 06:38] tomackroyd commented on #34
One interesting note, and I feel I should be able to describe this more technically: the replay monitoring for these captures shows repeated pixels at the start of each line, and also if you look at e.g. sky you can see what looks like spatially offset colour captures from the chip. There is blanking at the end of the line too. QuickTime playback sometimes won't show this because of the whole aper

[2020-01-16 15:40] dericed commented on #34
To summary the test of @tomackroyd's prior comment, the command `/usr/local/opt/ffmpegdecklink/bin/ffmpeg-dl -f avfoundation -capture_raw_data true -i DV -c copy -map 0 -f rawvideo /Users/GPT1/Movies/vrecord\ tests/P09/P09_raw_2020-01-16/test.dv -an -f framemd5 test.framemd5`
resulting in a capture with dropped frames (9 altogether):
`7603-7605 7618 19563 21064 21814 26808 29254`.

I was curious i

[2020-01-17 01:53] tomackroyd commented on #34
Bear in mind other methods of capturing from the same tape, in the same deck, result in few - if any - dropped frames. (The Final Cut Pro capture is a good example.) One possible (complex) route would be to identify via timestamp all dropped frames from all the vrecord sessions, and graph the result to see what pops out.
Visually there seems nothing major going on either side of these dropped fram

[2020-01-18 16:20] dericed commented on #34
@libbyhopfauf tested ffmpegdecklink with the avfoundation patch and it was a big improvement. I included it in the recent ffmpegdecklink to be based on ffmpeg 4.2.2 with the patch, see https://github.com/amiaopensource/homebrew-amiaos/pull/217. @tomackroyd, could you run `brew upgrade` and retry your test. :-D

[2020-01-18 20:59] dericed opened #40 "dvrescue needs a better description in help output`"
[code]

could use an abstract and example of direct out the xml

[2020-01-20 21:28] libbyhopfauf commented on #39
Here's the goofy one that I made after we got the grant LOL

![image](https://user-images.githubusercontent.com/13877631/72758852-ca122800-3b88-11ea-883a-934280e4f4d5.png)

[2020-01-20 21:34] libbyhopfauf commented on #34
@tomackroyd In addition to the patch, I was wondering if you have cleaned your deck recently (manually, without a cleaning tape). Also, could send a link to the capture that was done on the same deck with the same tape in Final Cut Pro? I was to test something. Thank you!

[2020-01-20 21:38] libbyhopfauf commented on #34
If you go into "Edit Settings" mode, there is an options that says "Select View (for recording)." If you select "Unfiltered" from the list, this will turn off the other playback filters for recording which makes it so that less processing is going on during capture. At MIPoPS, this is the view that we have to use for all captures, otherwise we end up with tons of dropped frames, PTS discontinuitie

[2020-01-22 21:38] todrobbins commented on #39
The skeuomorphism is 👌

[2020-01-23 08:35] tomackroyd commented on #34
@libbyhopfauf I have only been using a cleaning tape - have not opened the deck up, makes me a bit nervous. Should I clean anything but the heads?
FCP7 capture here: https://www.dropbox.com/s/v531b83chzrp8on/P09_FCP7.mov?dl=0

@dericed Have run another test, unfiltered playback, following a `brew upgrade` Dropped frames persist. Logs here:
[DVCAPTURE_P09_take_9_2020-01-23_logs.zip](https://github.

[2020-01-25 05:43] tomackroyd commented on #34
Different tape, dropped frames persist. I ran a capture of the same tape using QTP7 - no dropped frames that I can tell - I supered one over the other in FCP.
I'm regularly seeing frames dropped right at the beginning of vrecord captures. I think this is fine - it's the beginning of the recording. The QTP7 dvrescue log will give an idea of how **that** capture needed to "settle in". Logs:
[P01_QTP

[2020-01-25 06:01] tomackroyd commented on #34
Here's a test from further down the same tape. This is an edit laid back to the tape from Lightworks to a DVCAM deck. So it's a DVCAM recording i.e. with timecode and at the higher tape speed. Was interested to see if this made a difference.
No dropped frames in the 3m22s duration.
[P01_DVCAM_recording_2020-01-25_logs.zip](https://github.com/mipops/dvrescue/files/4111663/P01_DVCAM_recording_2020-0

[2020-01-28 14:31] stephenmcconnachie opened #41 "DVPackager: ffprobe call to identify first video codec returning incorrect result"
Using dvpackager on a .dv file, result as below (1): `This first video codec of is not DV, but is .`

The ffprobe command to identify the codec, when run in isolation from dvpackager, returns the dvvideo codec result successfully (below 2).

I used the Ubuntu 18.04 DVRescue package, installed from: https://mediaarea.net/download/snapshots/binary/dvrescue/20191216/dvrescue_0.19.11.20191216-1_amd64.

[2020-01-28 14:40] stephenmcconnachie commented on #41
Just to rule out `sudo` as a factor, I ran the ffprobe cpommand under sudo also, same result: dvvideo

[2020-02-02 00:34] tomackroyd commented on #34
Hi @libbyhopfauf - I'll need to delete that file from my Dropbox soon - can you let me know when/if you have successfully downloaded it?

[2020-02-12 21:11] dericed opened #43 "add test to note nulled audio dif blocks"
These exist in SEATTLEsecond.dv

[code]

This is valid, but just O_O

[2020-02-12 21:17] JeromeMartinez commented on #43
Currently only 0x8000 is tested, but testing also 0x0000 is doable.
Should we do any difference in the output between 0x8000 and 0x0000? If so, how?

[2020-02-12 21:19] dericed commented on #43
a single 0000h is normal, but a full dif block, may be suspect

[2020-02-12 21:45] dericed opened #44 "delineation of frames in SEATTLEsample.dv"
This is a decent sample to depict parsing issues when writing the dvrescue output.
[SEATTLETAPEsecond.dv.zip](https://github.com/mipops/dvrescue/files/4195089/SEATTLETAPEsecond.dv.zip)

In the corresponding output dvrescue xml, frames 1-8 and 9-14 are clustered like this because of a change in properties.

[code]

Moving from frame 8 to frame 9 is a jump from `audio_rate="48000" channels="2"` to `

[2020-02-12 23:11] dericed commented on #44
Related to this is frame 17, where dvrescue reports that the audio channel switches to `1`

[code]
but here are the audio dif blocks, which would (normally) contain the audio source packs.

[code]

I suggest the apply, where an `0xffffffffff` audio source pack with a payload of `0x8000` or the 12 bit equivalent should indicate no change rather than a change in specifications.

[2020-02-12 23:12] dericed commented on #44
btw here's an example of an audio dif block read error with 12 bit 23kHz

[code]

[2020-02-12 23:29] dericed commented on #44
Here's an [alternate sample file](https://archive.org/download/DvAnalyzerSampleDvAudioErrors/dvanalyzer_sample_EVIA_IU.mov) on this issue. There should only be one <frames> but the audio read errors make it seem like there's only one audio channel in some frames.

[2020-02-12 23:44] dericed commented on #43
Actually this is better detected via the 6th byte, there the last four bits are `0b1111` which is AUDIO_MODE = invalid audio data. I'm not exactly sure what a decoder would do with this. This[file](https://archive.org/download/DvAnalyzerSampleDvAudioErrors/dvanalyzer_sample_EVIA_IU.mov)  also includes quite a bit of this issue of having both "AUDIO_MODE=invalid" and 0x8000 as an audio error.

I'm

[2020-02-14 00:21] libbyhopfauf commented on #43
@dericed the file you linked here wouldn't open for me. Was this from a file made at MIPoPS? I have noticed a few captures recently that said "AUDIO_MODE=invalid" in the reports. I could upload those to the Drive if it would help with testing!

[2020-02-14 00:31] libbyhopfauf commented on #44
@dericed I was able to open the first file, but not that last one you linked to. This all sounds like an awesome way of detecting the read error. I am curious though if it could possibly have been a recording error in the case of the first video (since that camcorder was having consistent issues with capturing images/data along the left side). Would that show up differently? Or would it just look

[2020-02-14 00:38] libbyhopfauf commented on #34
@tomackroyd I apologize! I just now saw this! Would it be possible for you to upload it again?

I would recommend cleaning the whole tape path (the heads and any of the guides that the tape runs along) manually since sometimes cleaning tapes can end up spreading debris around instead of removing it.

[2020-02-14 22:53] ablwr commented on #39
What can we do to finalize the logo and wrap up this issue?

[2020-02-14 23:23] tomackroyd commented on #34
@libbyhopfauf

Done!

[2020-02-17 22:41] libbyhopfauf commented on #39
Not to throw another wrench in the works, but here's another option based on Ari's design, but using the DVCAM font/logo style.

![ARL+LSH_dvrescuelogo_draft01](https://user-images.githubusercontent.com/13877631/74690347-95978900-5193-11ea-8016-582f0a3caef5.png)

[2020-02-18 01:18] ablwr commented on #39
Comboooo!

I like it! I guess we should go with the dashy one just to avoid trademark concerns (and also I like how it is similar to a bad transfer and fits with the purpose).

This is getitng a little busy for a logo but I think it's fine, it still looks good at a very small size.

Whaddaya say? Let's ship it!

[2020-02-18 04:38] libbyhopfauf commented on #39
Okay! I was concerned about the dashy one being too busy as well, but I agree about the bad transfer reference/would prefer to avoid copyright infringement if possible. How do other feel about this?

If everyone's cool with that one, I can export a set of high res versions to the drive for use EVERYWHERE!! Also, we can do a blog and social media posts to spread the word to help with consistent bra

[2020-02-18 05:38] tomackroyd commented on #39
Woah, why do the email render and the webpage render look so different?
Anyway, I like it (the email render)!
<img width="910" alt="Screen Shot 2020-02-18 at 6 34 50 PM" src="https://user-images.githubusercontent.com/58644101/74707004-665d4680-527d-11ea-8aa1-2ef8399cfe2b.png">
<img width="805" alt="Screen Shot 2020-02-18 at 6 34 34 PM" src="https://user-images.githubusercontent.com/58644101/747069

[2020-02-18 14:21] alavigne12 commented on #39
I prefer the two tone version! I agree that this new version is getting a
little busy. But not a hill I’m willing to die on!

On Monday, February 17, 2020, Tom Ackroyd <notifications@github.com> wrote:

--
WE REJECT MISOGYNY, RACISM, AND BIGOTRY.
WE EMBRACE EACH OTHER.

*Arielle Lavigne*

*Assistant Audiovisual Archivist, Moving Image Preservation of Puget Sound
<http://www.mipops.org/>*
Ari@MIPoP

[2020-02-19 01:15] libbyhopfauf commented on #39
@tomackroyd I think that was my mistake, I uploaded the one you saw in your email first and then meant to add the one here instead of swapping them. So I still have both:

![ARL+LSH_dvrescuelogo_draft01](https://user-images.githubusercontent.com/13877631/74792377-22187900-5272-11ea-9f43-879c70398d5e.png)
![ARL+LSH_dvrescuelogo_draft05](https://user-images.githubusercontent.com/13877631/74792378-23

[2020-02-19 01:19] libbyhopfauf commented on #39
@alavigne12 @ablwr how about one of these:

![ARL+LSH_dvrescuelogo_draft06](https://user-images.githubusercontent.com/13877631/74792605-c7335180-5272-11ea-843c-f92a660ab63e.png)
![ARL+LSH_dvrescuelogo_draft07](https://user-images.githubusercontent.com/13877631/74792606-c7cbe800-5272-11ea-8473-e36161197201.png)

[2020-02-19 01:26] ablwr commented on #39
Bottom left! Ship itttttt

[2020-02-19 02:13] libbyhopfauf commented on #39
@ablwr this guy?

![ARL+LSH_dvrescuelogo_FINAL_Large](https://user-images.githubusercontent.com/13877631/74795263-5859f680-527a-11ea-9209-2fcc9f806131.png)

[2020-02-19 03:00] todrobbins commented on #39
Yes, that one! Ship 🚢 it!

[2020-02-19 07:09] kieranjol commented on #39
😍😍😍

[2020-02-20 00:16] libbyhopfauf commented on #34
@tomackroyd awesome! Thank you! Downloading now! I'll run my test and let you know what I find!

[2020-02-20 21:10] libbyhopfauf commented on #31
I am currently encountering this issue. I haven't been able to run `dvplay -x` on any files for the last couple days. I keep getting the same error message (similar to the one Ashley was getting):

[code]

I'm running version dvrescue 0.19.11.20191114

[2020-03-21 16:31] #44 closed

[2020-03-21 16:33] #43 closed

[2020-03-21 16:34] dericed opened #46 "report error if the input is not dv"
I suggest:

`dvrescue prores.mov`

[code]

[2020-04-05 21:35] dericed opened #47 "report pts with 10^-5 of a second precision"
For instance, dvrescue reports pts of a frame starting at `00:00:02.169`; however to cut up to but not including that frame in ffmpeg the presentation time to end at would be `00:00:02.16883`.

[2020-04-09 23:20] dericed opened #49 "crashing dvrescue"
[crash.dv.zip](https://github.com/mipops/dvrescue/files/4459054/crash.dv.zip)

featuring Victoria Beckham

[2020-04-14 23:54] dericed opened #50 "regression in recording timestamp evaluation"
[code]

to

[code]

[2020-04-15 21:53] #47 closed

[2020-04-15 21:53] #41 closed

[2020-04-21 10:52] kieranjol opened #53 "Is HDV within the scope of the project?"
Just checking, I wasn't clear from the readme if HDV is in the roadmap.

[2020-04-21 10:59] kieranjol opened #54 "dvpackager and timecode in filename"
I was looking at the slides and the code for dvpackager and it looks like it uses timecode within the filename when splitting. I notice that in your google slides, underscores are used to seperate HH:MM:SS but the miliseconds are seperated with semicolons. I'd image that this could be an NTSC/dropframe thing? My concern would be that these would be colons in PAL and this would lead to filename err

[2020-04-21 11:05] kieranjol commented on #54
nvm, looks like `echo "${TC}" | sed 's|:|-|g `
https://github.com/mipops/dvrescue/blob/master/tools/dvpackager#L157
will turn colons into hyphens, soz!

[2020-04-21 11:05] #54 closed

[2020-04-21 14:05] dericed commented on #53
do you have samples of hdv captured from tape?

[2020-04-21 14:30] dericed commented on #54
Ya, I just did that quick since `:` isn't valid in filenames for some file systems, like LTFS. Honestly I could use some input on recommended naming patterns for outputs. Like "INPUT.dv" -> "OUTPUT???.extension"?

[2020-04-21 16:40] digitensions commented on #53
I have some from my JVC camera, personal collection if needed.

[2020-04-21 17:23] dericed commented on #50
thx @JeromeMartinez, now the diff is

[code]

fixes the date. Is the rest of the diff expected?

[2020-04-21 18:56] kieranjol commented on #53
Joanna's might be easier to share - i have some samples alright - FCP 7 captures, but I'd have to get clearance.

[2020-04-21 18:59] kieranjol commented on #54
i need to try out unpackaging tomorrow as I've several DV captures  (single MOV) that loses sync when the camera person stopped/pressed record again, so curious to see how unpacking works here. I'll try to feed back as much info as possible as I get to groups with the tools. Now that dvrescue is on the scene,I need to rethink our dvanalyzer/qctools workflow.

[2020-04-21 20:54] digitensions commented on #53
Same, FCP7 firewire captures of progressive HDV. Happy to drop some over, I have clearance for it.

[2020-04-22 09:13] kieranjol opened #56 "Input variable for dvpackager is overwritten?"
I'm using Ubuntu 18 on Windows along with the dvrescue from the latest snapshot, and the bash tools are from git master.

I don't know enough about the code to know if I'm just doing something wrong, but if I use `-i` for input as per `-h`:
[code]
When I add `-x` to the shebang, I see that $DVFILE is blank, though earlier in the script it was set to the correct input file. I think this is because

[2020-04-22 09:15] kieranjol commented on #56
Also i think this could have been the cause of https://github.com/mipops/dvrescue/issues/41

[2020-04-22 14:12] dericed commented on #56
could you send me the associated dvrescue.xml file?

[2020-04-22 15:06] dericed commented on #56
Thx @kieranjol, can you test out https://github.com/mipops/dvrescue/pull/57. The `-i` option is just dropped altogether and now you can loop over multiple files.

[2020-04-22 15:09] dericed commented on #50
fixed in https://github.com/mipops/dvrescue/commit/b7768f82903d54ebecf60684f4d4e390d7e5eac1, but @JeromeMartinez, can you comment on the loss of the @tc_nc and @rdt_nc attributes.

[2020-04-22 16:19] kieranjol commented on #56
[MV9155.mov.dvrescue.zip](https://github.com/mipops/dvrescue/files/4517437/MV9155.mov.dvrescue.zip)

I'll aim to test tomorrow, thanks Dave!

[2020-04-22 16:20] kieranjol commented on #56
btw, pretty sure I made the XML on windows and put it manually into the sidecar folder format as I'm having issues using dvrescue on ubuntu right now - seperate issue tho.

[2020-04-23 23:25] dericed opened #58 "WebVTT timestamp rounding"
The WebVTT timestamp values are currently rounded to the nearest millisecond. Please change this to rounding down to the nearest millisecond.

[2020-04-23 23:33] dericed commented on #56
should be fixed in the master now. Could you test and close if so?

[2020-04-24 19:22] #58 closed

[2020-04-24 20:02] #50 closed

[2020-04-24 20:03] dericed commented on #56
closing for now, @kieranjol please re-open if you think it's needed.

[2020-04-24 20:03] #56 closed

[2020-04-28 08:42] kieranjol opened #62 "dvpackager silently fails if invalid data found when processing input"
I have a file that triggers two issues:
* dvpackager only splits up 7 out of the 12 gigs in the input file
* unless the `-v` option is used, you're not informed of an error

 I suspect that my test file will be the source of many issues, so I am looking into permission for sending it to you. Let me know if I can trim the file in such a way that will allow you to replicate the issue, or if the full

[2020-04-28 08:48] kieranjol opened #63 "dvpackager only seems to process part of the input if `-t` not provided"
Hi,

when I ran dvpackager with no flags (just using `-v` for more info), it only processed the first timecode range and produced a tiny file. Is this expected? I would have thought that it would have processed the whole of the input.
This is the same file as #62 btw so it could all be related. I used `-t` in that thread and much more of the file was processed.
[MV9155.mov.dvrescue.zip](https://gi

[2020-04-28 08:59] kieranjol commented on #63
I tried with a different file. More than one clip was processed this time, however:
source file is 12.7 gigs, 12.2 gigs of split files is produced with the `-t` option.
With no command line flags, 985 megs of output files are produced, just five of them.

[code]

[2020-04-28 09:06] kieranjol commented on #63
So I need to know if this is intended behaviour, and if not, should there be some sort of verification process to see if input matches output?

[2020-04-28 12:31] kieranjol opened #64 "dvpackager uses 48000hz for one clip, 32000 for others"
More weirdness - dvpackager seems to correctly use 12-bit 32khz for the split files, aside from one where it used 16/48. When the 16/48 file is played back in vlc and ffplay, the audio is super high pitched and too fast and ends early.
I see no evidence in the dvrescue XML of any audio config change.
[code]
Mediainfo of the offending file:

[code]

and the clip afterwards which bizarrely seems to

[2020-04-28 12:37] kieranjol commented on #64
P.S - I was originally using ffmpeg v 3.4.6 which is the version provided by apt-get within Ubuntu, but I get the same results with git-master of ffmpeg.

[2020-04-28 13:39] kieranjol commented on #53
I was given permission to share some of these but they can't be made publicly available.

[2020-04-28 14:05] dericed opened #65 "add scc export"
Here's a [sample](https://makeinstallnotwar.org/video/Demo_DV_720x480_CC.mov) of a dv encoding with embedded captions.

Add an option to export the 608 caption data of the dv into a caption file (as either an scc export or a webvtt representation).

[2020-04-28 14:07] dericed opened #66 "add caption presence data to dvrescue xml"
I suggest to break `<frames>` when there is a toggle in the presence of captions. So add:
`<frames captions="y">` attribute if they are present (nothing to report if not) and add `<frame caption-parity="mismatch">` attribute if the caption parity of the frame fails.

[2020-04-29 18:54] dericed opened #68 "add avfctl to project makefile"
I suppose an `if mac` may be helpful as this is likely not useful elsewhere.

[2020-04-30 14:58] #68 closed

[2020-04-30 18:14] dericed opened #71 "output options for avfctl"
Currently in capture mode the output is [hard-coded](https://github.com/mipops/dvrescue/pull/67/files#diff-a086baf57ab42095266b0e5057b4383eR99) to `out.dv`. I suggest that the last argument names the output file and also a `-` option to pipe out the output. For example:

`avfctl -device 0 -cmd capture ~/Desktop/dave.dv`
or
`avfctl -device 0 -cmd capture - | ffplay -`

I suggest that
`avfctl -devic

[2020-04-30 18:17] dericed opened #72 "if no device is provided default to device index 0"
`./avfctl -cmd rew`

should be a short way to say

`./avfctl -device 0 -cmd rew`

as 1 attached, supported device is likely more common than >1

[2020-04-30 18:24] dericed opened #73 "initial draft of avfctl -h"
Based on Thilo's [comments](https://github.com/mipops/dvrescue/pull/67#issuecomment-621293895), as a first draft I suggest:

[code]

[2020-04-30 18:26] dericed opened #74 "status command for avfctl"
Currently when running `avfctl -device 0 -cmd rew`, the deck will start to rewind, but there is no way to verify when this is complete. I suggest that commands have a mode where they stay in the foreground until the operation is complete (similar to how `-cmd capture` stays in the foreground until complete). Also I suggest a `-cmd status` is needed so that if the tape is rewound or fast-forwarding

[2020-04-30 18:59] JeromeMartinez commented on #64
I need the file for checking.

[2020-04-30 19:43] dericed commented on #49
fixed :)

[2020-04-30 19:43] #49 closed

[2020-04-30 23:04] dericed commented on #64
I found an instance of this issue. @JeromeMartinez, sent you out_tape7.dv which has it. Several misinterpreted changes from 32 to 48 and back during a continuous recording.

[2020-04-30 23:11] dericed commented on #62
@JeromeMartinez, can you review the xml at https://github.com/mipops/dvrescue/issues/62#issue-608133804.
In this case `frames/@end_pts < frames/frame[last]/@pts`.

[code]

?_?
And thus the packaging omits a substantial amount of the stream.

[2020-05-01 14:53] kieranjol commented on #64
Hi Jerome, I sent you and dave the files a few days ago, do you need me to
reupload? Looks like dave has an example tho.

K

[2020-05-01 14:55] JeromeMartinez commented on #64
Oops, I think I downloaded it, I am just late on checking files. Will check and ping again if something is missing.

[2020-05-01 14:56] kieranjol commented on #64
Cool, something tells me that daves example is from my video but not sure..

[2020-05-01 15:00] dericed commented on #64
Hi @kieranjol, it's not, it's from a mipops test tape.

[2020-05-01 18:20] kieranjol commented on #64
Awesome, I'm actually glad that these are common issues.

[2020-05-03 16:00] dericed commented on #63
I think this is related to https://github.com/mipops/dvrescue/issues/62. It derives from the same issue where your xml has one `<frames>` which is `<frames count="1" pts="00:00:00.000" end_pts="00:00:00.040" ...`.

The @end_pts is wrong as the last reported frame is "00:56:56.000". Also noting the error in audio error reporting with `<aud n="140737152095345" n_even="140737152095300"/>`. Ping to @J

[2020-05-06 23:34] #71 closed

[2020-05-06 23:34] #72 closed

[2020-05-06 23:34] #73 closed

[2020-05-07 02:11] dericed commented on #34
Hi @tomackroyd, hope you're well. Are you able to test the new avfctl utility for capture? The latest [daily build installer](https://mediaarea.net/download/snapshots/binary/dvrescue/) will install it and then the command `avfctl -cmd capture myrecording.dv` will write the tape to a file.

[2020-05-07 07:02] tomackroyd commented on #34
@dericed Successfully captured a file. The command puts the deck into play and I just hit stop on the deck to end capture, resulting in the "Frame dropped" line below. Are there any diagnostics you want me to try out on the resulting file? The capture doesn't recognise that the stream is 16:9 FHA by the way.

GPT1:Desktop GPT1$ avfctl -cmd capture avfctl_test_2020-05-07.dv
2020-05-07 18:52:31.746

[2020-05-07 10:39] kieranjol opened #81 "dvrescue Ubuntu on Windows crash - 'std::length_error'"
I've had this issue when testing dvrescue itself with Ubuntu on Windows. Again, these are with my dodgy test files so perhaps this is all the same issue. My workarounds have been to make the dvrescue xmls with the windows binary in CMD, then i can run the bash scripts in Ubuntu on Windows. Even if it is because of my weird files - dvrescue works fine on windows with the files, and i'm guessing on

[2020-05-07 13:09] JeromeMartinez commented on #81
I tested on Ubuntu 18.04 (20.04 MediaArea snapshots not yet automated, it will soon) on Windows

[code]

We fixed a similar issue last week (same behavior: no crash on Windows but crash on Mac). Are you sure you downloaded the latest snapshot of now?

Issue here is that I can not reproduce :(

[2020-05-07 13:33] kieranjol commented on #81
I must not have been using the same snapshot because i followed your update steps and all is well. I really apologise for wasting your time but I'm glad that i have a working test environment now! Thank you!

[2020-05-07 13:33] #81 closed

[2020-05-08 00:53] dericed opened #82 "some frame errors cause a blank line in the vtt output"
[SEATTLETAPE_vtt_error.dv.zip](https://github.com/mipops/dvrescue/files/4596465/SEATTLETAPE_vtt_error.dv.zip)

In the attached sample, the vtt output is broken:

[code]

The line after `TC=00:00:26;04 ARB=4` is blank, indicated the termination of the webvtt subtitle. It should contain a space ` ` as it does on line 28 (line after "TC=00:00:26;05 ARB=5").

[2020-05-08 00:55] dericed commented on #82
Relatedly, the dvrescue xml output is off for this frame as well,

[code]

frame n=1 has an opening and closing <frame> tag whereas frame n=2 is self-closing

[2020-05-08 16:07] #82 closed

[2020-05-09 15:04] dericed opened #85 "better handling of garbage in vaux dif blocks."
[SEATTLETAPE_x.dv.zip](https://github.com/mipops/dvrescue/files/4603747/SEATTLETAPE_x.dv.zip)

This frame is recognized as having a caption at byte 96383.

In dseq=9 the vaux is:

[code]

The first two lines are wrong (maybe audio ¯\\_(ツ)_/¯), but the `6540556ac2` is recognized as a caption pack. However the caption pack is in the wrong position. I guess the position of the vaux packs may likely b

[2020-05-09 15:10] JeromeMartinez commented on #85
If last two bytes are not FFFF, I discard the 80-byte block, right?
Should I indicate an error somewhere? Maybe a new kind of error "count of incoherent DIF blocks"?

[2020-05-09 15:16] dericed commented on #85
From reading the spec I'm not sure how else to validate since it seems like even though vaux packs use ids in a narrow binary range that any could be defined. Still the last two bytes default to `ff`.

From http://web.archive.org/web/20060927044735/http://www.smpte.org/smpte_store/standards/pdf/s314m.pdf

[2020-05-10 02:15] dericed opened #86 "planning for a dv capture buffer utility"
This issue is to start envisioning a utility to control and manage the output of avfctl. I'm imagining something like `avfctl -cmd capture - | dvbuffer out.dv` where dvbuffer collects frames from avfctl and if matching certain criteria then appends them to out.dv and if not, then depending on the assessment of the stream either warns the user or send an avfctl command to stop the capture, rewind b

[2020-05-10 08:55] kieranjol commented on #86
Woah, sounds like an incredible idea.

[2020-05-12 21:35] JeromeMartinez commented on #64
MV8853.mov:
(note: ignore byte offsets in dumps, I extracted the offending frames from the file)

Before 00:17:22.520
"Normal" (32 kHz)
Hex dump: 7B070350D030E0D1
[code]

At 00:17:22.520
1 frame with Dseq 8-11 filled only (48 kHz)
1 frame with all Dseq filled (48 kHz)
2 frames with no Dseq filled
Several frames with all Dseq filled (48 kHz)
Hex dump: 70870350D801E0C000
[code]

@dericed how to diff

[2020-05-13 01:09] dericed commented on #64
@JeromeMartinez, can you make a `ffmpeg -ss 17:21 -i MV9026.mov -t 3 -f rawvideo -c copy -map 0:v MV9026_17-21-00.dv` and email me that second.

[2020-05-13 16:00] JeromeMartinez commented on #53
"this" HDV is https://en.wikipedia.org/wiki/HDV#Specifications and actually it has no link (not a single bit is same) with DV despite the name.

Analysis is completely different. We could reuse the same ideas and the same user interface, but we need to implement all the MPEG Video logic instead of DV logic. There is already a lot in MediaInfo library from another project (e.g. we can check if head

[2020-05-13 18:19] kieranjol commented on #53
Imagine how bananas it is when you have both hdv and DV content on the same
tape. We encountered this a while back.

[2020-05-14 06:03] JeromeMartinez commented on #53
@kieranjol I wonder how it is stored on the tape... the file you provided is a "classic" MPEG-2 Video stream in MOV, with Final Cut metadata. As far as I know MPEG-2 Video could not be as is on a tape (no small fixed packetization), Wikipedia says that is uses to be MPEG-TS (more logical) so the curating would be on MPEG-TS.

Anyway, far from this project (currently) focused on DV packetization.

[2020-05-14 08:01] kieranjol commented on #53
Good point. The file I provided was from a vendor using FCP 7. Based on
tests, you could only really get FCP to capture via firewire with one
specific setting, which is what was used. Some sort of HDV preset. Sounds
like reencoding could be happening?

[2020-05-14 08:34] JeromeMartinez commented on #53
No way to know if there was a reencoding. Probably a transwrapping (from MPEG-TS to MOV?).

specific setting, which is what was used.

Here it seems that FCP does the "rescue" of the file, but no idea what it would do in case of corrupted content, you have to rely on FDCP.
Without having the raw content from the tape, I doubt that a "rescue" software would be useful (in addition to the count of HD

[2020-05-14 10:11] JeromeMartinez commented on #63
@kieranjol I think it is fine with latest snapshot, please try again.

@dericed in this file, beside the issue about the first frame at 32 kHz, there is:

[code]
(intermediate lines removed)

There are 2 frames without `video_source`/`video_control` (actually VAUX full of 0xFF). Should I "copy" VAUX from previous frames in that case?

[2020-05-16 17:23] #46 closed

[2020-05-16 17:24] #65 closed

[2020-05-16 17:52] dericed commented on #85
This seems fixed in git master, but I'm not sure which commit fixed it. ping @JeromeMartinez

[2020-05-16 19:14] JeromeMartinez commented on #85
Aimed to be fixed by https://github.com/MediaArea/MediaInfoLib/pull/1260, not yet merged so I didn't expect that it is fixed if you use MediaInfoLib git master.

[2020-05-18 12:37] kieranjol commented on #63
Thank you! I'll be able to test this tomoorrow morning.

[2020-05-18 16:13] dericed commented on #63
Thank you @kieranjol :)

[2020-05-18 16:14] dericed commented on #63
@JeromeMartinez, hmm, ya vaux of 0xFF should be a copy rather than a change.

[2020-05-18 18:40] #66 closed

[2020-05-18 18:41] #85 closed

[2020-05-20 12:03] dericed opened #94 "detail the non-continuity in rdt_nc and tc_nc"
Currently, a non-continuous timecode or recording timestamp value produces an attribute value of 1.

I suggest expanding this from a boolean to an integer to express the following.
0: pattern is continuous (do not write the attribute in this case)
1: pattern is non-continuous and the current value > prev value
2: pattern is non-continuous and the current value < prev value
3: pattern is non-contin

[2020-05-20 15:15] kieranjol commented on #63
Hi folks - i haven't done extensive checking on MV9206.mov, but the file sizes at the very least suggest that everything has been unpacked, so that's great. I haven't checked the other file yet. There is however an issue with silent audio for one section of the unpacked clips, which might be more suitable for #64

[2020-05-20 15:18] kieranjol commented on #64
Hi folks,
ye may be discussing this anyhow, but i've noticed that a 16 minute clip is silent in MV9026 for both VLC and ffplay after unpacking. The source file has audio here, but it's the section that starts off the severe sync issues.
Here's my command line output, and the file in question (MV9026_fresh_test_40_00-17-39-03.mov) seems to be the one that happens after the sample rate change:

[cod

[2020-05-20 15:20] kieranjol commented on #63
I should clarify that I just tested with the latest snapshot,not Jerome's PR.

[2020-05-20 15:26] kieranjol commented on #64
and with MV9155 - the main large video file (MV9155_fresh_test_3_00-04-52-22.mov)  is silent in vlc and ffplay - this is testing with the latest snapshots via apt-get in Ubuntu on Windows.

[code]

[2020-05-20 15:27] kieranjol commented on #64
[MV9026_fresh_test.mov.dvrescue.zip](https://github.com/mipops/dvrescue/files/4657774/MV9026_fresh_test.mov.dvrescue.zip)
 and here's both dvrescue files

[2020-05-20 15:29] kieranjol commented on #64
[code]

[2020-05-20 15:31] kieranjol commented on #64
SO that last one looks like there's no PCM streams, but the other one i mentioned does, but it is silent when played back:

[code]

[2020-05-20 15:41] JeromeMartinez commented on #94
this one is rdt_r and tc_r, it is not handled as non-continuity for the moment.
So this case is not possible.

I add the case of "2", checking the sign of the difference.

[2020-05-20 15:47] dericed commented on #94
Sounds good to me.

[2020-05-21 09:03] kieranjol commented on #64
SOrry for the flood of messages - but I just had my mind blown. I ran `dvpackager -u` on the clips produced by the recent dvpackager jobs, including the files that had the silence issues. The resulting single .dv file seems pretty perfect - it has none of the sync issues of the original capture file, and it has none of the silence issues created when running dvpackager. I'm in awe!
Not sure how th

[2020-05-21 09:26] kieranjol opened #96 "dvpackager - accept folder input for -u"
Accepting folder input could be useful for `-u`, especially when dragging and dropping multiple files into the terminal isn't possible (as is the case in cmd and Ubuntu on Windows).
My current workaround is path/to/files/*.mov , but it could be nice to have folder as input, and the filenaming produced by dvpackager should make this less error-prone.

I can look into adding this if you wish?

[2020-05-21 09:49] kieranjol opened #97 "dvpackager - compilation for-each xsl error when running `-fn`"
When running `-fn` as a dvpackager flag (i know that this is a fairly meaningless thing to do, but I was just testing out all options), an xsl error appears;

[code]

My guess would be that it's expecting an array to loop over but none exists?

[2020-05-21 10:02] kieranjol opened #98 "Ubuntu apt snapshot updates"
Hi - not sure if i'm doing something wrong, but my snapshot seems to be one behind:

[code]

[2020-05-21 18:24] kieranjol commented on #98
This appears to be fixed!

[2020-05-21 18:24] #98 closed

[2020-05-21 18:50] kieranjol opened #99 "no frame received with 20200521"
I just updated dvrescue on Ubuntu 18.04.04  on windows, and any test file I use with dvrescue results in a 'no frame received' error. I upgraded on a different windows 10 machine  that uses Ubuntu 20.04 and all is well over there. Perhaps this is the reason why it has suddenly stopped working?

[code]

[2020-05-21 19:38] g-maxime commented on #99
Is libmediainfo0v5 up to date ? (20.03.20200521-1)

[2020-05-21 19:55] kieranjol commented on #99
It seems to be?

[code]

[2020-05-21 20:11] JeromeMartinez commented on #99
I can not reproduce

[code]

[2020-05-21 20:17] kieranjol commented on #99
Hi Jerome - I'm sure it's something really silly on my side - i just can't catch what it is, sorry about all this. I replicated your commands - i guess I could just try a full reinstall of Ubuntu?:

[code]

[2020-05-21 20:30] kieranjol commented on #99
I uninstalled and reinstalled the same version of Ubuntu and now all is well. Dunno how my install got broken, but looks like all is well now. Sorry about wasting your time!

[2020-05-21 20:30] #99 closed

[2020-05-21 20:40] kieranjol opened #100 "add xmlstarlet as dependency on linux?"
I did a full reinstall of Ubuntu on Windows and noticed that xmlstarlet isn't listed as a dependency, so i had to install it manually - this was for the snapshot apt repository:

[code]

[2020-05-25 14:38] #100 closed

[2020-05-29 02:27] dericed opened #103 "add bytes offset attribute to frames element"
I realize that isn't super-relative if the input is not a dv stream, but there are some edge cases where the ntsc and pal mixed streams aren't seekable via pts via ffmpeg.

[2020-05-29 14:15] #103 closed

[2020-05-29 20:33] dericed opened #110 "chapter option extends the timeline when there is >1 <frames>"
Chapters works okay with a continuous dv sequence, however the generated ffmetadata covers the full dv input and needs to be temporally constrained to match each output.

[2020-06-01 20:11] #63 closed

[2020-06-06 21:41] #74 closed

[2020-06-08 16:51] kieranjol commented on #53
Hi - I just shared a DVHSCap with Jerome and Dave there - this should be ore of a stream grab I hope. It's Mpeg-TS.

It's probably still out of scope but thought I'd share a better example of the format.

[2020-06-08 17:03] JeromeMartinez commented on #53
@kieranjol right still out of scope because it is also MPEG-2 Video instead of DV... I would love to work on a MPEG-2 repair tool, but current sponsoring is not for that...

[2020-06-14 03:18] dericed opened #113 "false detection of non-continuous recording timestamp"
[code]

[false_rdt_nc.dv.zip](https://github.com/mipops/dvrescue/files/4775809/false_rdt_nc.dv.zip)

[2020-06-14 16:27] #113 closed

[2020-06-22 00:54] dericed opened #114 "add attributes to //media"
add `media/@count` attribute.
should be a tally of `frames/@count`.

add `media/@size` attribute
filesize in bytes

add `media/@format`(copy of MediaInfo:Format)

add `frame/@pkt_pos`
remove `frames/@pkt_pos` (since it equals `frames/frame[1]/@pkt_pos`)

[2020-06-22 14:04] JeromeMartinez commented on #114
should be a tally of frames/@count.

"count" alone at this place is difficult to understand without the XSD definition (count of what?).
--> I prefer "framecount" (and I add it only for DV content, so it is about video or audio frame count, they are together

[2020-06-22 14:49] dericed commented on #114
Actually I don't think I need media/@count any longer, but do need the others.

[2020-06-22 17:00] #114 closed

[2020-06-23 02:34] dericed commented on #110
Fixed in https://github.com/mipops/dvrescue/pull/116

[2020-06-23 02:34] #110 closed

[2020-07-01 23:11] BleakleyMcD opened #118 "Sony DSR-1500A not playing via avfctl"
[code]
but the deck doesn't play. Could be deck issues... but I know it plays tapes.

[2020-07-01 23:29] aeschweik commented on #97
I get the same error when running `-f`. Full output for me is:

[code]

[2020-07-02 02:17] dericed commented on #118
Hmm, how about `avfctl -status` when it is stopped or manually played? Or how about `avfctl -cmd capture`? Did you verify that it is in remote mode?

[2020-07-02 15:26] BleakleyMcD commented on #118
I don't have ```-status``` but I'm on avfctl version 0.20.05
I'll update to 0.20.06 and see if that fixes

[2020-07-02 15:27] dericed commented on #118
yep, latest stuff is at https://mediaarea.net/DVRescue

[2020-07-02 15:29] dericed opened #119 "avfctl: add option to produce dvrescue outputs concurrent with capture"
Such as
`avfctl -cmd capture out.dv -x out_dvrescue.xml -s out_dvrescue.vtt -c out_dvrescue.scc`

[2020-07-02 16:05] BleakleyMcD commented on #118
[code]
recognizes playing and stopping when used manually but still won't make the deck play with ```avfctl -cmd play```

[2020-07-02 16:07] BleakleyMcD commented on #118
also Terminal apparently needs to have access to the computer camera for avfctl to work?

with access:
[code]

without access:
[code]
eh?

[2020-07-02 16:14] JeromeMartinez commented on #119
in practice avfctl features would be merged in dvrescue.
Such as
`avfctl -capture -raw out.dv -x out_dvrescue.xml -s out_dvrescue.vtt -c out_dvrescue.scc`

[2020-07-02 22:56] dericed opened #120 "revise the webvtt output"
The webvtt techsubs output could use a review and revision.
https://github.com/mipops/dvrescue/blob/2b543e74e6194c35172ec9fcf37c959252a8d0d9/Source/Common/Output_Webvtt.cpp#L108-L268

[2020-07-02 23:07] dericed opened #121 "draft prototypes of an eventual dvrescue gui"
via the functions of dvrescue, avfctl, dvplay I can we can envision what an eventual gui looks like. There's some related project ui's like Live Capture Plus, Premiere, FCP, AVCVHSCap. Also considering that we can make use of dvrescue xml data during transfer so could have like a qctools-like error timelines.

[2020-07-03 00:40] ablwr commented on #39
I think we can close this, re-open if I'm wrong

[2020-07-03 00:40] #39 closed

[2020-07-03 00:42] dericed commented on #39
thx, I just added this one in regards to using it https://github.com/amiaopensource/vrecord/issues/560

[2020-07-03 00:43] dericed commented on #53
there are some possible side effects of the project that could help HDV but the grant is written for DV.

[2020-07-03 01:00] dericed commented on #9
verify that the duration of the audio and video tracks are the same.

[2020-07-05 21:20] ablwr commented on #121
Do you know what frameworks are going to be used to build this GUI?

[2020-07-05 21:22] JeromeMartinez commented on #121
Qt.

[2020-07-05 21:54] dericed opened #122 "audio error output missing for initial dif sequences"
[1670520000_12.dv.zip](https://github.com/mipops/dvrescue/files/4875719/1670520000_12.dv.zip)

The 2nd frame of this input uses audio error code for every audio DIF block, however the output of dvrescue xml is:

[code]

Dif sequence 0, 1, 2 are missing the <aud> output.

[2020-07-05 22:04] dericed opened #123 "label frames that do not contain any unique information"
Related to the sample at https://github.com/mipops/dvrescue/issues/122, frame 2-9 have every dif block as error or empty (here the subcode are vaux have no packs, the audio is all error code, and the video is all concealment of the prior frame. I think in this case, it's worth simply giving the frame some flag as this type of output reflects a deck behavior rather than a tape issue. In the case of

[2020-07-15 14:58] dericed opened #124 "design dvrescue cil stderr output"
Needs design for a stderr output. For instance to summarize the output of the requested command (summarize the dvrescue xml if requested, was an scc made, etc)

[2020-07-20 20:34] ablwr opened #125 "Lastest build only returns error for all files (on Linux)"
This seems to be restricted to Linux. I'm on Ubuntu 18.04.

When testing with the latest (20200701) build, every file returns an XML with an error:

[code]

[2020-07-21 08:08] g-maxime commented on #125
Which version of libmediainfo is installed ?

[2020-07-21 21:44] ablwr commented on #125
I just used the latest daily build installer with `dpkg`, does that depend on my local libmediainfo? I figured it installed all the deps too.

[2020-07-21 21:54] g-maxime commented on #125
As noted on the download page, dvrescue depends on libmediainfo and libzen (at least the versions indicated on the page).
https://mediaarea.net/DVRescue/Download/Ubuntu

[2020-07-21 21:57] dericed commented on #118
@libbyhopfauf @BleakleyMcD is this closed?

[2020-07-21 23:00] BleakleyMcD commented on #118
Yes, mostly. Still get this when I deny camera access to Terminal
[code]
Also, -cmd stop give too much info:
[code]
Like Yoko said, "This issue can can be closed if you want it."

[2020-07-21 23:00] #118 closed

[2020-07-22 08:08] JeromeMartinez commented on #125
There is maybe an issue with daily builds not setting well the minimum version for libmediainfo, please test installing latest libmediainfo snapshot.

[2020-07-23 07:05] tomackroyd commented on #34
@dericed I know you have been busy :-) but wondered if this issue needs more testing?

[2020-07-28 17:41] iamdamosuzuki opened #127 "Audio and video become out of sync in some files after running dvpackager"
I've found that some files have bad audio sync after being run through dvpackager. The sync fall out at specific locations, which line up with moments in the files with broken/missing timecode or repeating video frames.

[2020-07-28 19:09] dericed commented on #127
Hi @iamdamosuzuki, some dv transfers result in frames where there is no audio source pack, so although there is audio data there (as that place is always reserved in DV), there is no metadata to define it. Over at https://github.com/mipops/dvrescue/issues/123 I referred to these as faux frames as they don't contain anything particularly helpful, such no audio data but concealed video data. When ff

[2020-07-29 03:17] iamdamosuzuki commented on #127
This works! very cool. The audio stays in sync the file trucks through the weird timecode section without failing.

[2020-07-29 15:36] dericed commented on #127
Going to keep this open, until the fix is in ffmpeg & dvpacakager.

[2020-07-29 19:44] iamdamosuzuki commented on #127
ah good point. Thanks!

[2020-07-29 23:02] ablwr commented on #125
Sorry, yes, I manually installed libmediainfo and now it's fine!

[2020-07-29 23:02] #125 closed

[2020-07-29 23:12] ablwr commented on #124
Hmmmm... by default, I think this should follow the patterns currently in place for other MediaArea projects.... but it is currently following close to what the flagship product, MediaInfo, does.

`mediainfo real-file.xyz`: Shows text output
`mediainfo false-file.xyz`: Shows nothing

`dvrescue real-file.xyz`: Shows text output
`dvrescue false-file.xyz`: Shows nothing

So, that's not super ideal.

[2020-07-29 23:21] ablwr commented on #40
This has sort of naturally improved over time :) With no help from me.

Current output:

[code]

That seems pretty helpful to me?

[2020-07-31 17:30] dericed commented on #34
Hi @tomackroyd, am hoping at some point when avfctl notes a dropped frame, that it can stop, rewind a little, and read until it gets back to the dropped frame, and then continue writing from there, but for now it doesn't have that ability to check and go back. Would you mind sharing the results of `dvrescue avfctl_test_2020-05-07.dv > avfctl_test_2020-05-07.dv.xml`.

[2020-07-31 18:43] dericed opened #128 "flexible handling of arbitrary bit inconsistancy"
Typically arbitrary bit cycles from `0x00` to `0x0B`, but I found a set of recordings where it increments only on the odd values: `0x01` ->  `0x03` ->  `0x05` ->  `0x07` ->  `0x09` ->  `0x0B` ->  `0x01`. Currently dvrescue reports every frame as `arb_nc="1"` so the resulting xml is HUGE. I think the inconsistency needs to be more flexible, so:

So where the frame number is `n`
`arb[n]="arb[n-1] +

[2020-07-31 20:16] dericed opened #129 "dv properties create invalid xml and vaux packs are read at invalid offsets"
Example: [O_O.dv.zip](https://github.com/mipops/dvrescue/files/5008881/O_O.dv.zip)

[2020-08-01 01:35] tomackroyd commented on #34
Hi @dericed Here's one I made at the time:
[avfctl_test_2020-05-07_dvrescue.txt](https://github.com/mipops/dvrescue/files/5009651/avfctl_test_2020-05-07_dvrescue.txt)
but for some reason if I run that script today I only get:
`<dvrescue xmlns="https://mediaarea.net/dvrescue" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://mediaarea.net/dvrescue https://mediaarea.n

[2020-08-02 02:59] dericed commented on #129
This file produces this dvrescue xml

[code]

The data in the vaux section is just bizarre (was the encoder trying to hide something here?), such as `xxd -ps -c 80 O_O.dv | grep ^5`.

There's a few issues here:

1. The xml is invalid, such as `rdt="19<0-09-29 36:12:15;44"`

2. Some frames are missing size data and aspect ratio data because of how awful the vaux section is, so this short section gi

[2020-08-02 16:25] ablwr commented on #121
I did this mockup in plain HTML with some CSS. @dericed can you give this an initial review before we get feedback during the upcoming workshop? http://bits.ashleyblewer.com/dvrescue-gui-mockups/

There are a lot of things I'm still uncertain about in terms of the features that will be available, so I imagine the Settings page will become more complicated as we discuss things like acceptable error

[2020-08-02 19:01] dericed commented on #34
yikes this tape is in rough shape.

[2020-08-02 19:06] dericed commented on #34
also what deck are you using? there's some interesting behaviors here

[2020-08-02 19:06] dericed commented on #34
oops, accidental close

[2020-08-03 21:03] dericed commented on #121
![dvrescue](https://user-images.githubusercontent.com/762604/89227190-31cf1400-d5ab-11ea-8ec3-8630daa6013e.jpeg)

[2020-08-03 21:11] dericed commented on #121
![dvrescue](https://user-images.githubusercontent.com/762604/89227790-511a7100-d5ac-11ea-9e84-8a408db22188.jpeg)

[2020-08-03 21:15] dericed commented on #121
![dvrescue](https://user-images.githubusercontent.com/762604/89228045-ddc52f00-d5ac-11ea-9f11-925493636ed8.jpeg)

[2020-08-05 02:46] libbyhopfauf commented on #121
Hey Ashley, I think this is looking great! The only thing that I just remembered as I was writing the NEH report is that we need to make sure that they are sited EVERYWHERE as funding the project with their logo if possible. Would there be a way to just have a line at the bottom that has their preferred quoted "This {database, Web resource, etc.} has been made possible in part by the National Endo

[2020-08-06 07:45] tomackroyd commented on #34
Yes my setup is slightly suboptimal. I want to be able to clean the heads myself but when I took the lid off I started to worry I would damage the heads. Deck is a Sony DSR-40P. Tapes are also possibly badly recorded, who knows? (They appear to be in good condition, no mould).
I have had better captures with that avfctl tape, so results vary.
BUT
FCP7 capture *never* drops frames. iMovie capture *

[2020-08-06 11:29] dericed commented on #34
Thx @tomackroyd, yes we certainly want this to work just as well on even suboptimal computers. I'm curious if FCP7 and QT7 are also <i>never</i> dropped frames. In a dvrescue xml, you would see the presence of dropped frames because of inconsistent timecode incrementation, which is noted by the `tc_nc` attribute.

I'm still working on visualizing errors from the dvrescue xmls but here's one from w

[2020-08-07 01:45] tomackroyd commented on #34
Hi @dericed See logs are top of this issue for non-dropped frames in FCP etc but dropped frames for same tape using vrecord. I have these files still and can run further interrogations.
Tom

[2020-08-14 18:18] BleakleyMcD opened #131 "dvpackager -s and -t flags not seperating file"
Hi,

I have a DV file (transferred from a MiniDV tape via vrecord) that is not functioning in dvpackager as I expect it to. I know the tape should be separating into files based on start markers and/or timestamps (I shot it myself) but it is not. Maybe my expectations are misplaced?

[code]
 XML output attached.

Blake
[DV001.dv.dvrescue.txt](https://github.com/mipops/dvrescue/files/5076338/DV001.

[2020-08-15 13:21] kieranjol commented on #131
I wonder if it is because dvpackager is looking for timecode jumps? Maybe
your camera is not creating any timecode discontinuities when you make a
mew clip. I’d guess that this is actually a good thing? Or maybe not, I
dunno. I wonder if dvanalyser sees the different clips? Perhaps the new
clips could also be signified by the jumps in the cameras internal clock?

[2020-08-17 15:08] ablwr commented on #121
Thanks @dericed for the graphs. I updated the GUI mockups to go a bit farther and include packaging.

I'm not sure if Analysis and Package should be separate or just one view. It depends on what other Analysis things are going to be incorporated into DVRescue.

http://bits.ashleyblewer.com/dvrescue-gui-mockups/

[2020-08-17 20:06] BleakleyMcD commented on #131
Hi Kieran,

Yes, all good questions. I don't know the answers. I would assume pressing the start and stop record button on a camera would cause a mark in the bit stream easily recognizable by dvpackager, but again I don't know. This tape was shot on a TRV900, one of Sony's top line cameras at the MiniDV peak, over the course of a year so I, again assume, it is doing everything correctly. I'll take

[2020-08-19 18:04] dericed commented on #131
Yep, table 17 of http://web.archive.org/web/20060927044735/http://www.smpte.org/smpte_store/standards/pdf/s314m.pdf shows where the markers for the start and stop of recordings is stored in the audio section.

But this file appears to be a single continuous recording but I see a LOT of `tc_nc="1"` which means that many frames have timecode values that are non-continuous, probably dropped frames fr

[2020-08-19 18:11] BleakleyMcD commented on #131
@dericed It was made on a Sony TR900 shot over the course of a year, by me. Definitely not made by a deck. made with vrecord 2020-07-01

[2020-08-19 18:27] dericed commented on #131
Would you mind retesting with the latest vrecord?

[2020-08-19 18:31] BleakleyMcD commented on #131
@dericed ok

[2020-08-19 22:14] BleakleyMcD commented on #131
@dericed similar result. more errors in the xml, otherwise the same. :(

[code]

[DV001.dv.dvrescue.xml.txt](https://github.com/mipops/dvrescue/files/5099610/DV001.dv.dvrescue.xml.txt)

[2020-08-20 20:44] BleakleyMcD commented on #131
[DV001_-nt.txt](https://github.com/mipops/dvrescue/files/5105362/DV001_-nt.txt)

[2020-08-20 20:45] BleakleyMcD commented on #131
@dericed actually it did break on -t

my bad

[2020-08-20 20:50] iamdamosuzuki opened #132 "Feature Request: Add Duration to DVPackager Frame Table Entries"
Hi! Would it be possible to add a duration column to the dvpackager frame table entries? That might be helpful with troubleshooting.

[2020-08-20 20:53] BleakleyMcD commented on #132
Great idea

[2020-08-20 20:59] iamdamosuzuki commented on #131
It looks like the break on -t is actually erroneous. It creates 274 files!

The "Start Rec Flag" column is empty for all of these segments. Which is the more likely scenario, that Bleakley's camera isn't inserting this flag, or that the software isn't able to read the flag that Bleakley's camera made?

[2020-08-21 02:25] ablwr commented on #121
@JeromeMartinez For interface mockups, do you prefer that I make a static outlined version (like I am doing currently) and you can recreate in Qt, or do you plan on using some of the HTML/CSS (like with MediaConch WebUI + GUI)? I guess what I am asking is if I should make the mockups with, like, "good CSS" (stretchy, scalable, fits on any size screen) that can be applied to the initial GUI, or if

[2020-08-24 20:17] ablwr commented on #121
hi @JeromeMartinez

[2020-08-24 20:18] JeromeMartinez commented on #121
@ablwr for the moment I have enough, just late... :(

[2020-08-24 20:23] ablwr commented on #121
OK no problem! Just wondering about the question I asked in my last comment and if you have an opinion on that.

[2020-09-14 13:14] dericed commented on #123
Also here suggest an additional attribute if the frame contains no  AAUX source pack. `<frame no-aaux-pack="1" ...`. If these cases, ffmpeg's decoder does not output audio, so these frames need to be found and paired with silence.

[2020-09-15 17:11] JeromeMartinez commented on #123
Result would be like:

[code]

Does it make sense?
I don't like `faux`, it is not obvious meaning for me, any other suggestion? `deck_issue_detected`?

What would be the exact rule? STA "A" only or any STA? e.g. is 50% STA "9" and 50% STA "A" OK? and 100% STA "9" instead of "A" as seen there?

so if AAUX control is the only missing no error, right?
i.e. test is only on AAUX source pack, right?

[2020-09-15 17:53] dericed commented on #123
hmmm, i suppose the rule would be is STA is 100% non-zero and all of equal value, so 100% A or 100% F, but not 50% 9 and 50% A.

[2020-09-15 20:53] JeromeMartinez commented on #123
Right now I am implementing to:
no_pack="1"
no_pack_aud="1" (only if no no_pack)
no_pack_vid="1" (only if no no_pack)
no_pack_sub="1" (only if no no_pack)
full_conceal="1"
full_conceal_vid="1" (only if no full_conceal)
full_conceal_aud="1" (only if no full_conceal)
vid_sourceorcontrol_missing="1" (if at least 1 is missing)
aud_sourceorcontrol_missing="1" (if at least 1 is missing)

[2020-09-15 21:10] dericed commented on #123
I'd merge that

[2020-09-16 10:52] #122 closed

[2020-09-16 13:04] JeromeMartinez commented on #129
Will do sanity check on the year (IIRC Year value is 8-bit, so 0-255; I just discard recdate if >=100)

Define "occasional absence" ;-).

I don't read them. I read only when it is in sync (`3+(5*n)`).
For instance 0x17807 `655D66`, 0x17857 `65606B` etc. It is just messy.
I don't validate the 608 stream, I just forward it. 608 salinization wanted? It is not short.

I don't find any sense to the byt

[2020-09-16 13:34] JeromeMartinez commented on #128
Currently most test look backward, not forward, and I am reluctant to change this principle especially if we move to real time analysis.
but checking odd numbers is fine.

Your formula includes even numbers, fine?
Please a sample file.

[2020-09-16 17:55] genfhk opened #138 "Feature request: ability to specify dvplay -x output directory path"
i.e.
dvplay -x file.dv -o /Users/me/Desktop/SpecialLandingPlace/

use case example:
I qc files stored on drives that need to be read-only, so it would be great to be able to script this to output a batch of reports for every dv file (nested within Bags) on a drive into a different directory somewhere else - currently I have to copy the .dv file onto my machine in order to run dvplay -x, which is n

[2020-09-16 18:07] dericed commented on #138
:) & +1

[2020-09-24 19:05] #123 closed

[2020-09-25 16:27] dericed commented on #129
`rdt="19<0-09-29 36:12:15;44"` is still the case in the latest build. Did the IEC doc offer any clarity?

[2020-09-25 19:57] privatezero commented on #138
Have a PR at https://github.com/mipops/dvrescue/pull/140 that should work for this

[2020-10-06 18:22] dericed opened #142 "add and use _usage function to dvplay"
should mention that `-o outdir` comes before any input.

[2020-10-06 18:53] #138 closed

[2020-10-17 15:05] dericed opened #144 "full_conceal_vid set erroneously"
This issue is shown in [this sample](http://samples.ffmpeg.org/ffmpeg-bugs/roundup/issue729/crash_ffplay.dv).

With dvrsecue 0.20.06.20200701, the output for frame 89 is:
[code]

This shows a head clog, as all video blocks of the even DIF sequences have a non-zero STA.

In 20200924, the frame is called as a full_conceal_vid (even though half the sta are zero), so the result is:
[code]

Later frame

[2020-10-25 19:32] dericed commented on #144
Hi @JeromeMartinez I'm testing with the build at https://mediaarea.net/download/snapshots/binary/dvrescue/20201024/.

Now with frames 89 and 108, I get:

[code]

[code]

Both frames are still `full_conceal_vid="1"` and there is no `sta` reported.

To extract the frame 108, I used `tail -c +15552001 crash_ffplay.dv | head -c 144000 > frame.dv`

To tally video dif blocks without concealment, I used

[2020-10-25 19:40] JeromeMartinez commented on #144
I have:

[code]

and

[code]

Is it fine? If so, it may be due to a bad branch used for the build and I just rebuild.

[2020-10-27 12:31] dericed commented on #144
works for me with your build of 0.20.06.20201025

[2020-10-27 12:31] #144 closed

[2020-10-28 00:31] dericed opened #145 "no_pack_aud false report"
The attached frame has audio packs but is reported as `no_pack_aud="1"`.

[code]

But the audio packs of the frame are seen via:
`xxd -c 80 -ps audio_pack_issue.dv | grep ^7.....5 | cut -c 7-16`

[audio_pack_issue.dv.zip](https://github.com/mipops/dvrescue/files/5448797/audio_pack_issue.dv.zip)

[2020-10-28 23:55] privatezero opened #147 "Erroneous frame numbering in dvplay -x"
JPEGs created by `dvplay -x` currently have a problem where the first character of the parsed xml (which is part of the frame number) gets trimmed for all outputs after the first. (See example images below which go from 771 -> 72). This seems to be related to FFmpeg being wonky in `while` loops.

![error dv_01-10-14-02](https://user-images.githubusercontent.com/12941699/97509018-52a2cd80-193e-11eb

[2020-10-29 01:54] #147 closed

[2020-10-29 18:27] privatezero opened #151 "error with MKV input"
Files created from the default output of `dvpackager` with the MKV extension that are then rescanned with `dvrescue` throw an error. Same happens for files simply rewrapped via FFmpeg using basic command `ffmpeg -i input.dv -c copy output.mkv`. Tested on both macOS & Ubuntu 18.04

[code]

[2020-10-31 16:52] dericed opened #152 "add a post-package stream duration check"
This relates to experiences testing http://ffmpeg.org/pipermail/ffmpeg-devel/2020-October/271731.html but I think having such a warning in dvpackager would be helpful. I suggest that each rewrap of dv include a check to verify that the duration of the video and audio track (or multiple audio tracks) all match in duration. With NTSC the duration can vary slightly, but probably shouldn't be off by m

[2020-10-31 16:56] dericed commented on #151
reproducable with

[code]

which gives the output that Andrew lists. The process above works with QuickTime and AVI containers.

[2020-10-31 17:00] dericed commented on #152
maybe related to https://github.com/mipops/dvrescue/issues/132

[2020-11-02 00:29] dericed commented on #131
will close as -t works (the file just has a lot of timecode breaks) and -s doesn't apply here as the recording does not use start flags.

[2020-11-02 00:29] #131 closed

[2020-11-02 00:57] dericed commented on #152
oops, this is a duplicate of https://github.com/mipops/dvrescue/issues/9

[2020-11-02 14:23] #97 closed

[2020-11-02 14:23] #132 closed

[2020-11-02 20:41] #145 closed

[2020-11-02 21:04] #129 closed

[2020-11-03 20:19] bturkus opened #155 "dvpackager: force audio resampling"
We've got a number of DV tapes in which the audio switches from 2CH 48kHz to 4CH 32KHz, then back to 2CH/32. These were clearly poorly made tapes (the 4CH sections are title sequences with no discernible audio whatsoever), and it got me wondering: would there be any way that dvpackager could forcibly resample these mismatched segments to result in a single file? I know this is a stretch archivally

[2020-11-04 07:38] JeromeMartinez commented on #155
If the audio content can be trashed i.e. replaced by a silent 2-ch 48 kHz content, it is "just" changing a couple of bytes about the audio settings + erasing the audio content part. Would it be acceptable to trash the 4-ch 32 kHz audio content there?

[2020-11-11 12:35] dericed commented on #155
I don't think this could be done with the concat protocol or concat demuxer in ffmpeg. To do this, I think the 32 kHz content would have to be transcoded to temporary 48kHz files and then managing a careful series of inputs that include a mix of audio embedded within the dv stream or resampled temporary files.

[2020-11-11 12:36] dericed commented on #142
thx @privatezero!

[2020-11-11 12:36] #142 closed

[2020-11-11 13:06] dericed commented on #120
some related discussion on the tweet at https://twitter.com/dericed/status/1326002582658162688. In local testing, I note that having the timcode, recording timestamp and arbitrary bit on the same line sometimes necessitates a line wrap.

[2020-11-11 20:12] #152 closed

[2020-11-11 20:13] dericed commented on #127
Hey @iamdamosuzuki, can you do brew upgrade to update ffmpegdecklink. With that and git master here, dvpackager should use a patch in ffmpegdecklink and the aresample filter to keep audio and video in sync.

[2020-11-11 20:14] dericed commented on #62
Hi @kieranjol, can you retest this. dvpackager has been using a different method to determine the end times of each segment.

[2020-11-11 20:20] dericed commented on #40
Add some notes on improving the description.

- The webvtt output should be described as a subtitle that summarizes frame-based technical metadata across the stream with info like timecode, recording timestamp, and an ascii-art timeline of errors.
- The caption output should note that if there's no captions then no output will be made, since most dv does not have captions, but if a user asks for a

[2020-11-11 20:55] #30 closed

[2020-11-11 20:58] dericed commented on #28
Noting that the logic of https://github.com/mipops/dvrescue/issues/123#issuecomment-692973269 needs to be clear within the xsd documentation.

[2020-11-11 20:58] dericed commented on #9
addressed in https://github.com/mipops/dvrescue/pull/156/commits/2492808476570cc5c3489a30d506a536b362642b

[2020-11-11 20:58] #9 closed

[2020-11-11 22:03] dericed opened #158 "add .txt extension to license in packager"
Mac isn't sure what type of file "LICENSE" is, so it doesn't assign a default app for it.

[2020-11-13 02:12] dericed opened #159 "misidentification of dv50 frames"
will send a sample of first 300MB BAVC1010463.dv. cc @iamdamosuzuki

[2020-11-13 02:13] dericed commented on #159
[code]

[2020-11-16 20:50] ablwr opened #162 "Mockup for Analysis view"
Need a mockup prepared for Analysis/Playback view

Should include the following features in some sort of order:
- playback video, plain
- playback with concealment video
- timeline for analysis flags
- audio analysis
- play/stop
- jump to next marker
- ability to select what type of next marker to jump to (list below)*
- analysis report - graph
- analysis report - table
- raw xml view (maybe)
- me

[2020-11-17 02:39] dericed commented on #162
More comments:
- this view should accept two types of inputs: dvrescue xml and/or dv media files. If the input is a dv media file, then should apply `dvrescue file.dv -x /output/file.dv.dvrescue.xml -c /output/file.dv.dvrescue.scc -s /output/file.dv.dvrescue.vtt`. I think there would be a qctools-like relationship between the report (xml+scc+vtt) and the media file, where the app should have an un

[2020-11-17 02:41] dericed commented on #162
comments? @libbyhopfauf @privatezero @elderorb

[2020-11-17 20:38] dericed commented on #128
`BCD00042_0_00_20_00.dv` is an example. Yes having the arb test only look backwards is ok. So how about

[code]

[2020-11-19 19:22] dericed commented on #159
fixed :) thx @JeromeMartinez

[2020-11-19 19:22] #159 closed

[2020-11-19 19:23] dericed commented on #127
psst @iamdamosuzuki, comments?

[2020-11-24 00:07] libbyhopfauf commented on #162
This sounds great! This is more or less what we covered today in our meeting, yeah?

[2020-11-24 00:09] ablwr commented on #162
Ya. I might end up splitting this issue into smaller parts, if it's easier for thinking and implementation... wish me luuuck

[2020-11-24 00:15] libbyhopfauf commented on #162
Okay! I'll make sure to be tracking it and other smaller part and provide more timely feedback!!

[2020-11-24 23:50] dericed commented on #162
Wanted to jot some ideas, but no design skills, but I wrote an xml to convey the structure of the playback/analysis interface.
[code]

[2020-11-25 01:00] privatezero commented on #162
One thing I have been testing on my end is not just an output for % of frames with video errors, but also to have scaled categories for number of frames at certain thresholds  of frame concealment.

![image](https://user-images.githubusercontent.com/12941699/100168625-76dac700-2e76-11eb-88bd-009116b5dd22.png)

[2020-11-25 17:01] ablwr commented on #162
This document is a work-in-progress but contains a wireframe and comments/descriptions of expected values for each component and what should be included! https://docs.google.com/document/d/1AxTn6_Erwb4hkFWUpQVOy9A-eEcDMsICirl1xP2rjUU/edit#

[2020-11-29 16:50] dericed commented on #162
Hi @elderorb, for prototyping the graphs part. Here's an [example xml](https://gist.github.com/dericed/71ed2d3b619f0af69bf99d23c6afe2ef) and the attached image shows an example of some of this data graphed.

![DVR_007 dv dvrescue xml](https://user-images.githubusercontent.com/762604/100547981-c3881e80-3237-11eb-875a-3c0c48c87e12.jpg)

The upper graph plots the tallies of `//frames/frame/dseq/sta/@

[2020-12-10 14:14] dericed opened #168 "do not start a new <frames> for toggle in caption presence"
Currently, dvrescue makes a new <frames> where there is change in the presence of captioning packs. I suggest to remove this so that:

[code]
would become:

[code]

Ideas on how to acknowledge the change in captioning presences? Here I had frames/@captions to indicate y or n about if the first frame includes captions, and then in frame/@cap used 'start|end' to express points where the captioning p

[2020-12-10 15:27] JeromeMartinez commented on #168
In your example, I understand from "current" that captions starts at the 2nd part but in your proposal it ends at the second part, difficult to follow but I think I get the idea.

Suggestion:
`frames@captions` would have a new possibility "p" (for partial)
`frame@cap` would contain "start" or "end"

In my opinion it should be an option (by default or not by default) because I consider caption pres

[2020-12-10 15:46] dericed commented on #168
sounds good. frames/@captions='n' can be default so not needed to be expressed, otherwise:
'p' - partial captions with exportable data
'y' - captions with exportable data

we could also consider:
'e' - empty captions, just pack filled with 0x8080 or other non-exported values

Yes, with the new arrangement:
- if `../frames/not(@caption)` then no captions
- if `../frames/@caption='y'` then captions

[2020-12-13 17:46] JeromeMartinez commented on #168
Would be another PR, and also another attribute, as it is not exclusive (you can have "e" with either "p" or "y").

[2020-12-14 00:04] joerg-knitter opened #171 "dvrescue: Problems with XML tc and rdt value when using ffmpeg for capturing?"
Hi,

I gave dvrescue a try with a private miniDV test tape (recorded >15 years ago) captured on Windows 10 64-Bit 20H2.

I just downloaded ffmpeg-git-full release from gyan.dev (therefore release 20201213) and used the following command to capture a miniDV tape, using a PCIe Firewire card with VIA chipset and standard (!) Windows 10 drivers (not the legacy drivers) and a Sony DCR-PC2E consumer cam

[2020-12-19 18:59] #168 closed

[2020-12-19 19:07] dericed commented on #171
Hi @joerg-knitter, I'm curious about the command they provided: `ffmpeg -f dshow -i video="Microsoft DV Camera and VCR" -map 0 -c copy output.dv`. This would rewrap the audio and video of the input into a new dv container, so the file you get is partly from the tape and partly created by ffmpeg. To output the dv from the input directly, could you try this: `ffmpeg -f dshow -i video="Microsoft DV C

[2020-12-19 19:16] dericed commented on #64
Hi @kieranjol, do you have this file and could you test with the latest build https://old.mediaarea.net/download/snapshots/binary/dvrescue/. I think the audio identification is working well now, but please update if not.

[2020-12-19 20:58] dericed opened #174 "invalid xml with pond.dv sample"
The xml output shows an issue similar to https://github.com/mipops/dvrescue/issues/129.

Sample file: http://samples.ffmpeg.org/V-codecs/DVSD/pond.dv

Frame 150 of this sample creates an invalid attribute in the dvrescue xml output: `rdt="19<0-12-21 20:11:08:18"`.

[code]

output is at https://gist.github.com/dericed/9946faee7d90cc7328d274a88b9dc729

[2020-12-19 22:28] #158 closed

[2020-12-20 15:23] joerg-knitter commented on #171
Thanks for this hint - I took the command line from https://twitter.com/ffmpeg/status/1072255549540982784. In fact, your command line works, the XML looks good on two test captures I made with Windows 10.
However, the dvrescue merge functionality does not work on the generated files - the resulting file is far to short (each capture has a size of ~1GByte, the merged file just 9 MByte. Is the merge

[2020-12-20 15:36] JeromeMartinez commented on #171
A ticket please. We'll need the files (can be in private if needed).

[2020-12-20 15:38] dericed commented on #171
Thanks, I [replied](https://twitter.com/dericed/status/1340682582850199560) to the referenced tweet. And yes, the merge function is still in development, but has been working well for me, so am curious about your scenario. Could you confirm that you're merging 2 outputs from the `-c:v copy -map 0:v -f rawvideo` command and not one of those with one of the prior command?

[2020-12-20 16:05] #151 closed

[2020-12-20 16:26] joerg-knitter commented on #171
I am going to create a new ticket with details, and yes, I used the command line you delivered.

[2020-12-20 16:26] #171 closed

[2020-12-20 16:32] #174 closed

[2020-12-20 16:37] joerg-knitter opened #175 "dvrescue: Merge output of 2 ffmpeg recordings is too small"
Hi,

merging 2 recordings does not work here, the resulting file is far too small.

Recording informationen:
Recorded and played back with a Sony DCR-PC2E (European/Pal version)
Normal mode (48 kHz Audio) with 16:9 mode set (anamorph recording and playback)

This is the system information:
Windows 10 10.0.19042 Build 19042 (aka 20H2)
ffmpeg-2020-12-12-git-5148740e79-full_build
dvrescue_CLI_0.20.11

[2020-12-21 20:47] dericed opened #177 "add progress display to avfctl capture"
For avfctl -cmd capture, I propose displaying information during the transfer, such as timecode, recording timestamp, format, aspect ratio, audio channel count, sampling rate, and duration of content read so far.

Since avfctl may merge with dvrescue or dvrescue would be set up to support piped input from avfctl or ffmpeg (tape readers), then perhaps this progress bar would be better in dvrescue w

[2020-12-23 15:47] dericed commented on #86
More planning on this from discussion with @JeromeMartinez

- Accept input from:
  - ffmpeg -f dshow -i DV -c:v copy -map 0:v -rawvideo -
  - ffmpeg -f libiec61883 -i DV -c:v copy -map 0:v -rawvideo -
  - avfctl -device 0 -cmd capture -
  - a simulator taking a DV file in input + options for creating issues in the file

- Provide option for a status bar
  - tc=XX:XX:XX:XX rdt=YYYY-MM-DD HH:MM:SS:F

[2020-12-23 21:31] privatezero commented on #86
this all sounds great!

[2020-12-29 00:54] dirextric opened #179 "DVRescue Merge Segmentation Fault"
Hi,

I've been trying to merge two recordings and the process consistently fails with a segmentation fault. I'm running Fedora 33 (Linux) with the dvrescue-0.20.11.20201226 snapshot provided on https://mediaarea.net. Both recordings are complete captures of an entire tape done through dvgrab. Below is the command I used and the output at maximum verbosity:

[code]

This is what comes up when I loo

[2020-12-29 16:08] #179 closed

[2020-12-29 16:09] JeromeMartinez commented on #179
@dirextric please test [the latest snapshot](https://mediaarea.net/download/snapshots/binary/dvrescue/).

[2020-12-29 17:54] dirextric commented on #179
I have upgraded to the latest snapshot and the initial issue is resolved, but now there is a new problem. DVRescue functions normally until frames 10138 and 10139, but then it gets stuck in an infinite loop adding new frames to the output file, continuing even past the end of the input files. Below is the output:

[code]

I was forced to kill the process, which up until that point produced a 60GB

[2020-12-29 17:57] JeromeMartinez commented on #179
Yes, please, for better tracing of issues.

[2020-12-29 18:06] dirextric opened #181 "DVRescue merge looping after broken frames"
After what happened in #179, I have upgraded to the latest snapshot and there is a new problem. DVRescue functions normally until frames 10138 and 10139, but then it gets stuck in an infinite loop adding new frames to the output file, continuing even past the end of the input files. Below is the output:

[code]

I was forced to kill the process, which up until that point produced a 60GB video file

[2020-12-29 18:11] JeromeMartinez commented on #181
I need only the last 4 frames (last 480 000 bytes, 133 ms), is it possible to share in private that?
If not, I'll try to put some logs, but I'll need you to compile the code yourself if you can.

[2020-12-29 18:23] dirextric commented on #181
Sadly no, I can't provide any part of the files. I should be able to try the second option and compile the code myself. I'll await further instructions.

[2021-01-01 21:44] dirextric commented on #181
Quick update: with the latest snapshot from PR #182, the issue changes slightly. Whereas before the merge process continued infinitely adding the last working frame to the output file, now the process itself continues infinitely (saying it's adding frames) but the output file ends at the last working frame. Judging from the comment on the PR, could this be because the recording in question has two

[2021-01-01 21:50] JeromeMartinez commented on #181
I think that there is a huge gap in the timecodes, and the tool tries to fill the gap. the next PR will limit the tentative of filling gaps, I hope it will fix your issue.

Not for the moment, as I take the non AV data from the most wealthy frame, hoping that the non AV data is the most wealthy too (there is no flag about how wealthy is the non AV data) without checking the time code there. I'll a

[2021-01-12 01:01] privatezero opened #187 "QT problem with linux GUI build"
Attempted to install new [build for Ubuntu 20.04](https://old.mediaarea.net/download/snapshots/binary/dvrescue-gui/20210111-3/), and when run it will fail to load with the error:
[code]

[2021-01-12 15:51] dericed opened #188 "empty dseq reported during full concealment of video"
[BCD00225_fullconcealvideo.dv.zip](https://github.com/mipops/dvrescue/files/5803197/BCD00225_fullconcealvideo.dv.zip)

This sample reports <dseq> elements, even though full_conceal_vid is true.

[code]

Was testing with 20210111

[2021-01-12 16:59] dericed opened #189 "merge process gets stuck and times out"
[Samples attached](https://github.com/mipops/dvrescue/files/5803600/Archive.zip)

[code]

[2021-01-12 17:24] dericed opened #190 "add an intermediate verbosity option for merge"
Currently merge is summary only (5) or info per frame plus summary (9). There can be 100,000s of lines of difference between the two options. I suggest an intermediate verbosity if status is fine.

[2021-01-12 20:14] cmhosale commented on #127
glad to jump in as a tester on some of this, as I have lots of problematic DV preservation files created years ago. I just tested one with dvpackager and the output mkv is out of sync. Running FFmpeg 4.3.1 and dvrescue 0.20.06 after brew upgrades today. Should I try again with the dev FFmpeg mentioned above?

[2021-01-13 19:33] g-maxime commented on #187
Unfortunately the GUI depends on Qt 5.15 at runtime. I lowered this to 5.14 in latest snapshot, so Ubuntu 20.10 works, but I can't go further without removing features.

 I will prevent packages generation for unsupported distributions versions.

[2021-01-13 21:41] JeromeMartinez commented on #187
@ElderOrb is it a big problem to use Qt 5.12 features only? it is the version on Ubuntu 20.04 (with is the LTS version).

[2021-01-14 19:46] dericed opened #191 "recent daily builds of avfctl are broken"
[code]

[2021-01-14 20:48] ElderOrb commented on #187
@JeromeMartinez I've already returned back support for Qt 5.12 (the cost is one minor feature which can be returned later if needed). But to be fully sure there is not surprises here I need to finish player integration first.

[2021-01-14 22:38] g-maxime commented on #191
Please test [this snapshot](https://mediaarea.net/download/snapshots/binary/dvrescue/20210114-12/dvrescue_CLI_0.20.11.20210114_Mac.dmg) (compiled against older 10.12 SDK)

[2021-01-15 15:50] dericed commented on #191
That works!

[code]

the decklink error seems unrelated :-/ but avfctl is working again :)

[2021-01-15 15:52] JeromeMartinez commented on #191
So at long term we have an issue, but in the meanwhile we build with this older SDK (old SDK for avctl but newest things for GUI, fun :) )

[2021-01-15 16:07] dericed commented on #191
Have you diagnosed the regression with the newer SDK? Any new concerns about the sustainability of avfctl?

[2021-01-15 16:11] g-maxime commented on #191
@dericed No yet, this error appears on which macOS version ?

[2021-01-15 16:15] dericed commented on #191
It was observed on 10.14.6 and 11.1.

[2021-01-15 17:27] #191 closed

[2021-01-16 14:06] dericed opened #193 "if frames/@captions='p' then require first frame to use the caption attribute"
for instance, currently if first frame has captions then caption='on', otherwise it is undeclared, but caption='off' would be helpful:
[code]

vs

[code]

[2021-01-16 16:00] dericed opened #194 "suspicious trends in aud/@n and aud/@n_even"
Sample: https://archive.org/download/DvAnalyzerSampleDvAudioErrors/dvanalyzer_sample_EVIA_IU.mov

In many samples frame/aud/@n and frame/aud/@n_even are the same value. In this sample aud/@n = aud/@n_even in 88% of the frame reported. The relationship between these values show numeric trends that feel suspicion. @JeromeMartinez, can you review and verify the accuracy of these values?

[2021-01-16 16:00] dericed opened #195 "add logo to gui"
:)

[2021-01-22 23:48] dericed opened #199 "dvrescue, add option to send sdterr logging to file"
@privatezero, any rec for what argument?

[2021-01-22 23:49] dericed opened #200 "dvplay, handle cases with frame with no timecode"
- in both filenaming and the header on the jpegs.

[2021-01-22 23:50] dericed opened #201 "dvplay, alternate handling for full frame concealment"

[2021-01-23 14:20] #195 closed

[2021-01-24 14:41] dericed opened #204 "frames/@scan_type is defined by not implemented"
[code]

[2021-01-24 15:07] dericed opened #205 "@rdt_r attribute never appears"
I can't seem to force this attribute even if just repeating a frame over and over. Is @rdt_r evaluated?

[2021-01-24 16:20] dericed opened #206 "regression, no_pack sample now shows no frames"
Sample https://github.com/mipops/dvrescue-sample-data/blob/main/by_attribute/BAVC2000005.dv.no_pack.full_conceal_aud.dv?raw=true

before

[code]

on latest:
[code]

[2021-01-29 12:29] dericed opened #208 "frames with full_conceal_vid contain unneeded dseq nodes"
example:
[BCD00004_take1.dv.3frames.dv.zip](https://github.com/mipops/dvrescue/files/5893817/BCD00004_take1.dv.3frames.dv.zip)

[code]

should be
[code]

[2021-01-29 14:07] dericed opened #209 "audio errors do not properly merge"
Attached are two captures:

BCD00004_take1_audiomerge_2.dv
[code]

and pass 2
[code]

merge output:
[code]

the dvrescue xml of the merged output is
[code]

The expectation is that frame 01:03:33:17 would be error free since it is so in the 2nd input, but the merged output contains the same errors of that frame from the first input.

[2021-01-30 00:17] JeromeMartinez commented on #208
Duplicate of https://github.com/mipops/dvrescue/issues/188.

[2021-01-30 00:17] #208 closed

[2021-01-30 00:20] #175 closed

[2021-01-30 00:20] #189 closed

[2021-01-30 00:20] #190 closed

[2021-01-30 00:33] #188 closed

[2021-01-30 00:44] JeromeMartinez commented on #206
@dericed it works for me, at least with my latest version (which include fix for empty Dseq with full_conceal_aud):

[code]

[2021-01-30 02:13] dericed commented on #208
thx, tested & fixed.

[2021-01-30 02:15] #193 closed

[2021-01-30 02:20] dericed commented on #206
yes, works for me too. Interesting that the file seems well supported with no packs in subcode, audio or video.

[2021-01-30 02:20] #206 closed

[2021-01-30 14:13] dericed opened #212 "crash on merge"
[code]

Here are xml's for the two files, they have timecode resets.

BCD00216_take1_1st_120000000.dv
[code]

and for BCD00216_take2_1st_120000000.dv
[code]

The output is created before the crash, here it is:

hey.dv
[code]

samples offered privately on request

[2021-01-30 14:39] dericed commented on #200
working on this and have updated the jpg header but since the timecode is used in the filenaming, when there's no timecode, the filename messes up and is not unique. I'm considering changing the filename to a value which will certainly be there, such as timestamp rather than timecode.

[2021-01-30 14:42] dericed commented on #200
For filenames, I think I'll use six-digit frame number and then timecode if available.

[2021-01-30 14:58] JeromeMartinez commented on #212
there are 3 starts in 1 file and 4 starts in 1 file, not easy to find a good match of "segments" here. Crash is not good, but not sure of a good algo. maybe I bufferize a bit and find a match between segments size (e.g. if 2 small then 1 big segment in 1 file, and 3 small then 1 big segment in another file, I consider that the big segments are in sync. But... This is a guess, nothing clear).

[2021-01-31 15:58] dericed opened #214 "timecode pack is not reported but some packs are there"
[BCD00216_take2_1st_120000000_2400000.dv.zip](https://github.com/mipops/dvrescue/files/5900025/BCD00216_take2_1st_120000000_2400000.dv.zip)

[code]

No timecode is reported, however:
[code]

There are surviving timecode packs. The timecode should be `00:00:00:00`.

[2021-02-01 17:26] dericed opened #216 "support absolute track number"
add the following attributes:
- frame/@abst
- frame/@abst_r
- frame/@abst_nc
- frame/@bf

@abst is parsed as described on page 181 of iec61834-1{ed1.0}b.pdf. It is a 23 bit value written in the ssyb packs of the subcode section. Currently mediainfolib (as does smpte 314m) refers to abtn as arbitrary bits:

[code]

The 8 bit arbitrary bits of each triplet of sync blocks compose the 24 bits of the 2

[2021-02-01 17:52] dericed commented on #187
@privatezero can you re-review the status of this?

[2021-02-01 18:32] dericed opened #217 "create sample on absolute track number behavior"
To create the samples:
- recording a very short recording near the beginning of a blank dv tape
- then fast forward past blank parts, then record another short part
- then go near end of tape and record another short part
- then capture all recordings

If possible include both SP and LP recordings.
If possible perform the test on more than one deck.

Label all files with SP or LP, recording deck n

[2021-02-01 18:48] privatezero commented on #187
GUI is building successfully now in Ubuntu 20.04 with version 0.20.11.20210201-1

[2021-02-01 19:05] dericed opened #218 "ui: generate xml if not existing when dv is opened"
If opening file.dv, if file.dv.dvrescue.xml exists then open that too (as it does now), else generate file.dv.dvrescue.xml and open as well.
- As with qctools, support the xml alongside the dv or in a user-specified folder.

[2021-02-01 19:07] dericed opened #219 "ui: table updates"
- "Recording Start/Recording End" columns change to "Recording Marks" where if rec_start=1 and rec_end=1, then "Start & End" (rare maybe impossible), else if rec_start=1 then "Start", else if rec_end=1 then "End"
- "No Pack/No Subcode Pack/No Video Pack/No Audio Pack" -> "Missing Packs" where if no_pack=1, then "Subcode, Video, Audio" ; if no_subcode_pack=1 then +"Subcode" ; if "no_video_pack=1 th

[2021-02-01 19:20] privatezero opened #220 "No audio in Ubuntu GUI playback"
Testing on version 0.20.11.20210201-1 Ubuntu 20.04, and there is no audio during playback when viewing input file in embedded player.

[2021-02-01 20:16] privatezero opened #221 "scaling problems in Windows GUI"
Testing windows build from [this snapshot](https://mediaarea.net/download/snapshots/binary/dvrescue-gui/20210131-2-3/), and the GUI window doesn't appear to be scaling as intended. On initial startup it will open scaled too large to be fully displayed on screen, and when I attempt to resize individual GUI components do not scale accordingly. (This results in even more buttons being cut off as well

[2021-02-01 21:31] #200 closed

[2021-02-01 22:13] libbyhopfauf commented on #217
Just to clarify, should the same tape include both LP and SP recordings or separate tapes? And the files should be split up by tape position vs. the full recording?

[2021-02-02 01:34] dericed commented on #217
I don't think it matters. My hypothesis is that SP and LP recordings use a different incrementation pattern in absolute track number. The files could be captured separately, as there would likely be a lot of blank tape between recorded sections. But if its one capture of a tape with large blank parts that's all fine too.

[2021-02-02 15:25] dericed opened #222 "dvrescue: add progress for xml generation"
provide some form or num/den progress that ui could use to manage a progress bar
cc @ElderOrb

[2021-02-02 16:06] JeromeMartinez commented on #222
With the pipe PR I show a progress bar, OK I make it available from UI.

[2021-02-02 23:09] dericed opened #223 "designing sdterr status bar for read dv"
Starting to issue to define the status output of dvrescue when reading a dv input:

[code]

- `Frame#` is a counter of read frames
- `AbsTr#` is absolute track number of last read frame or ------ if none
- `FrErr%` is the percentage of frames read with errors (dseq/sta and/or dseq/aud)
- `BlErr%` is the percentage of DIF blocks read with errors (dseq/sta and/or dseq/aud)
- `Progress` is disabled w

[2021-02-04 14:50] dericed commented on #218
resolved in https://github.com/mipops/dvrescue/pull/224

[2021-02-04 14:50] #218 closed

[2021-02-04 18:02] privatezero commented on #223
I think all these look like the most useful pieces of information that I would want! Would it be useful to have something that gave some sort of rolling peak or average error rate across a preceding amount of time (60 seconds or so)? Might provide a little more context for people paying active attention to a transfer (but might also be overkill?)

[2021-02-04 18:58] privatezero opened #226 "dvrescue -m log files"
From a preservation provenance perspective, I think it would be helpful for the results of `dvrescue -m` that are currently displayed in the terminal to also be written to an associated log file that can be saved by holding institutions if desired.

Currently these results can be obtained by adding `> name.log` to the merge command, but this feels like something that would be most useful supported

[2021-02-06 20:20] dericed opened #230 "rename dvrescue:arbitrary_bits to sequence_number"
There's a four bit value (last four bits of the first byte of vaux, audio and video dif blocks) which we've been called 'arbitrary bits'. We use this name since that's what SMPTE 314M calls this data (see [table 1 on page 5](http://web.archive.org/web/20060927044735/http://www.smpte.org/smpte_store/standards/pdf/s314m.pdf)).

I don't know what the SMPTE document simply defines these values as that

[2021-02-07 14:30] dericed commented on #219
closed by https://github.com/mipops/dvrescue/pull/229. thx @ElderOrb

[2021-02-07 14:30] #219 closed

[2021-02-07 14:33] dericed commented on #226
Hey @privatezero in the latest daily build there's:
[code]

Any better idea for the name of the argument or definition?

[2021-02-07 14:39] dericed opened #232 "merge log output direction issue"
Hi @JeromeMartinez, I'm testing --merge-info-output related to https://github.com/mipops/dvrescue/issues/226.

My command: `avfctl -cmd capture - | dvrescue - -m out.dv --merge-info-output out.log -v 7`

The out.log contains:
[code]

and the sdterr output includes:
[code]

It looks like the header part of the merge log it going to sdterr but then the frame based info of the merge log is directed t

[2021-02-07 15:52] dericed opened #233 "dvrescue stops parsing early if in container"
This is using the latest daily build.

`ffmpeg -f lavfi -i testsrc2=s=720x480:r=30000/1001 -f lavfi -i sine  -pix_fmt yuv411p -ac 2 -t 60 -c:v dvvideo -c:a pcm_s16le test.mov`

This command makes a sixty second dv file in mov.

% dvrescue test.mov
[code]

But the xml makes it appear that the file is less than a second.

[2021-02-07 19:07] JeromeMartinez commented on #226
I switch to `--merge-log` option name for the moment. Can be changed if something better is found.

[2021-02-08 22:50] ablwr opened #236 "No daily builds for Ubuntu 18.04"
Hi :)

There's an Ubuntu 20.04 daily build coming up, but I'm still on 18.04. Can that be added to the list?

Attempting to build the later version results in:

[code]

[2021-02-09 13:43] JeromeMartinez commented on #236
CLI: not really complicated, we can use the libs (and versions) of Ubuntu 18.04. @g-maxime can you do a CLI release for Ubuntu 18.04?

GUI: complicated because AFAIK the minimum Qt version is 5.12, and [Ubuntu 18.04 has only Qt 5.9](https://packages.ubuntu.com/bionic/libqt5gui5). We could try to use [Qt 5.12 PPA](https://launchpad.net/~beineri/+archive/ubuntu/opt-qt-5.12.6-bionic) with our build f

[2021-02-09 13:53] ElderOrb commented on #236
Well... 5.9 is a bit too old - doesn't even provide TableView v2. Of course we can switch to TableView v1, but it has some performance issues and in general will require reimplementation of that part. As alternative solution maybe something like 'flatpak' could help to bring more modern Qt(s)  on older platforms?

[2021-02-09 13:54] JeromeMartinez commented on #236
Doable, sure, just not immediate to do. Is it worth it?

[2021-02-09 14:17] ElderOrb commented on #236
Great question to @dericed but I guess the answer depends on efforts. From the other side - *if* flatpak will do its job - it will allow to apply the latest & greatest Qt versions. Which might be even more actual now when they made LTS branches commercial-only.

[2021-02-09 17:26] ablwr commented on #236
Do we know what the long-term plans are in terms of what operating systems DVRescue should support? If we plan to only support 20.04+ Ubuntu, then I should find a workaround.

[2021-02-10 04:01] #86 closed

[2021-02-10 15:27] #226 closed

[2021-02-10 15:57] JeromeMartinez commented on #233
the issue was only in the intermediate snapshots of the stdin PR, please check last stdin build.

[2021-02-10 15:57] JeromeMartinez commented on #232
the issue was only in the intermediate snapshots of the stdin PR, please check last stdin build.

[2021-02-10 15:59] JeromeMartinez commented on #181
@dirextric please try [latest snapshots](https://mediaarea.net/download/snapshots/binary/dvrescue/), I expect that latest updates prevents the infinite loop.

[2021-02-10 18:23] dericed commented on #233
thx :)

[2021-02-10 18:23] #233 closed

[2021-02-10 18:25] dericed commented on #222
If the input is not a pipe we should include a value that can be used for progress. Such as parsing_frame/frame_count or parsing_byte/file_size, etc.

[2021-02-10 22:55] dericed commented on #232
Trying latest build 2021-0210-2 but it simply stops immediately on a piped input.
`cat example.dv | dvrescue - -m out.dv`

Just ends with no stdout or stderr, even if with -v 9.

[2021-02-13 16:59] JeromeMartinez commented on #232
@dericed looks like it was an intermediate build with old source code, I tried the 2021-02-11 (latest) version and it is fine.

[2021-02-14 02:08] dirextric commented on #181
Indeed, the latest snapshots fix the infinite looping. However, the new algorithm seems to have a separate problem. When I merge with only full captures as inputs, everything goes as expected, but when I try to merge using a combination of full and partial captures, the output file is much shorter than it should be (the output file is about 27,500 frames and the inputs are captures from a 112,500

[2021-02-14 02:10] #181 closed

[2021-02-14 02:20] dericed commented on #181
Hi @dirextric, the mix of full/partial captures could be merged if you dissect them a bit first. Try `dvpackager -e dv -t  your.dv` and it will split the pieces apart into dv segments by the breaks in the timecode.

[2021-02-14 02:24] dericed commented on #94
nudge nudge :)

[2021-02-14 15:46] JeromeMartinez commented on #216
`frame/@abst` has 10 (consecutive) * 2 * 2 values per frame, I suggest to provide the smallest one in the XML output, fine enough?
Then we could add info when values are not the expected ones in the same frame (not same/consecutive etc)

[2021-02-14 16:39] dericed commented on #232
Still an issue here:
[code]

The command simply stops very soon after running.
[code]
but okat without this output option.

[code]

Also please rename --merge-info--output to --report, unless @privatezero has a better suggestion.

[2021-02-14 17:33] dericed commented on #216
well officially $DIF_SEQUENCE_PER_FRAME_COUNT * 2 * 2. Smallest is okay, if you dismiss values that are stored within nulled packs (example: the nulled subcode blocks in https://mediaarea.net/DVAnalyzer/dif-incoherency shouldn't result is @abst=0 if other subcodes contain valid abst.)

I am still uncertain if the incrementation of abst is consistent from dif sequence to dif sequence, but if consis

[2021-02-14 19:52] JeromeMartinez commented on #216
`@bf` is at 99.999% always 1 ( = no discontinuity). I suggest default 1 and displayed if present and 0.
We could also inverse the logic (1 mean discontinuity) but may be misleading for people reading the spec.

[2021-02-14 20:45] JeromeMartinez commented on #232
Error: in order to avoid mistakes, provide output file names after input file names.

The tool rejects the options so stops.
--> `% avfctl -cmd capture - | dvrescue - -m out.dv --merge-log out.log -v 7`

(as `--merge-info-output` is no more an option, it is considered as an input name. I need to change this behavior and reject options if they are not existing files instead of currently just ignore

[2021-02-15 00:16] dericed commented on #232
K to —merge-report.

[2021-02-15 00:16] dericed commented on #232
Or maybe —merge-log. @privatezero ?

[2021-02-15 03:42] privatezero commented on #232
Hmmm maybe `--merge-log` is the most self descriptive?

[2021-02-18 17:41] dericed commented on #217
Updating notes that LP seems to cause recycling of abst values, but am not clear since the only known sample i have of LP is DVR007 which is also severely damaged.

[2021-02-18 18:00] libbyhopfauf commented on #217
Paul’s making more samples. Should have those to you by the end of the week.

[2021-02-19 16:43] ElderOrb commented on #221
What is your resolution? Not sure we ever tested behavior on resolution lesser than startup size

[2021-02-19 19:54] dericed opened #245 "icons needed"
Making a list of icons needed:

These icons would replace the current "Recording Marks" column, which is empty or says "Start" and/or "End"
- recording start
- recording end

Playback controls:
Currently these are in the gui as `<<`, `<`, `PLAY`, `>`, and `>>` but could match the style of other icons.
- jump to first frame
- prev frame
- play
- pause
- next frame
- jump to last

Captioning
- we ne

[2021-02-19 22:26] dericed commented on #245
My bad, playback icons are already set up at https://github.com/mipops/dvrescue/tree/main/Source/GUI/dvrescue/dvrescue/icons. @ElderOrb can you integrate the svg icons for play, rewind, stop, fastforward, rewind.

[2021-02-19 22:30] dericed commented on #245
![image](https://user-images.githubusercontent.com/762604/108568199-a2cfe200-72d7-11eb-8ddc-fc0862094ec2.png)

In this image, there's many jumps in the recording time. Some jumps correlate to a Start Recording Mark, so the recording time jump is explained by someone starting and stopping the camera. Some jumps do not correlate to a Start (this could be because of an edit or dropped frames in the c

[2021-02-19 22:38] libbyhopfauf commented on #245
@dericed agreed! I think that would be much more intuitive for users to understand why/how the error occurred. Will create a second icon to note the record one.

[2021-02-20 14:43] dericed commented on #199
@privatezero did https://github.com/mipops/dvrescue/pull/235 fully resolve this?

[2021-02-20 14:48] dericed commented on #205
Tried again to force this by taking a frame with timecode and recording time and then concatenating that same frame to itself 40 times in a row. When analyzing that file I would get @arb_r but not @rdt_r or @tc_r.

[2021-02-20 15:04] dericed commented on #187
Hey @privatezero, can you also check the latest at https://mediaarea.net/download/snapshots/binary/dvrescue-gui/ and see if that works and if it still doesn't have audio (https://github.com/mipops/dvrescue/issues/187).

[2021-02-20 16:11] dericed commented on #127
Hi @cmhosale @iamdamosuzuki, I've adjusted some of the way timing is calculated in dvpackager. Could you retest with the latest builds at https://old.mediaarea.net/download/snapshots/binary/dvrescue/.

[2021-02-21 20:41] privatezero commented on #187
I'm not seeing any more recent builds in there for linux than 2/11? In testing `v.0.20.11.2021021` the GUIi fails to load with following error (Ubuntu 20.04)

qrc:/main.qml:153 Type AnalysePage unavailable
qrc:/AnalysePage.qml:217 Type DataView unavailable
qrc:/DataView.qml:7 module "Qt.labs.qmlmodels" is not installed

[2021-02-21 20:46] privatezero commented on #221
Resolution is 1920x1080, with app scaling set to the system "Recommended" setting of 150%.

[2021-02-22 20:42] dericed commented on #64
nudge nudge :) @kieranjol

[2021-02-22 22:18] libbyhopfauf commented on #245
What if we do color coded ones:

non-continuous because of the recording method = green
non-continuous for another reason = red

![image](https://user-images.githubusercontent.com/13877631/108777494-ba49dd80-7518-11eb-933a-723d2148ca51.png)
![image](https://user-images.githubusercontent.com/13877631/108777560-d483bb80-7518-11eb-8a99-a734b857e21a.png)

[2021-02-22 22:19] libbyhopfauf commented on #245
Here are the closed captioning icons:
closed-caption-end-error.svg
closed-caption-end.svg
closed-caption-middle-error.svg
closed-caption-middle.svg
closed-caption-start-error.svg
closed-caption-start.svg

[2021-02-23 00:02] libbyhopfauf commented on #245
Closed captioning icons are available here: https://drive.google.com/drive/folders/1dx_ZUjRc5YTH8zJf-FBC8rvFs2pLemy7?usp=sharing

[2021-02-23 00:06] libbyhopfauf commented on #245
Great! Do we still need next frame [>] and previous frame [<]? I didn't see those SVGs listed with the others, so just wanted to double-check.

[2021-02-23 00:20] libbyhopfauf commented on #245
Closed captioning icons added here: #246

[2021-02-23 01:43] libbyhopfauf commented on #245
Mock-ups for recording start and recording end:

![recording-marker-stop_options_ALL](https://user-images.githubusercontent.com/13877631/108792145-774a3300-7535-11eb-9f38-ba5af1e123c8.png)

[2021-02-23 11:25] kieranjol commented on #64
Hi! I no longer have access to these files unfortunately!

On Mon 22 Feb 2021 at 20:42, Dave Rice <notifications@github.com> wrote:

[2021-02-23 14:32] dericed commented on #245
oh i like these as option 1 could be used in the table while option 2 could be used as a marker in the graph.

[2021-02-23 14:37] dericed commented on #245
@libbyhopfauf I like best option 1 for the table and option 2 for the graph, but could you also make a third value, for the crazy-rare situation of a frame that has both the start and end marker, like a combination of both together.

[2021-02-23 23:05] libbyhopfauf commented on #245
Yeah! That's what I was thinking as well (re: graph vs. table). I can definitely make a start/end combined marker.

[2021-02-23 23:26] libbyhopfauf commented on #245
@dericed how about this?

![recording-marker-stop_options_table+graph](https://user-images.githubusercontent.com/13877631/108922058-7bd12300-75eb-11eb-8400-6fb3ce30694a.png)

[2021-02-25 14:14] ElderOrb commented on #245
Sure, but need two more icons for step back / step forward

[2021-02-25 14:38] dericed commented on #245
@libbyhopfauf the start/stop ones look great. Please add them to https://github.com/mipops/dvrescue/tree/main/Source/GUI/dvrescue/dvrescue/icons in a pull request.

[2021-02-26 00:16] JeromeMartinez commented on #214
From a past experience, we (IIRC) decided (12 years ago!) that 4 zeroed bytes as timecode content is synonym of buggy files, so it is ignored.
In BCD00216_take2.dv, it seems wrong, as the next frame as 00:00:00:01.

the parser works in real time i.e. can not probe the next frame. How to differentiate a buggy time code from a legitimate one?
I can remove the 4 zeroed bytes check, easy, is it fine?

[2021-02-26 01:36] libbyhopfauf commented on #245
@ElderOrb no problem! I'll get a mock up going.

@dericed will do!

[2021-02-26 18:25] privatezero commented on #187
Continuing to get same error when testing `0.20.11.20210226` on Ubuntu 20.04

qrc:/main.qml:159 Type AnalysePage unavailable
qrc:/AnalysePage.qml:242 Type DataView unavailable
qrc:/DataView.qml:7 module "Qt.labs.qmlmodels" is not installed

[2021-02-27 10:05] JeromeMartinez commented on #187
Please try this snapshot https://mediaarea.net/download/snapshots/binary/dvrescue-gui/20210226-9/

[2021-02-27 19:56] dericed opened #253 "add error columns in the file table"
Can you also add some error statistics to the file list as well, like 3 values per file:

[code]

[2021-02-27 19:57] dericed opened #254 "add toggle expander to show/hide file list in analysis view"
I suggest to the left of the dropdown to have a toggle button that shows either ^ and > where clicking on > will hide the list (showing only the dropdown) and clicking on ^ will show the list

@libbyhopfauf will need expander icons for ^ and >

[2021-02-27 19:57] dericed opened #255 "update row of file list after xml is processed"
when i open a file with no xml, then the file is added to the list and processes with infinity spinner, when the file is done the table and graphs fill, but the file list data does not update.

[2021-02-27 20:31] dericed commented on #214
thx :)

[2021-02-27 20:31] #214 closed

[2021-02-28 03:02] privatezero commented on #187
thank you!  - I just tested 0.20.11.20210228 and it is loading correctly now

[2021-03-01 22:07] dericed opened #257 "add abst column to gui"
I suggest this can go all the way to the right end of the table as it's a rather advanced-meaning value. Recent builds of dvrescue will have `frame/@abst` `frame/@abst_nc` and `frame/@abst_r`. The value of abst is an integer (some negative values are apparently feasible), but it's mostly from -20 to about 7 million. The full name of the value is "Absolute Track Number".

[2021-03-02 20:03] dericed commented on #187
ok to close?

[2021-03-02 20:07] privatezero commented on #187
I figure it probably is - I'll let you know if it breaks again

[2021-03-02 20:07] #187 closed

[2021-03-02 23:21] #205 closed

[2021-03-02 23:28] dericed commented on #254
done in https://github.com/mipops/dvrescue/pull/256/commits/272913ec5e4b4b0956a441a2e6ab1eee4b4bf67e, thx @ElderOrb

[2021-03-02 23:28] #254 closed

[2021-03-02 23:28] dericed commented on #255
done in https://github.com/mipops/dvrescue/pull/256/commits/8eadc519838807b62c2d552a8a4470974b44a5dc

[2021-03-02 23:28] #255 closed

[2021-03-02 23:36] dericed commented on #232
resolved in https://github.com/mipops/dvrescue/pull/235/files as --merge-log

[2021-03-02 23:36] #232 closed

[2021-03-02 23:37] dericed commented on #199
also resolved via https://github.com/mipops/dvrescue/pull/235/files

[2021-03-02 23:37] #199 closed

[2021-03-02 23:40] dericed commented on #121
closing as the progress has progressed substantially since this thread's discussion. I'll divide up new gui issues and discussions at a more granular level.

[2021-03-02 23:40] #121 closed

[2021-03-02 23:41] dericed commented on #155
Hey @bturkus, I'm working on this. Can you share the xml for the file you're referring to. Extra credit if you can generate a dvrescue xml using one of the recent builds.

[2021-03-02 23:44] dericed commented on #119
Hi @JeromeMartinez, this is working in practice but only with some exit options.

For instance, when I run
`avfctl -cmd capture - | dvrescue - --merge-log out3.log -v 7 -x out3.xml -s out3.vtt -m out3.dv`

Then the out3.dv is written during capture. If I stop the deck, which stops avfctl and then dvrescue, then the xml and vtt are okay. But if I run that command and then stop with Control-C, then

[2021-03-03 00:49] dericed commented on #62
Hi @kieranjol, I'm going to close this as there's been a tremendous amount of work since the attached xml and more safety checks in dvpackager, such as https://github.com/mipops/dvrescue/pull/251/commits/39cd0e3124e1442399eb3faf9fa456a355e7ae2, but would be very interested to revisit the referenced file with the latest versions or if silent fails from dvpackager happen for anyone else.

[2021-03-03 00:49] #62 closed

[2021-03-03 18:40] libbyhopfauf commented on #245
@dericed any other icon requests?

[2021-03-03 19:07] libbyhopfauf commented on #245
@dericed okay, I have all the new SVG icons uploaded. Any other that need to be created?

[2021-03-03 20:25] cmhosale commented on #127
tested the same file on 20.11 and the sync issue still occurs

`(standard_in) 2: parse error
ERROR: In afc2004007_066_mv002_00-00-00.000000.mkv the video track is 3444240.000000 milliseconds and the audio track is 3443206.000000. These tracks may lose sync.
FYI: Packaged to afc2004007_066_mv002_00-00-00.000000.mkv.
ERROR: afc2004007_066_mv002.dv contained 12386880000 bytes of DV, but the outputs c

[2021-03-03 20:41] dericed commented on #127
Thanks @cmhosale, I think this was with a recent daily build and not version 20.11, right?

[2021-03-03 20:43] cmhosale commented on #127
oh yes my mistake - v.0.20.11.20210301. Build from Monday.

[2021-03-03 21:19] dericed commented on #127
can you run `mkdir -p /Users/cmh/Desktop/afc2004007_066_mv002.dv_dvrescue` and retry. I think the step to make the output folder might have broken.

[2021-03-03 21:29] cmhosale commented on #127
I made the dir as you requested and the results are the same, with the same error output. FWIW it had successfully created a folder during the first test.

[2021-03-03 21:41] dericed commented on #127
Hi @cmhosale, thanks I found that the issue is because I was testing to make sure that the bytes of dv in the culminated outputs matched the bytes of dv from the input. To evaluate that in the output I was using mediainfo's `Video;%StreamSize_Encoded%` value which Mediainfo reports for QuickTime but does not report for Matroska, which is what you were using. I'll revise this test to adjust for com

[2021-03-03 21:51] cmhosale commented on #127
thanks @dericed! Yes, confirming the mkv is out of sync

[2021-03-03 21:53] dericed commented on #127
what do you get when you run `/usr/local/opt/ffmpegdecklink/bin/ffmpeg-dl`

[2021-03-03 21:57] cmhosale commented on #127
I've got no such file or directory there. If it is relevant I originally built dvrescue with brew, and then today installed the daily build with the Mac package from the downloads.

[2021-03-03 22:42] dericed commented on #127
I think the issue is that dvpackager is calling on your locally installed ffmpeg which doesn't include [this patch](https://git.ffmpeg.org/gitweb/ffmpeg.git/commit/76fbb0052df471075858c1cb82b04c8be7adba8d). So either you'd have to reinstall a version of ffmpeg to include that or use ffmpegdecklink via `brew install amiaopensource/amiaos/ffmpegdecklink`. Let us know if that works. We should probabl

[2021-03-03 22:47] cmhosale commented on #127
I went the ffmpegdecklink route and it worked well! MKV is in sync! In Jan when I reported the issue I'm pretty sure I had been trying with the most recent common brew formula ffmpeg, but maybe the patch wasn't in that one. Anyways, good to know, thank you!

[2021-03-03 22:49] dericed commented on #127
That patch wasn't introduced into ffmpeg until December 2020. There were a few other workarounds before but not as good as this method. I'll add a check that the ffmpeg qualifies, thanks so so much for this testing and feedback.

[2021-03-06 13:27] dericed commented on #127
Will close based @cmhosale's tests. @iamdamosuzuki, please reopen if you see anything different.

[2021-03-06 13:30] dericed commented on #64
Hi to @kieranjol @JeromeMartinez,
I just reviewed MV9026.mov in the latest version of dvrescue and there's some substantial progress on this issue.

The new version of the dvpackager table for default settings is:
[code]

So three files are created, mostly because there is a 7 second shot in the middle of the recording (some students taking the stage) where the audio configuration is different tha

[2021-03-06 13:30] #64 closed

[2021-03-06 13:33] dericed commented on #27
Will close as the html report is generated via dvplay since https://github.com/mipops/dvrescue/commit/d0cdca6c00d4e32cca7a93a3a4b34e0eb824ad84

[2021-03-06 13:33] #27 closed

[2021-03-06 13:46] dericed commented on #194
I retested on a much larger sample set of dv and found these results.

[code]

d:aud/@n is about double d:aud/@n_even so ... not suspicious after all :-D with aud dif block concealment being about 51% percent in even numbered dif sequences and 49% in odd numbered ones. With a larger set, I presume the numbers would balance more.

[2021-03-06 13:46] #194 closed

[2021-03-06 13:47] #127 closed

[2021-03-10 01:52] dericed commented on #257
done in https://github.com/mipops/dvrescue/pull/265

[2021-03-10 01:52] #257 closed

[2021-03-11 14:17] dericed commented on #253
thx!

[2021-03-11 14:17] #253 closed

[2021-03-11 14:19] dericed commented on #245
@libbyhopfauf, what do you think of a pair of icons for the extender action to show/hide the file-list
![image](https://user-images.githubusercontent.com/762604/110801052-d785e800-824a-11eb-9f6a-47be0a315e86.png)
![image](https://user-images.githubusercontent.com/762604/110801077-dce33280-824a-11eb-9da2-4d060c5226ed.png)

Currently it's a simple `^` vs `>`.

[2021-03-12 19:43] libbyhopfauf commented on #245
See #271 and #272

[2021-03-17 14:10] dericed commented on #245
will close, i think we got everything listed, will reopen when we get to this work on other tabs

[2021-03-17 14:10] #245 closed

[2021-03-17 14:24] #162 closed

[2021-03-24 23:42] privatezero opened #276 ""Add Files" only finds xml"
Testing version `v.0.20.11.20210320` on Ubuntu 20.04 and currently something is off with the "Add Files" button in the GUI. It only allows the loading of .xml files and not .dv files.

If the "Add Files" button is not used, dragging and dropping a .dv file into the GUI seems to perform as expected.

[2021-03-24 23:44] libbyhopfauf opened #277 "Mac GUI - suggestions for improving Transfer interface"
Below is an image of the sections that I am referring to with each item in the numbered list.

1.) Did the inverted logo/any of the variations on a transparent background work in here? Do I need to make a new version so we can use one with a transparent background?

2.) Could we bold this text for the table? Or change the color? It is really hard to read, so not very accessible.

3.) Super minor,

[2021-03-24 23:47] libbyhopfauf commented on #276
@privatezero In the Mac version, you can change the file kind it's looking for, but the default is .xml (took me a bit to see that I could change it). Is that an option on the Ubuntu end? Regardless, I was also about to post an issue regarding this. Could we make it so that the tool just searches for all compatible files?
<img width="1792" alt="Screen Shot 2021-03-24 at 4 46 58 PM" src="https://us

[2021-03-24 23:52] privatezero commented on #276
lol oops! I just found I can do the same - but yes I agree, I think it would be best if the GUI showed all possible inputs. +1 on Libby's future issue

[2021-03-24 23:52] #276 closed

[2021-03-24 23:56] libbyhopfauf opened #278 ""Add files" - default is .xml vs. .dv"
When you click the "Add file" button in the "Analysis" interface, the default file type is .xml. Would it be possible to switch this so that the default is both .xml and .dv? If not, I think the video formats should be the default since that's most likely what users will be importing for QC.

<img width="1792" alt="Screen Shot 2021-03-24 at 4 56 34 PM" src="https://user-images.githubusercontent.co

[2021-03-25 00:18] libbyhopfauf opened #279 "device not recognized in dvrescue"
Despite a bunch of reboots and settings troubleshooting, I can't seem to get DVRescue to detect any of my decks....

<img width="1792" alt="Screen Shot 2021-03-24 at 5 13 24 PM" src="https://user-images.githubusercontent.com/13877631/112399971-805d2a00-8cc4-11eb-9c71-6a90df64f4fe.png">

....but they are showing up in vrecord

<img width="1792" alt="Screen Shot 2021-03-24 at 5 17 28 PM" src="https:

[2021-03-25 00:22] libbyhopfauf opened #280 ""Settings" menu"
I do think it's nice to have the option to change the location/version of dvrescue that you want the GUI to use, but could there maybe be a default (for example /usr/local/bin/dvrescue)?

<img width="559" alt="Screen Shot 2021-03-24 at 1 18 39 PM" src="https://user-images.githubusercontent.com/13877631/112400275-44769480-8cc5-11eb-8995-fb4f6459b7c9.png">

<img width="546" alt="Screen Shot 2021-03-

[2021-03-25 15:58] privatezero commented on #278
+1: I agree that default view to include both .dv and .xml with the option to limit to either would be most intuitive

[2021-04-01 07:16] ElderOrb commented on #280
In fact dvrescue-gui auto-detects tools path on first startup and then stores it in settings. I should finally add the way of clearing that settings (at least to demonstrate existing behaviour) but this is separate story

[2021-04-04 20:42] dericed opened #284 "pts error on pal source"
With many_attributes.dv I get this output:

[code]

The `frame/@pts` values don't seem to make sense. For example:
[code]

I would presume that pts would be 1.12. `n/video_rate=pts` but the pts appears to be using the ntsc frame rate.

[2021-04-04 21:25] JeromeMartinez commented on #284
The file is PAL during 28 frames then NTSC, and currently only 1 format is used for PTS computing (frame number / selected frame rate), I'll adapt the code for using the frame rate of the current frame instead, with a risk that the PTS is wrong if the current frame is buggy (e.g. you have all NTSC but a buggy frame detected as PAL due to a corrupted `video_source` --> wrong PTS; I'll try to avoid

[2021-04-04 21:29] dericed commented on #284
Can we calculate pts based on the same detection as used for the metadata of the `<frames>`? Currently the pts calculate is inconsistent with the metadata there.

[2021-04-04 22:22] JeromeMartinez commented on #284
I prefer to fix the source of the issue, actually not so difficult (I should have done that sooner...)

New output would be:

[code]

32 PAL + 34 NTSC = 2.41446666666667 so rounding seems to be OK with this POC, I prepare 2 patch (one for MediaInfo PTS computing and one for DVRescue using MediaInfo PTS instead of frame number / frame rate)

[2021-04-06 13:05] #284 closed

[2021-04-06 15:09] dericed opened #286 "design packager interface"
The current interface for dvpackager in the ui is this:
![image](https://user-images.githubusercontent.com/762604/113732852-f18add00-96c7-11eb-9e1e-2a31f6f9b3ef.png)

@ElderOrb has it working on windows, but we need some design for the options and workflow. The ui should allow the user to control the following options:

[code]

[2021-04-06 21:50] dericed opened #287 "plotted data should include all <sta> values"
Most of our sample data uses `<sta t='10'` but @privatezero found a sample that does use an alternate error value. See https://gist.githubusercontent.com/privatezero/2b1b465d51deceafeea97fcc39ffca26/raw/f0ab1f3ed97094611d6fd81c99cd537b581e1459/dvrescue-out.xml. Perhaps we should differentiate the sta error values somehow but for now let's parse all `frame/sta` values regardless of what the value o

[2021-04-06 21:51] dericed commented on #287
Interestingly, the table's plot of the sta error codes does include t=14 but not the graph.

[2021-04-07 19:47] dericed opened #290 "crash on dv sample"
Sample and xml, there's no video_size or chroma_subsampling reported but these values are used to determine the count of dif sequences per frame. If no hint, let's fallback to 12 as a dif_sequence_count but also try to get mediainfolib to determine those values for this sample.

http://samples.ffmpeg.org/ffmpeg-bugs/roundup/issue1407/dv_dsf_1_stype_1.dv
https://gist.github.com/dericed/2e5f39d0f1ec

[2021-04-07 20:16] JeromeMartinez commented on #290
`stype` (indicating the chroma and size) is 1, which is a reserved value is ST 314, so XML fields are not filled.

[2021-04-07 23:47] libbyhopfauf opened #291 "Mac GUI - "Help" menu"
Currently, the "Help" menu is empty. Are we planning to have the -h page here or will it link to a GitHub/the DVRescue website for documentation?

[2021-04-07 23:49] libbyhopfauf opened #292 "GUI icons glossary/key"
Create/add a glossary/key for icons in the table and graph for the GUI. Also needed are tool tips to appear when hovering over each type of icon.

[2021-04-07 23:54] libbyhopfauf opened #293 "Mac GUI - suggestions for improving "Analysis" layout"
Should we maybe change the color used for highlighting the current frame in the graph and table? Like since we already use red to indicate stop markers (as well as green, blue and orange for other types of markers), maybe we could use like...purple to highlight rows in the table/plot point on the graph to make it a little less confusing?

[2021-04-08 00:08] libbyhopfauf opened #294 "GUI - Behavioral suggestions"
I know we've talked about this previously, but I wasn't sure where we landed: in the workshop today several people mentioned it would be nice to have the navigation buttons change color when hovered or any indicators of hovering (movement or color change).

[2021-04-08 19:25] dericed commented on #294
Yes this effect was added to the timeline markers, so they show an outline during mouseover. The playback buttons on the analysis tab also show a slight darkening in color during hover. Do you mean with the transfer/analysis/package/settings/help/debug buttons? @ElderOrb could you add a similar highlight to these during hover as with the markers, maybe also setting the svg to darken to mid-gray if

[2021-04-08 20:13] dericed commented on #293
purple sounds good to me, for graph cursor and row highlight.

[2021-04-13 08:04] ElderOrb opened #297 "Integrate cygwin & scripts into Windows installer"
Windows version of dvrescue-gui requires cygwin and a few other helper scripts to execute dvpackager. All the dependencies currently on github (in this PR https://github.com/mipops/dvrescue/pull/288) but it needs to be copied into the dvrescue-gui's build folder and packaged into archive or installer.

Here is what exactly needs to be copied:

0. before copying attributes for the following folders

[2021-04-14 16:49] libbyhopfauf commented on #294
Awesome! Thank you!

[2021-04-14 16:49] #294 closed

[2021-04-14 16:49] libbyhopfauf commented on #293
Perfect! Thank you!

[2021-04-14 16:49] #293 closed

[2021-04-14 20:22] g-maxime commented on #297
Test snapshot: https://mediaarea.net/download/snapshots/binary/dvrescue-gui/20210414-3/

[2021-04-15 10:01] ElderOrb commented on #297
It nearly works, cool! Nearly, because archive doesn't seem to have results of

attrib +S Source\GUI\dvrescue\dvrescue\windows-tools\cygwin\dev\\*
attrib +S Source\GUI\dvrescue\dvrescue\windows-tools\cygwin\bin\\*

[2021-04-15 10:04] ElderOrb commented on #297
Hm, seems like github remove slash betwen 'dev' and '*' in original description, fixing it now :)

[2021-04-15 10:05] ElderOrb commented on #297
Also, can you please produce installer / package for this PR ? https://github.com/mipops/dvrescue/pull/288

[2021-04-15 16:46] g-maxime commented on #297
Build of #288 with fixed attributes:
https://mediaarea.net/download/snapshots/binary/dvrescue-gui/20210415-2/

[2021-04-19 13:54] AoifeFitz opened #299 "DVPackager Windows"
Hello all,

Great to see this project up and running! Looks like it will be an invaluable resource for DV capture, QC and preservation.

Please excuse any incorrect terminology I am about to use - I am not very fluent in git-speak, cloning etc..

I have a .dv file that goes out of sync when transcoded in any way, I am wondering if it is the same issue that Dave Rice flagged in the AMIA 2020 confer

[2021-04-20 14:25] kieranjol commented on #299
Hi Aoife - if memory serves, those tools like dvpackager in there are actually bash scripts which will not run natively in a windows CMD prompt. There's a few ways around this, but if you're up for the challenge, I was able to get it working in windows in the Ubuntu subsystem - https://docs.microsoft.com/en-us/windows/wsl/install-win10
That should allow you to use the bash tools on the command lin

[2021-04-20 15:28] dericed commented on #299
It's true, https://github.com/mipops/dvrescue/pull/288 should bring dvpackager in the ui to Windows. We'll send a link when it's ready to test.

[2021-04-20 15:59] AoifeFitz commented on #299
Hey @kieranjol ! Thanks for the tip, I will check out this link and also brush up my memory of the various scripts! And thank you @dericed , I'm looking forward to testing it out :)

[2021-04-20 16:05] ElderOrb commented on #299
First POC on cygwin integration seems to be working: https://github.com/mipops/dvrescue/pull/288

[2021-04-20 18:15] iamdamosuzuki opened #301 "DVRescue Capture won't working in vrecord without camera permissions"
A user tried capturing via vrecord using macOS 10.14.6 and got the following error

![DVRescue_Error](https://user-images.githubusercontent.com/3967767/115444348-4d299000-a1c9-11eb-87e0-ee21fe730e9c.png)

The key part here is "this app is not authorized to use DV-VCR"

The user changed the OS camera permissions (System Preferences -> Security and Privacy -> Privacy -> Camera -> Added Terminal to t

[2021-04-20 18:24] BleakleyMcD commented on #301
I had this same problem with avfctl a while back. Solved with the same solution!

[2021-04-20 23:16] dericed commented on #299
Hi @AoifeFitz @privatezero, there's now a version of the DVRescue GUI with the packaging process at https://mediaarea.net/download/snapshots/binary/dvrescue-gui/20210420/. The GUI on the package tab should let you open a file and set the following options and run the packaging process:

[code]

Currently the GUI won't show any feedback from running it (besides the debug log) but next to the input

[2021-04-21 08:50] AoifeFitz commented on #299
Thanks so much for sending me this. I downloaded and ran the file through the GUI packager, testing each of the options. Each option bar -S outputted an XML file, I have attached it here as a .txt file. Is this to be expected, or should the output be dv files split into segments? I may be wrong with my analysis of the file, but it plays beautifully as .DV, the sync issues arise when it is transcod

[2021-04-21 13:22] dericed commented on #230
think this work is complete, thx :)

[2021-04-21 13:22] #230 closed

[2021-04-21 13:23] dericed commented on #128
Hey @JeromeMartinez, I noticed that @aoifefitz also sent an xml where the sequence numbers (formerly arbitrary bits) increment by 2. See https://github.com/mipops/dvrescue/files/6349412/d9eda6f8-0ea0-48fe-bdae-0575588673fa.dv.dvrescue.txt. Thoughts about switching the logic for seqn_nc to https://github.com/mipops/dvrescue/issues/128#issuecomment-729193543.

[2021-04-21 13:25] dericed commented on #299
Hi @AoifeFitz, could you please update to the latest dvrescue command line tools at https://mediaarea.net/download/snapshots/binary/dvrescue/ and the latest gui at https://mediaarea.net/download/snapshots/binary/dvrescue-gui/ and then re-run this test. Also please confirm that you have ffmpeg 4.4 or later installed.

Then when running the packager part of the GUI, you should see a packaged file ap

[2021-04-21 13:56] AoifeFitz commented on #299
Hi @dericed , I think I have updated everything accordingly (disclaimer that my compilation skills are not the best) and upon running DVPackager through the GUI with the -d flag checked, a sidecar file is generated with a .xml file present. I will attach a copy below if you would like to take a look.
[d9eda6f8-0ea0-48fe-bdae-0575588673fa.dv.dvrescue.txt](https://github.com/mipops/dvrescue/files/63

[2021-04-21 14:38] dericed commented on #299
Hi @AoifeFitz , the xml you attached at https://github.com/mipops/dvrescue/files/6351362/d9eda6f8-0ea0-48fe-bdae-0575588673fa.dv.dvrescue.txt is from dvrescue 0.20.06 which likely is too old to work here. I see the path to your dvrescue cli in the image you pasted, but I'm surprised that updating to the latest at https://mediaarea.net/download/snapshots/binary/dvrescue/ didn't replace that version

[2021-04-21 15:24] AoifeFitz commented on #299
Yes, I see yet I seem to be working from 0.20.11 according to command prompt - I'll have another go at compiling and updating and update here when done :)

[2021-05-04 20:35] leonardonencioni6 opened #305 "dvmerge segmentation fault"
I tried to merge two small .dv captures (24 mb) from the same footage and I got a segmentation fault (core dumped).
terminal:
leonardo@leonardo-System-Product-Name:~$ dvrescue '/home/leonardo/Desktop/dvgrab-001.dv' '/home/leonardo/Desktop/dvgrab-002.dv' -m '/home/leonardo/Desktop/dvgrab-new.dv'
DVRescue v.0.20.11.20201120 by MIPoPS
Segmentation fault (core dumped)

These two files actually didn't

[2021-05-04 21:14] JeromeMartinez commented on #305
Please provide the files (send a download link directly to @dericed  or me if they can not be public).

[2021-05-05 12:23] leonardonencioni6 commented on #305
I have sent you the drive link to **jerome@mediaarea.net**.

[2021-05-24 17:45] NMAAHC commented on #279
I'm having the same problem

[2021-05-26 21:21] dericed commented on #287
@ElderOrb, could you send a pull request, the fix seems to be only in your fork

[2021-05-27 20:42] dericed opened #307 "add tape presence consideration for avfctl"
currently if I use avfctl with the foreground option, but there is no tape, then it never ends:

[code]

The command above never stops.
Should test for the presence of a tape, to be sure that the commands are possible.

[2021-05-27 23:43] libbyhopfauf opened #308 "Suggestion for Documentation"
I think it would be easier to navigate the website if we made the deck guide its own page vs. how now you have to scroll through the setup page to get to it.

[2021-05-27 23:44] privatezero commented on #308
makes sense to me!

[2021-05-29 02:02] libbyhopfauf opened #312 "website: macOS Transfer Station Set-up"
These images (related to the website guidance/documentation) for the "macOS Transfer Station Set-up" are ready for review. They are available here: https://drive.google.com/drive/folders/1gVpzu19n54w6VjNos7F8LG-3OVD2TSjB?usp=sharing

Feedback appreciated.

Accompanying text is in the works and will be submitted for review shortly.

[2021-05-29 02:04] libbyhopfauf commented on #301
Thank you! Adding to the troubleshooting section of the documentation/guidance page!

[2021-05-29 02:12] libbyhopfauf commented on #308
I think maybe "Cleaning and Maintenance" should be its own thing too and that the "Cleaning Supplies" should be under that page. Just seems like it would be more intuitive to navigate. And on that same note, the poster link under "Cleaning Supplies" needs to be updated to this one: https://drive.google.com/file/d/1rl-0pmiTF3_98wLNPf2_KS9UVbYfYQys/view?usp=sharing

[2021-06-04 23:39] privatezero opened #313 "docs image sizing"
We need to:
* resize many images to more web friendly resolutions when hi-res isn't needed
* edit css to display larger images when needed (currently limited to 400 px)

[2021-06-09 19:49] dericed opened #315 "make a release and update homebrew installers"

[2021-06-09 22:59] libbyhopfauf opened #316 "new images for website"
Here are the new, properly sized images for the repair and cleaning supplies: https://drive.google.com/drive/folders/1bWMB-jZGgJMFQJgjnh99BoUBW-8ndjx1?usp=sharing

[2021-06-09 23:00] #316 closed

[2021-06-09 23:00] libbyhopfauf commented on #313
Here are the new, properly sized images for the repair and cleaning supplies:

https://drive.google.com/drive/folders/1bWMB-jZGgJMFQJgjnh99BoUBW-8ndjx1?usp=sharing

[2021-06-09 23:10] libbyhopfauf commented on #313
And here are the smaller versions of the macOS transfer station images:

https://drive.google.com/drive/folders/1nzLiiPeeBl4lK_ngJShlDvCggQZXdsiw?usp=sharing

Let me know if you have trouble accessing the link!

[2021-06-15 21:11] dericed opened #320 "pal but it's not pal"
[DVC007_20210306_pass5_ntsc-pal-ntsc.dv.zip](https://github.com/mipops/dvrescue/files/6658717/DVC007_20210306_pass5_ntsc-pal-ntsc.dv.zip)

This sample gives (reporting the errors):
[code]

The middle frame is listed as PAL, but it is 120000 in size, which is a conflict. FWIW, ffmpeg also identifies this frame as PAL, but it's just a broken NTSC frame.

[2021-06-15 21:32] dericed commented on #320
Also tested with 0.20.11.20210528 and 0.20.11.20210613, but there's no frame size, and the video_rate and frame size mismatch.

[code]

[code]

[2021-06-16 01:15] dericed commented on #236
Going to close. Sadly no Ubuntu 18.04, but we're working in a range of Qt to support the latest Ubuntu LTS 20.04.

[2021-06-16 01:48] dericed commented on #278
@libbyhopfauf can you review in the daily builds and comment or close

[2021-06-16 02:29] #155 closed

[2021-06-16 02:30] dericed commented on #94
nudge nudge :) nudge nudge :) @JeromeMartinez :-D

[2021-06-16 21:20] dericed opened #321 "dvpackager give an option for mono tracks"
For instance if you have DV with 4 channels of unrelated content, like different mics or langauges on each channel.

[2021-06-16 21:36] dericed opened #322 "dvpackager: add a fake channel 1/2 (or 3/4) for 0 channel sections"
Hoping this works with @libbyhopfauf's no audio dv stream.

[2021-06-18 18:34] dericed commented on #320
<?xml version="1.0" encoding="UTF-8"?>
<dvrescue xmlns="https://mediaarea.net/dvrescue" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://mediaarea.net/dvrescue https://mediaarea.net/dvrescue/dvrescue.xsd" version="1.1">
	<creator>
		<program>dvrescue</program>
		<version>0.20.11.20210616</version>
		<library version="21.03">MediaInfoLib</library>
	</creator>
	<medi

[2021-06-22 19:30] dericed opened #324 "dvpackager: offer a means to add a user-created subtitles"

[2021-06-22 19:30] dericed opened #325 "dvpackager: add user-selected metadata to container"

[2021-07-06 22:55] privatezero commented on #308
Should be addressed in https://github.com/mipops/dvrescue/pull/314

[2021-07-06 22:55] #308 closed

[2021-07-06 22:55] privatezero commented on #312
Should be addressed in https://github.com/mipops/dvrescue/pull/314

[2021-07-06 22:55] #312 closed

[2021-07-18 22:20] dericed opened #327 "If unknown presume video rate dif sequence count"
With the attached file, the first frame contains no packs in the vaux section, so the xml is like this:

[code]

Could we presume the rate is 30000/1001 based on the count of the dif sequences in the frame (10 vs 12)?

[BAVC1010851_DV000053_take01-003_1st_2_frames.dv.zip](https://github.com/mipops/dvrescue/files/6837025/BAVC1010851_DV000053_take01-003_1st_2_frames.dv.zip)

[2021-07-24 15:50] dericed opened #328 "recognize non-standard playback speed"
[BAVC1010855_DV000161_take01-002_rew.dv.zip](https://github.com/mipops/dvrescue/files/6872682/BAVC1010855_DV000161_take01-002_rew.dv.zip)

This sample shows a DV tape made by playing one DV tape and recording to another (with a firewire connection between two decks). This shows the recorded DV tape. The first few frames show the recorded frames when the playing tape is in pause mode, then the subs

[2021-07-24 17:00] dericed opened #329 "starting a sequence with no audio pack"
[BAVC1010855_DV000161_take01-002_audio.dv.zip](https://github.com/mipops/dvrescue/files/6872785/BAVC1010855_DV000161_take01-002_audio.dv.zip)

This sample gives this xml:
[code]

The 2nd `frames` is `audio_rate="48000" channels="2"` but the first frame of it is `no_sourceorcontrol_aud="1"`. Because of this when ffmpeg reads from this offset, no audio is detected and it decodes from here without de

[2021-07-24 17:04] dericed commented on #329
To clarify, I don't think we need to reset `<frames>` for each occurrence of `no_sourceorcontrol_aud` but when no_sourceorcontrol_aud occurs in the first frame, then it creates an issue when trying to use the position of the first frame of that section to decode from.

[2021-07-25 13:45] dericed commented on #329
If resolving this issue, please bump the dvrescue xml version as well.

[2021-07-25 13:54] dericed commented on #329
Trying to work on a workaround to this and realizing that if there's a portion of a dv stream that we need to start at, such as a frame with a rec_start or the start of a new `frames` or a timecode code; if that starting frame has no audio pack, then I need to start decoding at the next frame which does have an audio pack, but for that I need the offset (and other metadata about that subsequent fr

[2021-07-26 10:35] frozenAntilope opened #330 "dvpackager: error in ffmpeg command (line 347)"
dvpackager throws an error, when inspecting a *.dv (I tried various) file:

`/usr/local/bin/dvpackager: line 347: ffmpeg: command not found`

looking at the code here on github line 347 brings a
`fi`
command. But no direct ffmpeg command.

What could be the issue here?

[2021-07-30 18:47] dericed opened #331 "bump dvrescue xml to 1.2"
in XSD and in XML

[2021-07-30 19:20] dericed opened #333 "rename `<frames>`"
I've found the name of the `<frames>` element creates some confusion, particularly when discussed along with the `<frame>` element. I suggest to rename it and am welcome to suggestions.

@libbyhopfauf and I discussed: section, sequence, part. This value is a label for a series of frames that share key properties; when there's a change in aspect ratio or ntsc/pal or channel count* then that would s

[2021-07-30 23:26] #330 closed

[2021-07-30 23:34] dericed commented on #322
@libbyhopfauf do you still have this sample around? It should be resolved in the main branch via https://github.com/mipops/dvrescue/pull/332/commits/c11cc0fc9753d58f3ead98ac71c3990ebe84fb0a

[2021-07-31 01:06] #321 closed

[2021-07-31 01:14] dericed commented on #290
The output looks better now like this:

[code]

However, the output says `audio_rate="48000" channels="4"`. This is not possible in DV. Channels may equal 4, only if audio rate is 32000.

[2021-07-31 01:15] dericed commented on #330
Thanks for reporting this. The dvpackager script relies on ffmpeg and in this case the script was running without verifying that it was installed. With the updates referenced, it should complain and give a better error is ffmpeg is missing.

[2021-07-31 01:16] dericed commented on #328
samples are at https://drive.google.com/drive/folders/1oAMqPIYrVUVHwINSVB7WvfNcTCGOQ6nf. Thx @privatezero

[2021-07-31 01:42] dericed commented on #217
samples by Paul at https://drive.google.com/drive/folders/1S4lCxdCJXb_9hhYQfH96HRakjdg43G_M. This needs a readme or some documentation though to make some conclusions.

[2021-08-15 20:49] JeromeMartinez commented on #329
Do you have a file with more than 1 frame with no_sourceorcontrol_aud="1"?
(for tests about the algorithm I implement, I prefer to have a real life file rather than a synthetic one).

[2021-08-15 20:53] dericed commented on #329
The sample is a cut from a real world file. Do you want the whole thing?

[2021-08-15 20:56] dericed commented on #329
sent link to full file via google drive.

[2021-08-15 20:58] JeromeMartinez commented on #329
The sample has only 1 frame with no_sourceorcontrol_aud="1", I am interested in another file with 2 or more consecutive frames with no_sourceorcontrol_aud="1", so I can test also this use case.
I understand that if I have:

[code]

Result should be:
[code]

(frame 2 moved also in the first "frames" block)

right?

[2021-08-15 21:15] dericed commented on #329
DVR_002.dv has this case, do you have it?

[2021-08-16 14:25] dericed commented on #329
relatedly could you add an attribute called `@ends_with_no_audio_pack` (better name?) to note cases where the content of `<frames>` includes no audio pack in the last frame. Either as a boolean, omit if last frame includes audio pack, or as a count of trailing frames with no audio pack.

[2021-08-17 21:17] dericed commented on #128
[BCD00042 - 0_00_20_00_3min.dv.zip](https://github.com/mipops/dvrescue/files/7003069/BCD00042.-.0_00_20_00_3min.dv.zip)
sample file

[2021-08-18 19:56] dericed commented on #322
resolved via https://github.com/mipops/dvrescue/commit/c11cc0fc9753d58f3ead98ac71c3990ebe84fb0a. Nudge to @libbyhopfauf to test :)

[2021-08-18 19:56] #322 closed

[2021-08-22 15:56] dericed opened #342 "report on missing audio packs"
[BAVC1010855_DV000161_take01-002-6643800000-6644260000.dv.zip](https://github.com/mipops/dvrescue/files/7027668/BAVC1010855_DV000161_take01-002-6643800000-6644260000.dv.zip)
[BAVC1010855_DV000161_take01-002-6643800000-6644040000.dv.zip](https://github.com/mipops/dvrescue/files/7027669/BAVC1010855_DV000161_take01-002-6643800000-6644040000.dv.zip)

These two samples produce these xmls (with 20200822

[2021-08-22 16:06] JeromeMartinez commented on #342
For the moment no coherency check triggers a line in the XML output.
If I add such test, I have:

[code]

Which coherency check should trigger a line?
only `no_sourceorcontrol_aud` or also `no_sourceorcontrol_vid` / `no_pack_aud` / `full_conceal_aud` / etc?

[2021-08-22 19:17] #329 closed

[2021-08-22 21:08] JeromeMartinez commented on #333
I like that "frames" element includes "frame" elements.
"seq" wording is also used in a DV frame.

I understand that this may be confusing for the user, so I let you decide :).

[2021-08-22 21:14] dericed commented on #333
Ok, frames for now. If you were lurker and had an opinion, please feel free to speak up or reopen.

[2021-08-22 21:14] #333 closed

[2021-08-24 15:38] dericed commented on #331
done in https://github.com/mipops/dvrescue/pull/345

[2021-08-24 15:38] #331 closed

[2021-08-24 15:39] dericed commented on #297
@ElderOrb is this resolved?

[2021-08-24 18:35] iamdamosuzuki opened #346 "GUI Feature Request: Playback Timestamp"
There currently isn't a way to view the current playback timestamp when you're playing a video in the GUI. I'm not exactly sure where it should go. Maybe in the blank space to the left or right of the transport buttons? Left side could be current time stamp and right side could be duration.

[2021-08-24 18:36] iamdamosuzuki opened #347 "GUI Modification Request: Show only filename in file dropdown, not entire path"
For my QC workflow I'm regularly opening 10 videos at a time in dvrescue, but it's hard to page through them because the entire path shows up in the dropdown menu and the file name itself is truncated. Personally I would never need to see the entire path here, but maybe it could be an option?

[2021-08-24 19:02] dericed commented on #347
Ya I agree that filename alone would suffice. Maybe if there were two files open with the same name then the file path could be shown instead, else just the filename.

[2021-08-24 22:32] dericed commented on #327
Adding another sample
[test_b.dv.zip](https://github.com/mipops/dvrescue/files/7042430/test_b.dv.zip)
Here the first and third frame are the same frame, but the output is like this:

[code]

ffmpeg is able to correct say that the first frame is 30000/1001 and 4:1:1

[2021-08-26 15:37] dericed opened #348 "recent avfctl won't run on macOS 10.14.6"
[code]

few minutes later
[code]

am running macOS 10.14.6

[2021-09-03 17:38] iamdamosuzuki opened #350 "GUI Feature Request: Ability to compare two files"
Hi, this isn't urgent, but a technician mentioned it'd be helpful to be able to open two files at once (view two graphs at once in analysis) to visually compare two captures of the same tape.

[2021-09-04 21:44] dericed opened #352 "unreported audio error"
In this 3 frame sample, the center frame has nulled audio data and 0xffffffff for audio packs. The xml is:

[code]

I suggest that we report on the second frame as containing no audio packs. The event is worthwhile and re-capturing on this event may be worthwhile.

[2021-09-04 22:03] dericed commented on #352
[TESTTHIS.dv.zip](https://github.com/mipops/dvrescue/files/7110573/TESTTHIS.dv.zip)

[2021-09-04 22:04] dericed commented on #352
I added a fourth frame to the sample, as the third sample is suspicious and missing a pkt_duration in ffmpeg.

[2021-09-07 20:27] dericed opened #353 "incoherent audio characteristics"
[BAVC1010665_4_48k.dv.zip](https://github.com/mipops/dvrescue/files/7124130/BAVC1010665_4_48k.dv.zip)

This sample produces:
[code]

`audio_rate="48000" channels="4"` is not possible in DV. I use `channels=4` to prep for expected a second stereo track with ffmpeg, but (at the offset of 4 channels) ffmpeg detects no audio:

[code]

For audio packs in this frame we get this:

[code]

[2021-09-08 12:07] ElderOrb opened #355 "debug-level logging for troubleshooting"
At the moment dvrescue either crashes or hangs if being executed from dvrescue-gui and it is not clear why. Would be great to get detailed debug log (doesn't really matter stdout or file).

[2021-09-09 21:27] privatezero opened #356 "Optional file suffixes for split output"
As per the discussion at recent meeting, we need to think of a list of desirable suffixes for tape files that are split by DV Packager. So far ideas include:
* Time code
* _part1 (_part2, _part3 etc.)
* others??

[2021-09-10 14:01] dericed opened #357 "report invalid stype"
[4at.dv.zip](https://github.com/mipops/dvrescue/files/7144297/4at.dv.zip)

Contains invalid audio stype = 24

[2021-09-15 02:46] dericed commented on #356
How would timecode be formatted in a filename. For instance `tc=01:53:22;24`, how should the filename expression of that be formed?
Others:
- pts of input (current)
- recording timestamp, but also need to format this
- frame number of input or frame range of input

[2021-09-15 18:18] dericed opened #358 "ui component for dv segments"
This ui component would be relevant for both the packaging and analysis tab.
Two sub-components:
- user options for segment
- list of segments of the selected file according to the user segmentation options

Here are the user segmentation options
[code]

To get the table for the segment table ui, run `dvpackager -T <user segmentation options> dvrescue.xml`. This will generate a table like https://

[2021-09-29 23:36] libbyhopfauf opened #363 "2021-09-29 GUI: multiple decks?"
It seems like the GUI is only recognizing one of my decks that I have connected to my computer, but vrecord sees two.

![Screen Shot 2021-09-29 at 3 58 11 PM](https://user-images.githubusercontent.com/13877631/135362587-644f2f45-3115-4a17-b36b-6bb4c07b4717.png)

But if I close out of the GUI, turn off the first deck and then restart the GUI, it does see the other deck. So it seems like it's only r

[2021-09-29 23:40] ElderOrb commented on #363
Actually what if dvrescue could present as much 'players' as much decks are connected? This way controlling decks would be much simpler than via combobox and visualizing captured frames too.

[2021-09-29 23:40] libbyhopfauf opened #364 "2021-09-29 GUI: must enter ".dv" with identifier"
Using the 2021-09-29 GUI, when prompted to enter an identifier after clicking on "Capture" you need to manually enter ".dv" after the identifier (vs. just the identifier, as with vrecord) before clicking "Save" otherwise the file is saved as a text document.

![Screen Shot 2021-09-29 at 3 31 08 PM](https://user-images.githubusercontent.com/13877631/135363047-d7afa3fa-1ac0-45a5-adfc-8d63eda02cbe.pn

[2021-10-01 22:50] libbyhopfauf commented on #363
I think that would work! That would be better too for stopping captures so that you didn't accidentally end the wrong one. I think @dericed was envisioning that previously too!

[2021-10-01 22:57] libbyhopfauf opened #366 "2021-09-29 GUI: deck control on/off?"
For one of my decks (Sony HVR-M15U), there isn't a "remote/local" switch or option in the menu to change it to be remote. With vrecord, this seems to work fine (I just do not select "deck control" when capturing). But with the dvrescue GUI, it seems like the tool is able to control the deck because after I hit capture and enter the file name, the deck switches into play. However, the GUI playback

[2021-10-07 17:46] dericed commented on #324
I can't remember where this idea came from but might consider this out of scope. Any objection?

[2021-10-07 17:46] privatezero commented on #356
@dericed I like that - that maps exactly to our naming conventions here are UW! (If there is no _part# we assume it was all one)

[2021-10-09 14:49] dericed commented on #350
Hey @iamdamosuzuki, could you elaborate more on what you think that would look like?

[2021-10-12 13:52] #355 closed

[2021-10-15 18:26] svhartzell opened #371 "dvpackager error: file expected but missing"
Hi, I'm using dvpackager to repackage a .dv file captured with afvctl. Running this command ` dvpackager -S -e mkv -v  /Users/benjaminturkus/Desktop/dan1504/myd_683160_v01_pm.dv ` , and getting the following error

[code]

The full output is attached. Any help is much appreciated, thank you
[dvpackager_error_10152021.txt](https://github.com/mipops/dvrescue/files/7355316/dvpackager_error_10152021.t

[2021-10-15 18:49] dericed commented on #371
actually the attached log is from
`dvpackager -S -e mkv /Users/benjaminturkus/Desktop/dan1504/myd_683160_v01_pm.dv`
Can you rerun with
`dvpackager -S -e mkv -v /Users/benjaminturkus/Desktop/dan1504/myd_683160_v01_pm.dv` ; cowsay "Ben ruined this video"

[2021-10-15 22:51] libbyhopfauf opened #372 "GUI layout alternative?"
Would it maybe easier to review all the information causing an error if the full table was visible at once? Especially with a large file that slows down the GUI response time (like so you wouldn't lose track of where you are). Thoughts?

<img width="1792" alt="GUI_layout_alternative_NEW" src="https://user-images.githubusercontent.com/13877631/137562287-21cd94cb-a9cf-4ea9-b5b3-670fcbedb594.png">

[2021-10-16 00:17] libbyhopfauf opened #373 "dvanaylsis GUI 2021-10-13 table/graph navigation issues"
When clicking through the list of items in the table view, the line selected (clicked on) won't always stay highlighted. Also, when clicking through the table, the purple line tracker on the graph will move along accordingly, but if you click to a spot in the graph, the line in the table isn't always highlighted. Also, is there a way to prevent the table from scrolling automatically to put the pur

[2021-10-16 00:28] libbyhopfauf opened #374 "GUI capture button mock-up"
How does everyone feel about this for the capture button icon in the "Transfer" mode?

![capture_2](https://user-images.githubusercontent.com/13877631/137566604-a0756e19-20fe-4130-95ef-70e872b9bc76.png)

[2021-10-16 04:27] libbyhopfauf opened #375 "GUI - analysis graph"
Would it be possible to either change the color of the text or add a contrasting background for when you are hovering your cursor over various parts of the graph? It's a little difficult to read.

<img width="725" alt="Screen Shot 2021-10-15 at 9 25 43 PM" src="https://user-images.githubusercontent.com/13877631/137573709-6abc1c6e-ac25-4ed4-8795-a8f6654a55fa.png">

[2021-10-16 04:30] libbyhopfauf commented on #356
I agree with adding zeros and the name conventions of file_part1-2.mov and file_part2-2.mov (etc)!

[2021-10-16 04:34] libbyhopfauf commented on #350
I like that idea! That would make comparing files prior to and post merging visually intuitive! I'm not sure how this would work logistically, but what if (similarly to the "Segments" section in "Analysis") if you could click into another section called "Compare" and then select one or more files from the list and then it could present the table and graphs as stacked? I think in order to not have

[2021-10-21 23:35] libbyhopfauf commented on #374
added here: https://github.com/mipops/dvrescue/pull/379

[2021-10-25 14:27] #371 closed, assigned to nobody

[2021-10-30 17:50] dericed opened #381 "add version variable to dvpackager"
Within dvpackager I'd like to access to version value in Project/version.txt. Could you edit the dvpackager script in the make/install process, for instance to add a second line during install that is "VERSION=${value from Project/version.txt}".

[2021-10-30 18:05] dericed commented on #348
Related to recent tests on 10.14.6
[code]

also (I think with 20211002 build.
[code]

[2021-10-30 18:05] #324 closed

[2021-10-30 18:09] dericed commented on #347
This is done is the recent daily builds. Thx!

[2021-10-30 18:09] #347 closed

[2021-10-30 18:32] dericed commented on #94
reopening with https://github.com/mipops/dvrescue/pull/340#issuecomment-955574373

[2021-10-30 19:08] dericed opened #382 "more info in non-continuous icons"
We currently have icons of a zigzag to represent a non-continuous value in the dv stream. With a recent update will can tell if the discontinuity is positive or negative. I suggest we split the zigzag icon into something that can communicate the direction of the discontinuity. Like maybe a right arrow on it if the timecode jumps ahead or left arrow if it jumps back. Or is that tmi?

[2021-10-31 16:01] ElderOrb commented on #287
changes seem to be in main already

[2021-10-31 16:18] #287 closed

[2021-10-31 16:20] dericed commented on #358
Closing as complete. Thx @ElderOrb

[2021-10-31 16:20] #358 closed

[2021-10-31 16:21] dericed commented on #350
@ElderOrb, thoughts on this?

[2021-10-31 16:22] dericed commented on #346
I was thinking of waiting on this until we support filterchains in the player. @ElderOrb, are we ready for filters in the player, or should we consider displaying pts outside of the player?

[2021-10-31 16:24] dericed commented on #291
Hi @libbyhopfauf, we can put whatever we like there. In QCTools, the links to a tabbed window that flips between various HTML pages.

[2021-10-31 16:25] dericed commented on #286
I think this is mostly designed within chats with @ElderOrb. It's basically the segment table, same as on the analysis tab but adding a most to select-unselect multiple segments to exclude from export. Maybe we need a status bar and list of output files as they are made too.

[2021-10-31 16:26] dericed commented on #280
Hmmm, is this issue still open @ElderOrb, @libbyhopfauf, @JeromeMartinez . I would like to have these bundled within the app, so that the app is usable even if the user doesn't have the dependencies installed outside of the gui.

[2021-10-31 16:28] dericed commented on #279
@libbyhopfauf, still? I just tested in the latest daily build and seems ok.

[2021-10-31 16:39] dericed commented on #277
1. I'm unclear on this issue. Is that was https://github.com/mipops/dvrescue/blob/main/Source/GUI/dvrescue/dvrescue/icons/logo-inverse.png file is for?
2. IIUC, this table is unused. @ElderOrb, i suggest the list in this table match the file table in other sections. I agree with @libbyhopfauf about readability.
3. Hmmm, @libbyhopfauf can you replace https://github.com/mipops/dvrescue/blob/main/Sou

[2021-10-31 16:41] dericed commented on #201
This is resolved since full frame concealment no longer uses the `<sta>` element.

[2021-10-31 16:41] #201 closed

[2021-10-31 16:47] dericed commented on #119
Updating with daily build 20211031. Now the xml, vtt, and scc are made in dvrescue which can capture from the device directly (perahps only the first device?). However, on Control-C, the xml, vtt, and optional scc are empty. cc @JeromeMartinez

[code]

[2021-11-01 00:44] libbyhopfauf commented on #279
Oh no, this is resolved now!

[2021-11-01 15:26] dericed commented on #348
Also dvrescue 20211101 on 10.14.6
[code]

[2021-11-02 13:32] dericed opened #387 "dvrescue issue on macOS 10.14.6"
On macOS 10.14.6

installer from 0905
[code]

installer from 0904
[code]

[2021-11-02 13:40] dericed commented on #348
An update on avfctl on macOS 10.14.6

with 0710 installer.
[code]

with 0717 installer.
[code]

[2021-11-02 16:54] dericed opened #388 "null filled blocks crash dvrescue"
[deb_test2_crash.dv.zip](https://github.com/mipops/dvrescue/files/7462593/deb_test2_crash.dv.zip)

This output is from an experimental dvrescue capture process but we crash so :)

Error crashes dvrescue:

[code]

[2021-11-03 09:05] g-maxime commented on #387
Please test https://mediaarea.net/download/snapshots/binary/dvrescue/20211102-2/dvrescue_CLI_0.20.11.20211102_Mac.dmg

[2021-11-03 15:10] dericed opened #389 "merge-log and stderr"
With --merge-log the stderr output is suppressed. Can we have this option show the logging in both places?

[2021-11-03 15:35] dericed commented on #387
Looks good. Thx

[2021-11-03 15:36] dericed commented on #348
Retesting with https://mediaarea.net/download/snapshots/binary/dvrescue/20211102-2/dvrescue_CLI_0.20.11.20211102_Mac.dmg

[code]

segmentation fault with -foreground option

[2021-11-10 18:08] libbyhopfauf commented on #280
@dericed I think that would be great and make it a lot easier for folks!! It seems like when I install a new version it remembers where the paths were, but when I tried it on a different computer where dvrescue hadn't been install previously, I had to manually input the paths.

[2021-11-10 18:10] libbyhopfauf commented on #382
@dericed I think that is a great idea! I was actually just working on the documentation for this and was thinking that it was kind of vague/confusing the way I was explaining, so I think that having two different ones that illustrate the direction would make it more intuitive for sure! I'll get going on those this afternoon!

[2021-11-11 19:37] ElderOrb commented on #375
Hmmm... how did you get charts on black bg? :) Its white on my environment. Asking to better understand how to reproduce it and what colors of background are possible.

[2021-11-11 19:54] ElderOrb commented on #374
![image](https://user-images.githubusercontent.com/23638/141360453-a66faa99-1acc-4295-89cb-cdad7ceaad67.png)

[2021-11-11 20:05] ElderOrb commented on #374
![image](https://user-images.githubusercontent.com/23638/141361804-2305aeb3-2256-4ea6-805b-d15f3bceaf7f.png)

[2021-11-11 20:08] ElderOrb commented on #374
@dericed @libbyhopfauf ^^

[2021-11-11 20:12] ElderOrb commented on #372
@dericed any thoughts?

[2021-11-11 20:20] ElderOrb commented on #364
![image](https://user-images.githubusercontent.com/23638/141363566-0f185368-17dd-4d16-a4eb-20a768f55cb1.png)

[2021-11-11 20:23] ElderOrb commented on #346
Simple cases should be working now (at least works for me in QCTools). Also we will never know till try. What is required from me here? Just apply some filter unconditionally? @dericed

[2021-11-11 20:28] ElderOrb commented on #286
Current state of packaging:

![image](https://user-images.githubusercontent.com/23638/141364520-d08817e4-d504-47e4-af4e-d8bf7647b661.png)

[2021-11-11 20:29] ElderOrb commented on #286
https://github.com/mipops/dvrescue/pull/391

[2021-11-11 20:30] ElderOrb commented on #280
@JeromeMartinez @g-maxime anything you need from me to package stuff properly? dvrescue auto-detects tools from anything inside PATH. Also it adds a few folders (like tools) into PATH. One of such folders could be used for bundling

[2021-11-11 20:33] ElderOrb commented on #223
where exactly in dvrescue-ui you would like to see it @dericed ?

[2021-11-12 02:12] libbyhopfauf commented on #374
@ElderOrb that looks perfect!!!! Thank you!

[2021-11-12 02:16] libbyhopfauf commented on #223
@dericed agreed! these are really useful! Also, @privatezero I think that could be really helpful, but maybe annoying with a really bad tape? Would it be difficult to have it as a feature/filter that could be turned on and off?

[2021-11-13 02:46] libbyhopfauf commented on #382
see https://github.com/mipops/dvrescue/pull/396

[2021-11-14 19:51] libbyhopfauf opened #398 "GUI: transfer player layout suggestion"
Here's a mock-up for a proposed alternative layout for the GUI transfer player window:

![player_mock-up](https://user-images.githubusercontent.com/13877631/141696217-54951fc9-1573-4ff0-85e6-8addb7d46353.png)

[2021-11-14 20:12] libbyhopfauf commented on #277
@dericed @ElderOrb

1. Yep! That's it!
2. OOO yes, that would be great if it matched the others!
3. I like that idea better, actually! How about this:

![transfer-no-signal](https://user-images.githubusercontent.com/13877631/141696914-f78c83e8-55ba-4284-8545-6e1596591789.png)

[2021-11-14 20:28] libbyhopfauf opened #399 "GUI: dvanalysis segment rules layout alternative"
Here's a mock-up of an alternative layout for the dvanalysis segmenting rules. Let me know what you think @privatezero @dericed

![analysis-segment-rules-mockup](https://user-images.githubusercontent.com/13877631/141697483-f641ed0b-ee3c-4819-b0ba-510c7ef631bb.png)

[2021-11-16 21:06] dericed commented on #398
@ElderOrb this font plz :D https://github.com/keshikan/DSEG

[2021-11-16 21:08] dericed commented on #398
labeling should be `frame #,timecode,rec date,rec time`

[2021-11-16 21:26] libbyhopfauf commented on #398
![player_mock-up_NEW](https://user-images.githubusercontent.com/13877631/142068318-3e1f77cc-11cc-4784-8bc0-7cf7e0326123.png)

[2021-11-16 23:01] libbyhopfauf opened #400 "GUI: dvpackager processing status icons"
<img width="628" alt="Screen Shot 2021-11-16 at 3 01 31 PM" src="https://user-images.githubusercontent.com/13877631/142079957-8ced6296-96e8-456a-8d8e-524bfbe1ba20.png">

[2021-11-17 13:42] dericed commented on #400
:D

[2021-11-17 16:31] ElderOrb commented on #400
nice, can we get it as a separate files (and merged to main) ? :)

[2021-11-17 19:48] libbyhopfauf commented on #400
No problem! I'll have them up there and open a pull request shortly!

[2021-11-17 19:48] libbyhopfauf commented on #400
PR https://github.com/mipops/dvrescue/pull/401

[2021-11-18 13:42] #387 closed

[2021-11-18 17:09] privatezero opened #405 "GUI not building Ubuntu 20.04"
Just tried installing dvrescue-gui on Ubuntu 20.04 from the [20211118-4](https://mediaarea.net/download/snapshots/binary/dvrescue-gui/20211118-4/) daily build, and it isn't being successful. I get the following error when trying to run:

[code]

[2021-11-21 21:59] JeromeMartinez commented on #405
We updated dependencies and built from last update of sources.
Please try [the last public build](https://mediaarea.net/DVRescue/Download/Ubuntu) (and next snapshots should be fine too).

[2021-11-21 21:59] #405 closed

[2021-11-22 17:44] privatezero commented on #405
All seems well now - thanks!

[2021-11-22 21:07] belak1 commented on #128
Reporting this here on @dericed request: I've been setting up DVRescue stations with two different DV decks and noticed them behaving differently in DVRescue regarding sequence numbers, even with the same tape.

For the Sony HVR-M35U deck, DVRescue occasionally reports `seqn="F"` for some frames on the tape. This appears to be along with other changes or errors at that particular frame.

For the S

[2021-11-22 21:14] JeromeMartinez commented on #128
Again... We definitely need to handle 2 increments as normal even if it is completely out of specs...

but...

I thought that the seq numbers are in the tape, not built by the deck, this piece of information is totally new to me.
Issue I see there is that if we dump a tape from 2 different decks (it may be interesting in case decks don't handle bad tape the same way), we may have issues in synchin

[2021-11-22 21:18] dericed commented on #128
New to me too and am appreciative for @belak1 for running this multi-deck experiment. Seems like there is a small byte range of each block that is constructed during the reading and blending with the data from the tape. The 'sta' value is in the same range.

[2021-11-23 21:00] belak1 commented on #128
In case it's useful, here's the output after merging the transfers of the same tape from the two different decks.

[yrlsc_2226_001_001-MERGEDECKS.dv.dvrescue.txt](https://github.com/mipops/dvrescue/files/7590994/yrlsc_2226_001_001-MERGEDECKS.dv.dvrescue.txt)

[2021-12-09 16:00] stuarticus opened #416 "dvrescue --merge concatenated files"
As title says, ran:

`dvrescue Tape_028.dv Tape_028_2.dv Tape_028_3.dv -m Tape_028_master.dv`

The output was simply all 3 files concatenated into a 3 hour file. Win 10, DVRescue v.0.21.11

Is there an option I have missed?

[2021-12-09 16:06] stuarticus commented on #416
C:\Tape_028\Tape_028.dv

Frame Count: 95174

Frame count with video error concealment: 23358 frames
Total video error concealment:   9830705 errors ( 9830705 "A" errors)
Frame count with CH1 audio error code: 15353 frames
Total audio error code for CH1:    473395 errors (   95450 Dseq=0,    63009 Dseq=1,    94738 Dseq=2,    62555 Dseq=3,    94845 Dseq=4,    62798 Dseq=5)
Frame count with CH2 audio

[2021-12-09 16:44] JeromeMartinez commented on #416
There may have been an issue with the sync of time codes. Could you provide the files (in private if needed)?

[2021-12-09 16:55] stuarticus commented on #416
Thanks Jerome, they come to over 40GB in total, and I would have to approach the owner of the DV tapes.

Would the frame table help at all?

[2021-12-09 17:33] JeromeMartinez commented on #416
Let's try with something short: first and last time code of each file?

[2021-12-16 09:56] stuarticus commented on #416
Sorry for the poor formatting.

   94287	01:02:51.480	01:02:43:22	 	1997-11-28 16:16:18    	 	2	 	 	 	1	2	 	 	 	 	 	 	 	 	44.60% (     669 "A" errors)	CH2: 33.33% ( 9 Dseq=A,  9 Dseq=B)

   95173	01:03:26.920	01:02:43:23	 	1997-11-28 16:16:18    	 	3	 	 	 	1	2	 	 	5	 	 	 	 	 	27.60% (     414 "A" errors)	CH1: 27.78% ( 6 Dseq=4,  9 Dseq=5), CH2: 50.00% ( 9 Dseq=6,  9 Dseq=7,  9 Dseq=8)			405 Arb bi

[2021-12-16 20:48] libbyhopfauf opened #417 "GUI - settings typo"
Super minor, but in 2021-12-11 version of the dvrescue GUI, when you open the settings window, the message at the top should presumably read "Please specify tool locations..." or "Please specify tool locations." or "Please, specify tool locations..."

Currently, there is no space between "please" and "specify" and there are two dots at the end.

[2021-12-17 00:26] libbyhopfauf commented on #375
@ElderOrb I'm not sure! The GUI just always has looked like that to me (always had a dark background for the graph)

[2021-12-17 00:28] libbyhopfauf commented on #373
@ElderOrb @dericed just FYI, this is still an issue and seems to be happening on both my computers, as well as new 2021 MacBooks.

[2021-12-18 13:15] dericed opened #418 "report audio error as reported by DSR-1500"
The DSR-1500 deck doesn't seem to follow this part of the [specification](http://web.archive.org/web/20060927044735/http://www.smpte.org/smpte_store/standards/pdf/s314m.pdf):

[code]

DSR-1500 doesn't fill audio blocks with 0x8000 on error, but instead repeats a value, so as a result dv transferred with DSR-1500 never reports an audio error in dvrescue's tools.

Here's samples of the error audio b

[2021-12-18 13:20] dericed commented on #418
sampe: [BAVC1009969-001.dv.zip](https://github.com/mipops/dvrescue/files/7739282/BAVC1009969-001.dv.zip)

[2021-12-21 21:52] iamdamosuzuki opened #420 "Possible DV alternate format: Does anyone know what this is"
Hi,

I have a collection where a large chunk of the tapes don't playback in any of my decks. I've tried the following decks:

Sony DSR-1500
Sony DSR-45
Sony DSR-11 (in both PAL and NTSC mode)
Sony DSR-1800
Panasonic AJ-SD93

None of them play the tapes. Most of them just play either a black or grey screen, though time code seems to advance. The DSR-1800 shows a bunch of crazy colors, which suggest

[2022-01-03 21:52] dericed commented on #420
gotta sample of what you captured?

[2022-01-03 21:53] dericed commented on #375
It's the system setting isn't it?
![image](https://user-images.githubusercontent.com/762604/147984470-81bb14b5-646f-4962-80bd-7976e1c8e67b.png)

Maybe we could force a background color like we do in qctools, rather than hope the system default works.

[2022-01-04 17:06] dericed commented on #119
Testing latest dev build. When I control-C to stop capture the output is not frame-aligned. CC @JeromeMartinez

[code]

Is there a preferred way to stop the capture? Could dvrescue listen to stdin for a 'q'?

[2022-01-04 17:08] JeromeMartinez commented on #119
Ctrl-C is fine, it should be aligned because we catch the corresponding system event.

[2022-01-04 20:47] dericed commented on #328
I propose adding `@direction` and `@speed` attributes to `<frame>` and reporting on values that are not equal to the defaults, which would be `1` for direction (forward) and `0x20` for speed (normal playback speed).

interpretation of the speed value is page 22 of http://web.archive.org/web/20060927044735/http://www.smpte.org/smpte_store/standards/pdf/s314m.pdf. Goes in a range of 0b0000000 - 0b11

[2022-01-04 20:49] dericed opened #423 "add machine readable progress output to dvrescue"
currently the dvrescue output when reading an input stream is like this:
[code]
which is frame number, timecode, recording date, recording time.

I suggest adding an option for a machine readable output that the gui can interpret and use. This could be in `key=value,...` or as a csv.

Also for machine-readable output, I suggest adding additional values:
- direction
- speed
- abst

[2022-01-07 18:33] iamdamosuzuki commented on #350
Hi sorry I never followed up on this. @libbyhopfauf's suggestion is close to what I was thinking. A section called Compare where you could look at two files matched by timestamps would be visible. I think the error graph for each being visible would be more useful than the table being visible, but maybe the ability to toggle between the two would be nice.

[2022-01-07 18:33] iamdamosuzuki commented on #420
Turns out it's HDV!

[2022-01-10 19:48] iamdamosuzuki commented on #420
Unfortunately I can't seem to get the firewire link to send HD video to the computer.

The deck I'm using is a Sony HVR-M25U

[2022-01-10 19:56] dericed commented on #420
Seems like that deck has an option to output in dv or hdv or auto:

![image](https://user-images.githubusercontent.com/762604/148830482-8c6c62a4-4014-48fa-ab67-ba0ac414d829.png)

Would recommend auto.

[2022-01-10 19:59] iamdamosuzuki commented on #420
Yeah i just looked up the menu. I had the above setting correct, but it appears that the downconvert option in the iLink settings was on. I'll retry in an hour or two and let you know if it works.

[2022-01-10 21:07] iamdamosuzuki commented on #420
Ok got it working. To be clear, the option is:

IN/OUT REC -> iLINK SET -> HD/DV CONV: OFF

[2022-01-10 21:07] #420 closed

[2022-01-10 21:41] iamdamosuzuki commented on #420
also, I'm using DVHSCap to capture mt2 files.

[2022-01-11 07:26] kieranjol commented on #420
The auto transcode of HDV to DV on a lot of decks is pretty awkward.

On Mon 10 Jan 2022 at 21:41, Morgan Oscar Morel ***@***.***>
wrote:

[2022-01-12 01:33] iamdamosuzuki opened #424 "invalid header blocks read to misdiagnose frames as 4:2:2"
I came across a problematic tape, reporting this in github as requested by the dvpackager:

[code]

Here's a link to the file (uploading currently, will be done in about an hour): https://drive.google.com/drive/folders/15mJEOPRvX0tlR4_9rvSuCRbxKq0x93Wi?usp=sharing

[2022-01-13 16:35] dericed commented on #424
Attached are two files that show this issue:

[BAVC1010329_0397_offset5645040000_6frames.dv.zip](https://github.com/mipops/dvrescue/files/7864333/BAVC1010329_0397_offset5645040000_6frames.dv.zip)
[BAVC1010329_0397_offset5769197600_6frames.dv.zip](https://github.com/mipops/dvrescue/files/7864335/BAVC1010329_0397_offset5769197600_6frames.dv.zip)

The current xml is like:

[code]

[code]

Each file i

[2022-01-13 20:35] dericed commented on #418
Noting that ffmpeg's astats filter can be used as a workaround temporarily:

[code]

If the 3rd or 4th column is not zero or -inf, then there's a repeating set of samples similar to how DSR1500 handles audio error blocks.

[2022-01-14 01:10] iamdamosuzuki commented on #418
I created dvrescue xml files using the latest daily build (dvrescue_CLI_0.21.11.20220113_Mac.dmg) and got the same results as before. Tapes transferred with the DSR-1500 show no data in the audio portion of the graph, despite having various audio errors audible in the file.

[2022-01-14 16:48] JeromeMartinez commented on #418
With [this snapshot](https://mediaarea.net/download/snapshots/binary/dvrescue/20220114-2/) I have first 11 frames flagged as `full_conceal_aud` and 13th & 15th frames with errors, seems in sync with FFmpeg.

[code]

[2022-01-14 21:40] dericed commented on #418
This is great! Thank you! I'd like to also offer some method to clarify if the audio error is a repeated non-standard-error value. Can you add `@t='2'` to these and I can define 2 as a different error at https://github.com/mipops/dvrescue/blob/main/tools/dvrescue.xsd#L527-L530. I'm also thinking that reporting the repeated value could be helpful in diagnosis work, so how about (using `@v` as a val

[2022-01-15 15:08] dericed opened #426 "Need option to enable/disable/adjust the rewind/merge feature during capture"

[2022-01-15 23:47] JeromeMartinez commented on #418
the type and value should also be at the frame level in case the audio part is concealed.
This would lead to (note that there may be more than 1 value, as the check is per block and report per Dseq or frame):

[code]

[2022-01-18 19:07] dericed commented on #424
I'm testing the update with BAVC1010329_0397_offset5769197600_6frames.dv. The xml is

[code]

The size is 720000, which at NTSC is 720000/120000 frames, which is 6. But dvresuce claims there should be 7 frames (0-6). And frame 1 has an offset of `77600` (?).

[2022-01-18 20:32] JeromeMartinez commented on #424
The algo for detecting start of frames does not check enough bytes of blocks (only SCT & Dseq), I added a test on DBN check which should be 0. But if some garbage has a "good" SCT/Dseq/DBN for frame header, we'll have the same issue again.
We may need a smarter algo at some point, with a balance between detecting partial frames in the middle of a stream and avoiding to cut a frame when there is so

[2022-01-18 20:49] dericed commented on #418
Thanks, I tested the new build and the xml of an hour long DSR1500 capture goes from 95KB to 47MB. Attaching examples.
[BAVC1010329_0397.dv.dvrescue_before.xml.zip](https://github.com/mipops/dvrescue/files/7892276/BAVC1010329_0397.dv.dvrescue_before.xml.zip)
[BAVC1010329_0397.dv.dvrescue.xml.zip](https://github.com/mipops/dvrescue/files/7892277/BAVC1010329_0397.dv.dvrescue.xml.zip)

I think `0x000

[2022-01-18 22:23] #424 closed

[2022-01-18 22:26] JeromeMartinez commented on #418
@dericed please a couple of frames demonstrating both issues.

[2022-01-18 22:37] dericed commented on #418
Here's a sample of the empty dseq issue:
[BAVC1010329_0397_3f.dv.zip](https://github.com/mipops/dvrescue/files/7892819/BAVC1010329_0397_3f.dv.zip)

[code]

[2022-01-18 22:40] dericed commented on #418
And the 0x0000 issue.
[BAVC1010329_0397_0x3266880000.dv.zip](https://github.com/mipops/dvrescue/files/7892842/BAVC1010329_0397_0x3266880000.dv.zip)

[code]

[2022-01-19 02:06] iamdamosuzuki opened #430 "ERROR: BAVC1011932_part1.mov is expected but missing."
Hi, I got a fatal error running a file through DVPackager. This file was run on a DSR-1500. The deck was having issues when this tape was created. Another deck was used later and that file worked fine, so something is inherently broken here. Though I thought it'd be good to know what's causing a total failure to package.

DVRescue being used is the very latest version: 20220118-3/

File is current

[2022-01-19 06:59] #418 closed

[2022-01-19 07:34] JeromeMartinez commented on #418
@dericed [adding discard of -1 value](https://github.com/MediaArea/MediaInfoLib/pull/1483) in addition to 0 as FFmpeg fills audio content with -1 (see mix.dv).

[2022-01-21 19:24] libbyhopfauf opened #433 "GUI: touch pad scrolling"
In the GUI, for any part where scrolling is available: using touch pad motions to scroll (vs. clicking and holding) works for up/down, but not for left/right.

[2022-01-22 00:02] dericed commented on #433
This applies in particular to the frame table, segment table and file table.

[2022-01-27 01:24] kelleycoyne opened #435 "Audio errors in AVC videocap"
Audio seems to be recorded in wrong sample rate, either sped up or slowed down. This only effects second half of capture it seems. When recorded separately no issues, but when I try to concatenate the files, the issue returns. Attached folder contains the full take with errors and the separate takes where the audio is correct.

https://drive.google.com/drive/folders/1j-I_2XuYboMcsFWtTfUT2H1PYNuo_A

[2022-01-27 01:46] libbyhopfauf commented on #435
@kelleycoyne just to clarify, did you use AVC videocap to transfer this tape (vs. dvrescue capture or vrecord dvcapture)? Based purely on running the XMLs through dvrescue's analysis mode, it does appear that the audio switched from 32k to 48k at timecode 00:09:06;08 in "part2_01" and "part2_02" appears to remain consistent at 32k. For situations like this, we usually recommend packaging the file

[2022-01-27 01:53] libbyhopfauf commented on #430
hey @iamdamosuzuki ! Just out of curiosity because I was having issues with dvpackager for this version as well (both in the GUI and the CLI) have you downloaded 20220126 to see if it was resolved? I'm also curious because I've noticed some files that I have transferred using my DSR-1500 seem to give packager a lot of problems, but the only pattern I can find is where the timecode is missing (ish?

[2022-01-27 01:58] libbyhopfauf commented on #416
I've definitely run into a similar issue, not always where they merge into a concatenated file of all three files, but where if the timecodes don't line up perfectly between all captures (even by a few frames), the resulting merged file will have the first half of the first file and then add the full second file (so it's like 1.5 files). The amount of time it repeats the same segment from either f

[2022-01-27 01:59] libbyhopfauf commented on #426
@dericed do we need a switch like button for this perhaps?

[2022-01-27 18:40] kelleycoyne commented on #435
@libbyhopfauf Thank you for your reply.  I did transfer the tape using AVC videocap. I will try using dvpackager with the "audio setting change"!!

[2022-01-27 20:32] kelleycoyne commented on #435
I think the issue was trying to concatenate the files after using dvpackager! I didn't realize they needed to stay separate. Thank you for your help!

[2022-01-27 21:13] libbyhopfauf commented on #435
@kelleycoyne no worries! You can also force the audio settings to be all the same and keep it as a single file, but I think that's still a feature that needs to be integrated into dvpackager. So you could end up with several files (the ones split by audio setting in their original recorded setting, plus another one that is forced to change the audio settings all to the same). If you don't select a

[2022-01-27 21:39] libbyhopfauf commented on #399
For this, example, I don't think the "aspect ratio change" rules should be bold (just normal like the rest of the rule options). Also, if it's possible, we should add a similar drop-down menu for "audio setting change" which would include:
"Yes, segment by audio changes"
"No, use most common audio setting"
"No, and force all segments to 32k"
"No, and force all segments to 48k"

[2022-01-27 21:39] libbyhopfauf commented on #399
@dericed @privatezero I think once we finalize this, it should the layout we land on should be used for dvpackager as well, yeah?